[2016-12-03 19:51] Xowap opened #1 "Broken links when JS disabled"
Great to see the doc online! Stumbled across a small issue which I think impacts SEO (and paranoïd users like myself):

**Step by step**

1. Disable Javascript in browser
2. Go to https://nuxtjs.org/
3. Click any relative link (like "Get Started")

**Currently**

The "Get Started" link will send me to https://guide/installation, while other relative links have similar effects

**Expected**

Links

[2016-12-04 18:39] Atinux commented on #1
It's now fixed, we submitted an issue to vue-router about it: https://github.com/vuejs/vue-router/issues/983

Thanks for spotting it @Xowap

[2016-12-04 18:39] #1 closed

[2016-12-04 19:24] Xowap commented on #1
:+1:

[2016-12-04 19:53] Xowap opened #2 "HTTPS redirection"
Well, me again.

Looks like links were fixed in #1 but now they lead to a page without a trailing `/`, which triggers a redirection... in HTTP (not "S").

So basically, any link you click brings you to the HTTP website. Kind of sad I think.

[2016-12-06 07:48] Atinux commented on #2
This was because of our CloudFare configuration (I forgot to redirect the http://nuxtjs.org/* urls to HTTPS.

Now it's fixed, thank you for spotting it @Xowap 👏

[2016-12-06 07:48] #2 closed

[2016-12-06 12:14] Xowap commented on #2
:+1:

[2016-12-07 12:31] LinusBorg commented on #1
@Atinux How did you fix it in this project?

[2016-12-07 12:36] Atinux commented on #1
Hi @LinusBorg

I fixed it in this commit: https://github.com/nuxt/nuxt.js/commit/a30ce76b0c7c5205c6be0b6abc92974534763cef

[2016-12-12 01:14] infinnie opened #3 "Code font"
is rendered like:

Maybe a proper monospace font is needed like

[2016-12-12 10:11] alexchopin commented on #3
Hi,
Thanks for the reviewing, it'll be update soon 👍

[2016-12-12 10:11] #3 closed

[2017-01-05 01:19] k55k32 opened #4 "The Affix can not scroll"
I brower the  [nuxt(vue-store-documents)](https://nuxtjs.org/guide/vuex-store/)
The left nav can not be scroll
I remove the css style`overflow-y: visible;`  on `Affix.vue` [# line 139 ](https://github.com/nuxt/nuxtjs.org/blob/master/components/Affix.vue#L139)
Now is worked. 👍

[2017-01-05 12:53] alexchopin commented on #4
Hi,

@k55k32, thanks for the feedback, it's fixed.

@jvandenaardweg, actually we use it for mobile toggling the Affix component with `:class` so it's just css who handle responsive. We need it even if it useless on desktop.

[2017-01-05 12:53] #4 closed

[2017-01-11 16:20] Atinux opened #5 "Add .editorconfig & .eslintrc.js"
- [x] [.eslintrc.js](https://github.com/nuxt/example-todomvc/blob/master/.eslintrc.js)
- [x] [.editorconfig](https://github.com/nuxt/example-todomvc/blob/master/.editorconfig)
- [x] [package.json devDependencies](https://github.com/nuxt/example-todomvc/blob/master/package.json#L18)
- [x] [package.json lint script](https://github.com/nuxt/example-todomvc/blob/master/package.json#L15)

[2017-01-12 10:29] Atinux opened #6 "Add hreflang meta"

[2017-01-12 19:39] #6 closed

[2017-01-13 08:37] Alex-Sokolov opened #7 "No ability to translate some hardcoded texts"
Placeholder in search is hardcoded:
https://github.com/nuxt/nuxtjs.org/blob/master/components/Search.vue#L3

"Version" in affix is hardcoded:
https://github.com/nuxt/nuxtjs.org/blob/master/components/Affix.vue#L7

Will be great change that in docs-translations

[2017-01-13 08:47] alexchopin commented on #7
Good catch, it's fixed with theses commits [f0f0b23](https://github.com/nuxt/nuxtjs.org/commit/f0f0b231b9d2b775c6552426136cb547494a5b65) and [a64f58d](https://github.com/nuxt/docs/commit/a64f58d235ad5f56f3d9a769823772094f850538).
Thanks

[2017-01-13 08:47] #7 closed

[2017-01-13 09:02] Atinux commented on #7
It's also fixed online @Alex-Sokolov

https://ru.nuxtjs.org/

[2017-01-13 09:03] Alex-Sokolov commented on #7
Thanks!

[2017-01-14 00:16] #5 closed

[2017-01-20 08:38] filoret256 opened #8 "search bar placement error"
Hi there
some error with changing language

ru.nuxtjs.org site headers is good - in one line
nuxtjs.org headers are bad, search bar is out of line, can`t change lang

[2017-01-20 08:58] alexchopin commented on #8
Hi, can you tell more about which browser do you use and some screenshot if it's possible ?

[2017-01-20 20:08] fremdev commented on #8
Hi, I also see the bug in Chrome and Firefox.
![nuxt_search](https://cloud.githubusercontent.com/assets/12509633/22163776/ec9e092e-df5c-11e6-9724-236c418193e5.png)

[2017-01-20 23:50] balupton commented on #8
Safari

![screen shot 2017-01-21 at 7 49 31 am](https://cloud.githubusercontent.com/assets/61148/22169328/4be74a02-dfae-11e6-9d05-c97baa6ba73b.png)

[2017-01-21 07:51] alexchopin commented on #8
Hi,
It should be fixed now, can you confirm?
Thanks

[2017-01-21 08:19] fremdev commented on #8
Yeap, now it's ok.

[2017-01-21 09:12] balupton commented on #8
yup fixed

[2017-01-21 13:00] #8 closed

[2017-01-23 02:30] limichange opened #9 "UI BUG"
![image](https://cloud.githubusercontent.com/assets/1947344/22189289/ae4e8300-e156-11e6-9d17-21a64da55a45.png)
![image](https://cloud.githubusercontent.com/assets/1947344/22189296/ba78b2fe-e156-11e6-8c55-eedff8caceaa.png)
![image](https://cloud.githubusercontent.com/assets/1947344/22189308/c88205ee-e156-11e6-8ccd-d984157914bc.png)

[2017-01-23 02:33] limichange commented on #9
![image](https://cloud.githubusercontent.com/assets/1947344/22189398/4b2366d2-e157-11e6-9566-9b10d94426aa.png)

[2017-01-23 07:06] stchou opened #10 "How to support ie"
my project in ie can  not run

log said:

Make sure to turn on production mode when deploying for production.
See more tips at https://vuejs.org/guide/deployment.html
webpack-hot-middleware's client requires EventSource to work. You should include a polyfill if you want to support this browser: https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events#Tools
SCRIPT5022: [vuex] vuex requir

[2017-01-23 09:51] alexchopin commented on #9
Hi, thanks for the report. It should be fixed now.

[2017-01-23 09:51] #9 closed

[2017-01-23 09:53] alexchopin commented on #10
Hi, can you explain more about your issue?

[2017-01-23 09:55] Atinux commented on #10
What version of IE do you have?

[2017-01-25 10:44] #10 closed

[2017-01-27 12:21] gbezyuk opened #11 "redirect? docs?"
Hi there!
Is there a possibility to specify redirects in Nuxt?
And if there is, is there any documentation for it?

[2017-01-27 13:54] #11 closed

[2017-03-11 14:46] kodekrendel opened #12 "Error in render function"
I git clone this repo, run `npm install` then `npm run dev`:

[code]

[2017-03-15 14:58] germanp opened #13 "Vuex store behaviour when push back button in the browser"
I've found that when you go back (browser back button) you lost the variables stored in vuex store. This happens because the code that initialized the vuex store (from the backend) gets executed again so the store is restarted. The normal behaviour appears to be that the store remains the same when you go back, like how it works on simple html inputs. So the question is, is there any configuration

[2017-03-16 17:57] Atinux commented on #13
Hi @germanp

Can you show a gif of the behaviour you're experiencing?

On Google Chrome, I'm navigating trough https://nuxtjs.org and the back button works perfectly without reloading the page and without emptying the vuex store.

[2017-03-16 17:58] Atinux commented on #12
Hi @kodekrendel

Are you also running the [nuxt/docs](https://github.com/nuxt/docs) server?

[2017-03-17 12:30] germanp commented on #13
Sorry, I forgot to mention that it is after doing a post without ajax and reloading all the page. In summary, you have a form with filled fields and submit them without ajax (doing a full reload and hiting the backend) and then you go back.

I can elaborate an example if it is not clear enough. Thanks

[2017-03-17 12:45] Atinux commented on #13
Ok but this is normal since your form reload the page so the history is compromised. You should use Ajax to submit your form @germanp

[2017-03-17 12:45] #13 closed

[2017-03-17 12:45] #12 closed

[2017-04-03 11:36] alexchopin opened #15 "Change github button version in Homepage"
https://github.com/nuxt/nuxt.js/issues/495

[2017-04-06 10:15] Atinux commented on #15
Fixed?

[2017-04-17 22:33] uptownhr opened #16 "create a page for the 'context'"
https://nuxtjs.org/api#context

I believe this section is important enough to have it's own navigational item on the left.

[2017-04-21 06:53] ausir0726 opened #17 "Visit URL is not latest static infomation"
I found this link
https://nuxtjs.org/guide/release-notes/

if you just visit this link , content show latest version is 0.10.5
but if you navigation to other page and back ( with js append content )
it's latest content ( v0.10.6 )

strange....  Don't know have other pages like this ....

[2017-04-21 06:55] ausir0726 commented on #17
I found this , because I copy the release note to my friend .
but he told me , he only see 0.10.5 release ....

[2017-04-22 09:49] alexchopin commented on #17
Thanks @ausir0726  I'll take a look on it 👍

[2017-04-23 16:35] Alex-Sokolov opened #18 "Navbar problems on iPad"
Open docs site on iPad. Navbar looks very bad

![img_1991](https://cloud.githubusercontent.com/assets/4497128/25315298/e009985c-285b-11e7-9554-0e5a05d9a4c5.PNG)

[2017-04-25 05:14] DiyLecko opened #19 "ko.nuxtjs.org is not appeared."

[2017-04-25 08:31] fxh615 opened #20 "there is a "undefined" text in the body"
there is a undefined  text in the body

[2017-04-25 08:35] Atinux commented on #20
Can you provide the link or a screenshot @fxh615 ?

[2017-04-25 08:36] Atinux commented on #19
@alexchopin is working on it :)

[2017-04-25 08:38] DiyLecko commented on #19
@Atinux Thanks very much :)

[2017-04-25 08:44] fxh615 commented on #20
<link data-n-head="true" rel="icon" type="image/x-icon" href="favicon.ico"/>undefined

just like this all time there is a 'undefined '

[2017-04-25 08:45] fxh615 commented on #20
<!DOCTYPE html>
<html data-n-head-ssr data-n-head="">
  <head>
    <meta data-n-head="true" charset="utf-8"/><meta data-n-head="true" name="viewport" content="width=device-width, initial-scale=1"/><meta data-n-head="true" hid="description" name="description" content="My custom description"/><title data-n-head="true">Hello World!</title><link data-n-head="true" rel="icon" type="image/x-icon" href="

[2017-04-25 08:46] Atinux commented on #20
I'm sorry but I don't understand what you mean.

Can you create a reproduction by forking https://glitch.com/edit/#!/nuxt-hello-world?

[2017-04-25 08:46] #20 closed

[2017-04-25 08:47] fxh615 commented on #20
well i put it on gihub soon

[2017-04-25 08:55] fxh615 commented on #20
https://github.com/fxh615/ads   there is the demo

[2017-04-25 10:02] Atinux commented on #20
![screenshot_2017-04-25_12-02-23](https://cloud.githubusercontent.com/assets/904724/25380021/111f7066-29af-11e7-9b13-e65247acdcc6.png)

It works perfectly on my computer, what is the URL with `undefined`?

[2017-04-25 10:10] fxh615 commented on #20
its local code ,  have you change something ?  what you version of nuxt ?  this is mine version of nuxt "version": "0.10.6",

[2017-04-25 10:11] fxh615 commented on #20
can you del the image?

[2017-04-25 10:21] Atinux commented on #20
Last version of Nuxt.js

[2017-04-25 10:42] fxh615 commented on #20
thank you !

[2017-04-25 14:53] alexchopin commented on #18
Thanks for the reporting, I'll work on it 👍

[2017-04-25 14:54] alexchopin commented on #17
fixed

[2017-04-25 14:54] #17 closed

[2017-04-25 14:55] alexchopin commented on #16
True, any help with a PR is more than welcome 👍

[2017-04-25 14:55] #15 closed

[2017-04-25 16:03] alexchopin commented on #19
https://ko.nuxtjs.org/

[2017-04-25 16:03] #19 closed

[2017-04-25 16:48] uptownhr commented on #16
Will do

[2017-04-26 03:54] DiyLecko commented on #19
@alexchopin Thanks!!

[2017-04-26 15:48] alexchopin commented on #18
Fixed

[2017-04-26 15:48] #18 closed

[2017-04-28 09:29] fxh615 opened #21 "how to use pm2 to run nuxt"
when i use "pm2 start npm -- start" it cant start the node server. I dont konw how to fix it.

[2017-04-30 08:31] alexchopin commented on #21
Not related to this repo

[2017-04-30 08:31] #21 closed

[2017-05-02 02:18] fxh615 commented on #21
cool , its a very urgent function for me. i look forward

[2017-05-09 13:33] qm3ster opened #22 "Fix menu on /examples/"
How to reproduce:

1. Go to https://nuxtjs.org/examples/ (or any example)
2. Click **Middleware** or **i18n** in the left menu.
3. Receive juicy 404
4. Reload window at current URL
5. Receive correct page for the example

[2017-05-15 20:42] fortil opened #23 "How to make the animation of nuxtjs.org intro?"
As the tittle says

I will like to get the animation intro of nuxtjs. I have try to copy the properties htm and css but it doesnt work

Thanks

[2017-05-16 08:04] alexchopin commented on #23
Here is the component:
https://github.com/nuxt/nuxtjs.org/blob/master/components/VueToNuxtLogo.vue

[2017-05-16 08:04] #23 closed

[2017-05-17 02:03] chunge0328 opened #24 "https://zh.nuxtjs.org error 404"
![image](https://cloud.githubusercontent.com/assets/6309807/26135449/1f2c9f54-3ae8-11e7-979c-a23e4384ed79.png)

[2017-05-17 02:04] chunge0328 commented on #24
https://zh.nuxtjs.org/api

[2017-05-17 08:31] chenmingjia opened #25 "ReferenceError: window is not defined"
Nuxt.js Error:

ReferenceError: window is not defined

index.vue:
<template>
</template>
<script>
  import skrollr from 'skrollr'
</script>

[2017-05-17 08:45] Atinux commented on #24
It's now fixed.

[2017-05-17 08:45] #24 closed

[2017-05-19 01:16] #25 closed

[2017-05-27 00:13] queses opened #26 "FAQ - iOS Safari with phone number"
Hi!
Now I'm working at commercial project with NuxtJS and I have met a very unhandy issue: site crashes at iOS Safari. I have spent several days trying to resolve this problem, and finally I have found the thing that broked down the whole site - it was a small phone number in the footer. What a suprise, mobile Safari turns all phone numbers it found into a link, like `+7 (982) 536-50-77` renders i

[2017-05-28 12:35] inouetakuya opened #27 "Search does not work on ja.nuxtjs.org, zh.nuxtjs.org, and ko.nuxtjs.org"
The search does not work on ja.nuxtjs.org, zh.nuxtjs.org, and ko.nuxtjs.org:

![170528-0001](https://cloud.githubusercontent.com/assets/634357/26528771/2fb0079a-43ed-11e7-82bd-e8259fefafc7.png)

[2017-05-29 08:14] #22 closed

[2017-05-29 08:16] alexchopin commented on #27
Thanks for the report, I will take a look on it 👍

[2017-06-06 05:45] tchincc opened #28 "performance.prefetch does not disable the feature"
[code]
It does not have any effect, and it still have so many `<link rel="prefetch" />` in `<head>` if I add page into the router.

[2017-06-09 09:27] milleraa opened #29 "No closing body and html tags"
Hi.

Why generated html file does not contain `</body></html>` ?

[2017-06-09 09:31] milleraa commented on #29
also head tag is missing

[2017-06-13 09:53] janrembold commented on #28
Same here. I tried to set performance property also in generate property. Both options have no effect on the generated markup

[2017-06-13 09:56] pi0 commented on #28
Sorry for inconveniences for lack of documentation. You may use `ssr.inject` and `ssr.shouldPreload` instead. ([docs](https://ssr.vuejs.org/en/api.html#inject))

[2017-06-13 10:08] janrembold commented on #28
@pi0 Thanks for the quick response. I just dived into Vue.js and Nuxt. Could you give me a hint where I have to configure the inject property? I experiment with the plain nuxt/starter template. Thanks in advance!

[2017-06-13 10:11] pi0 commented on #28
You have to add it do `nuxt.config.js` file like this:
[code]

But suggest not doing this! That performance hints are really encouraged normally there should not be any problem with this.

[2017-06-13 10:24] janrembold commented on #28
Sorry, but this configuration has no effect to the generated preload/prefetch link tags in the head.

[2017-06-13 12:35] janrembold commented on #28
Great! :) We are getting closer. This removes the preload link tags but the prefetch tags are still injected. Any idea?

[2017-06-14 02:45] soomtong opened #30 "License for the web site"
I like this site's layout and integrations. but i can't find a license or limitation for public using.

Can I use this source for my open-source project  web site?

[2017-06-14 12:26] alexchopin commented on #30
Hi @soomtong, you can use it and could be nice to mention Nuxt 👍

[2017-06-14 12:26] #30 closed

[2017-06-14 13:58] alexchopin commented on #29
Hi, I cannot reproduce the issue. Can you post some code snippet?

[2017-06-15 17:10] SoldierCorp opened #31 "Cannot deploy to AWS Elastic Beanstalk"
Hello!

I'm trying to deploy the dist folder and my package.json to an EB instante but it's not working, some weird errors are showing related to NodeJS.

In this EB instance I have been deploying this same website but with VueJS 2 without NuxtJS but now I'm trying to deploy with the new structure using NuxtJS.

Do you have any idea?

[2017-06-16 01:28] xiao8cn opened #32 "how can i use local json"
`async asyncData ({ params }) {
            let { data } = await axios.get('~static/test.json')
            return data
        }`

errmsg:
(node:4796) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 2): Error: connect ECONNREFUSED 127.0.0.1:80

[2017-06-19 08:29] milleraa commented on #29
you can open any page and View Source, by example https://nuxtjs.org/api

[code]

[2017-06-20 09:39] alexchopin commented on #29
Nice catch, I'll take a look at it. Thnks

[2017-06-20 11:05] Atinux commented on #29
Hi @milleraa

It's only the minifier which does this, it's not required to be valid HTML and reduce the HTML file size :)

[2017-06-20 11:05] #29 closed

[2017-06-20 21:59] natecox opened #33 "Nuxt Searching Woes"
I enjoy working in the Nuxt framework and have transitioned to using it for client work with my team. In general, it's fantastic, with only a few obvious pain points (SSR with vendor libraries is a notable one).

However, I do want to complain about the choice of name. I get it; it's a play on NextJS from React, and it's humorous. However, trying to find Nuxt documentation or community examples is

[2017-06-20 22:15] pi0 commented on #33
@natecox Maybe that's google's fault learning more :D Actually what i attempt to search is just more related to nuxt without any suggest for next! What about triyng to search with `nuxtjs+ ...` ?

[2017-06-20 22:15] pi0 commented on #33
Also adding term "vue" should help a alot

[2017-06-21 14:40] Alexpintu opened #34 "nuxt generate` with v-on:click"
I was generating a simple project from nuxjs website. It works fine but when i added a button with v-on:click event.,in the generated one, the button doesn't work. It works with npm run dev.
Please help me out. Thanks
Below is my index.vue
[code]

[2017-07-06 08:33] bhavikcex opened #35 "Dynamic Component"
Want to load component based on request

Here is my page
[code]

I don't know how to do, but from above you may get an idea

[2017-07-06 10:30] pi0 commented on #35
Dynamic components coming soon in next release :) [commit](https://github.com/nuxt/nuxt.js/commit/e4e9149b5473ae081cec0a10f354da26d53e63bc). Please open nuxt related issues in nuxt.js repo instead.

[2017-07-06 10:30] #35 closed

[2017-07-09 13:48] derickruiz commented on #32
@xiao8cn Did you end up figuring this one out?

[2017-07-10 08:24] alexchopin opened #36 "Missing URLs"
https://github.com/nuxt/nuxt.js/issues/1060

<div align="right"><sub><em>This bug report is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c10">#c10</a>)</em></sub></div>

[2017-07-15 16:27] fortil opened #37 "How to add SSL to Nuxt"
Hi guys
How to integrate https and nuxt?
I found several examples with express, https, etc, but doesn't work to me with nuxt.

This is my code
In the logs shows 'Started!' but doesn't shows in my navigator
[code]

Thanks

[2017-07-16 10:49] jarnojellesma opened #38 "Spelling mistake on docs"
https://nuxtjs.org/guide/views

"To extend the html template, create a app.html at the root of your project."

**a app.html** should be **an app.html**

[2017-07-19 15:51] lemonpigpig opened #39 "how to add babel-polyfill to webpack entry nuxt"
why i have to add babel-polyfill,my pc application only work in chrome and firefox,other like qq browser cannot load.i found that js file have a error,and some es6 still exist, my config is
 build: {
    babel: {
      presets: ['es2015', 'stage-2'],
      'plugins': ['transform-runtime']
    },
    extractCSS: true,
    vendor: [
      'babel-polyfill',
      'eventsource-polyfill',
      'swiper

[2017-07-19 15:59] pi0 commented on #39
Hi. Please don't make duplicate issues & track state at nuxt/nuxt.js#1118

[2017-07-19 15:59] #39 closed

[2017-07-20 02:38] lemonpigpig commented on #39
sorry

[2017-07-20 07:34] pi0 commented on #39
No problem bro ❤ We just try to organize things to help issues resolved faster.

[2017-07-22 21:05] galvez opened #40 "Brazilian portuguese translation"
@Atinux How can I go about translating this website to Brazilian portuguese? Just fork it and let you do the rest?

[2017-07-22 21:07] galvez commented on #38
@jarnojellesma Open a PR ;)

[2017-07-24 07:43] zppro opened #41 "when i use npm run dev is bad and npm run build && npm start is ok"
when i clone the project and `npm install`
then use:` npm run dev` ,open the firefox http://localhost:3000
![2017-07-24 15-40-10](https://user-images.githubusercontent.com/706344/28512958-aad32914-7086-11e7-9af7-0a79f0375dc1.png)
then I use `npm run build && npm start `
it's ok
---help

[2017-07-24 09:28] pi0 commented on #41
Hi. Please make sure [docs](https://github.com/nuxt/docs) server is also running listening on port 4000 when dev mode. The reason build works are that it automatically switches to public API.

[2017-07-24 09:28] #41 closed

[2017-07-24 12:37] darbaoui opened #42 "All /_nuxt/* files return 404 Not Found"
Hi all,
I deployed my app in production , and start it using this command

Nginx config for this app is

[code]

all is fine but i have this issue
all files under this uri #http://my-ip-addr/_nuxt/filename.[css|js], not found.
![capture d ecran 2017-07-24 a 12 34 27](https://user-images.githubusercontent.com/6907747/28523631-d0e64448-706c-11e7-85fc-a4bdd7d24a2f.png)

[2017-07-24 12:48] pi0 commented on #42
Hi. Would you please share your entire v-host config? Might be related to nuxt/nuxt.js#1144.

[2017-07-24 12:48] #42 closed

[2017-07-24 13:08] darbaoui commented on #42
@pi0
this is my nginx config

[code]

[2017-07-25 16:59] JermeyYann opened #43 "can not get `app.$axios.defaults.headers.cookie` on linux"
os：Ubuntu 16.04.2

node.js：8.0.0.0

code：
![image](https://user-images.githubusercontent.com/13900367/28583765-e34c21d0-719c-11e7-8279-ebdc0c4808cb.png)

result：
![image](https://user-images.githubusercontent.com/13900367/28583884-5a1a2c58-719d-11e7-8b25-76bd1564802f.png)

code is normal on mac

[2017-07-25 17:07] pi0 commented on #43
Hi. Please specify your usage and problem clear. Are you using axios module? And in which function are that `console.log`s?

[2017-07-25 17:24] JermeyYann commented on #43
nuxt.config.js
[code]
check-auth.js
[code]

[2017-07-25 17:38] pi0 commented on #43
Thanks for the report. Typo fixed please just upgrade axios module to `3.0.1` and rebuild your project :)

[2017-07-25 17:38] #43 closed

[2017-07-25 19:16] JermeyYann commented on #43
Thanks for fix issue , but after upgrade , another problem
![image](https://user-images.githubusercontent.com/13900367/28589390-89004ab2-71b0-11e7-9244-f52e0c03ad7f.png)

code:
[code]

[2017-07-25 20:55] pi0 commented on #43
This was a breaking change (and the reason we have bumpted to 3.0.0) to avoid some conflicts. So from this version you have to explicitly use `this.$axios.get`.

[2017-07-27 03:44] JermeyYann opened #44 "problem at middleware"
If i  write wrong `proxy`，`check-auth` was executed 3362 times in one request

- code & result

![image](https://user-images.githubusercontent.com/13900367/28653540-a7bf47bc-72c0-11e7-9ac8-f635f10ac5fe.png)

![image](https://user-images.githubusercontent.com/13900367/28652995-b5188bb0-72bd-11e7-932a-bf44bd793737.png)

[2017-07-27 07:23] pi0 opened #45 "Contribution guide"
As history showed Many people are making wrong issues here instead of [nuxt.js](https://github.com/nuxt/nuxt.js) main repo. So i suggest having a `.github/ISSUE_TEMPLATE.md`
 like [vue](https://raw.githubusercontent.com/vuejs/vue/dev/.github/ISSUE_TEMPLATE.md) which shows a message when creating new Issues.

/CC @alexchopin @Atinux

[2017-07-27 08:37] Atinux commented on #45
@pi0 it's planned with the new version of nuxtjs.org :)

[2017-07-27 08:37] pi0 commented on #45
Great! So closing this one :D

[2017-07-27 08:37] #45 closed

[2017-07-29 02:52] xkjyeah opened #46 "Vue components in node_modules are not compiled on server-side"
I created a simple package named `myp`:
**nuxt.config.js**
[code]
**plugins/sample.js**
[code]
**node_modules/myp/package.json**
[code]
**node_modules/myp/test.vue**
[code]

And the following error message:
[code]

This presumably comes from the server-side renderer, which does not recognize *.vue files. Is it possible to get the server-side renderer to recognize them?

Some libraries export .vue

[2017-07-29 02:53] #46 closed

[2017-07-31 12:08] alexchopin opened #48 "Dedicated Resources Page (Branding)"
Related to https://github.com/nuxt/nuxt.js/issues/1226

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c41">#c41</a>)</em></sub></div>

[2017-07-31 12:09] alexchopin commented on #44
Not related to this repo.

[2017-07-31 12:09] #44 closed

[2017-07-31 12:13] alexchopin commented on #40
Hi @galvez, we are working on the v1 doc, so we'll keep you in touch when the doc will be finished in English first.

[2017-07-31 12:18] alexchopin commented on #40
I close this issue because it's related to [docs repo](https://github.com/nuxt/docs).

[2017-07-31 12:18] #40 closed

[2017-08-03 17:54] uptownhr opened #49 "listening on <nuxt-child> possible to pass events from nested routes?"
is it possible to add event handlers to nuxt-child and fire events from nested pages?

nested.vue
[code]

nested/index.vue
[code]

[2017-08-12 02:23] nyl-auster opened #51 "Server Side Rendering for components called from layouts"
Hello ! on my site (https://yineo.fr/), my right sidebar is a component called from **layouts/default.vue**

Because i don't want to call it in every page component.

So my sidebar with last articles is not server side rendered and google bot can not see it ( see picture below, the left one is what google bot see and probably index )

How can i have server side rendering for my "Sidebar" Component

[2017-08-12 02:27] galvez commented on #51
asyncData() doesn't work in layouts AFAIK. And you should use the nuxtjs
repo to open issues like this ;)

On Aug 11, 2017 23:23, "Yann" <notifications@github.com> wrote:

[2017-08-12 02:33] nyl-auster commented on #51
@galvez oups wrong repo :D Closing this one and re-opening on nuxt

i know about asyncData() , but maybe there is an available workaround : https://github.com/nuxt/nuxt.js/issues/1351

[2017-08-12 02:33] #51 closed

[2017-08-15 17:14] Atinux commented on #49
I believe it's the wrong repo here :)

[2017-08-15 17:14] #49 closed

[2017-08-15 17:15] Atinux commented on #38
PR should be opened on https://github.com/nuxt/docs :)

[2017-08-15 17:15] #38 closed

[2017-08-15 17:16] Atinux commented on #37
I advice you to use a proxy to handle SSL connection (see Heroku for SSL, Now.sh, etc.).

You can also use [CloudFlare](https://www.cloudflare.com/) for this, it's pretty awesome and free!

[2017-08-15 17:16] #37 closed

[2017-08-15 17:16] Atinux commented on #34
Wrong repo

[2017-08-15 17:16] #34 closed

[2017-08-15 17:16] #33 closed

[2017-08-15 17:17] #32 closed

[2017-08-15 17:17] Atinux commented on #31
Wrong repo, should be on https://github.com/nuxt/nuxt.js

[2017-08-15 17:17] #31 closed

[2017-08-16 12:34] hrayr-artunyan opened #52 "Getting a 500 error when I click on any link from the main page."
When I click on any link on the main nuxtjs.org page, I get a 500 error "Cannot read property 'status' of undefined".

[2017-08-17 02:34] sullivanpt opened #53 "injectAs is deprecated but still in docs"
plugin injectAs is documented here https://nuxtjs.org/api/configuration-plugins but it doesn't work and I believe it has been removed from the code base in nuxt/nuxt.js#754

[2017-08-17 19:01] jarnojellesma opened #54 "Redirect to previous page"
Hello,

I was wondering, how can I redirect to the previous page with e.g. the nuxt-link?

Greetings,

[2017-08-19 13:15] jarnojellesma opened #55 "Building takes too long"
I am currently working on a project combining Feathers and NuxtJs, it's a very minimal application, yet the building takes way too long.

Somehow it builds about 10 times before completion.

Here is a minimal app reproducing the error: https://github.com/jarnojellesma/feathersjs-nuxt-server-rendered

[2017-08-22 20:17] nhterry opened #56 "Configuration > Cache - Page Not Found"
https://nuxtjs.org/api/configuration-cache

404
API page not found

Link is on:
https://nuxtjs.org/examples/cached-components/
and
https://nuxtjs.org/guide/configuration

[2017-08-22 20:23] pi0 commented on #56
Hi. Thanks for info I will remove that section too. Actually cache is now possible using a module:

https://github.com/nuxt-community/modules/tree/master/modules/component-cache

[2017-08-23 02:18] alterhu2020 commented on #52
I also met this same issue ,it's interment happened ,sometimes when you go back to nuxtjs.org website in browser and click any other link in the website ,it will show the 500 issue .

By the way I also met this issue with my nuxt project in my local machine .it seems that caused by the session expired ,not sure. need someone to have a look it .

Reproduce steps could be like following:
 1. Click t

[2017-08-24 07:49] daosonit opened #57 "how to use plugin select2 in component vue js ?"
How to pluging select2 in component vue js
[code]
help me!

[2017-08-29 14:36] alexchopin commented on #57
Not related to this repo

[2017-08-29 14:36] #57 closed

[2017-08-29 14:40] alexchopin commented on #54
Hi @jarnojellesma,
According to the [vue-router](https://router.vuejs.org/en/essentials/navigation.html) documentation you can do:
`this.$router.back()`

[2017-08-29 14:40] #54 closed

[2017-08-30 19:33] sirtimid opened #58 "Building fails randomly"
8 out of 10 times bulding fails on server with the following message

npm ERR! Linux 4.4.0-38-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "run" "build"
npm ERR! node v6.11.2
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE
npm ERR! auth-routes@ build: `nuxt build`
npm ERR! Exit status 137
npm ERR!
npm ERR! Failed at the auth-routes@ build script 'nuxt build'.
npm ERR! Make sure you have

[2017-08-30 21:50] pi0 commented on #58
Would you please provide full error trace (Or of exists in npm-debug.log) There is not enough details to help. Also do you confirm there are enough RAM and HDD on router server ?

[2017-08-31 05:04] babakness opened #59 "New to Nuxt question"

[2017-08-31 07:16] #59 closed

[2017-08-31 12:41] sirtimid commented on #58
It's the same error in npm-debug.log. What is considered as enough RAM and HDD? I currently have a digitalocean machine 2GB Memory / 40GB Disk / Ubuntu 16.04.1 x64. Physical RAM being used is usually at 50%, CPU 10%, HDD 50%. When building, memory spikes at 80%.

[2017-08-31 16:19] pi0 commented on #58
This is wired Resources seem enough! And error still shows nothing. Would you please share repo link? (Also that would be nice opening issues in main repo, this repo is for docs)

[2017-08-31 16:28] sirtimid commented on #58
Oh sorry! I didn't realise this is the repo for docs! Unfortunately it is a private project on gitlab, but I 'll try to give more info.

[2017-09-01 17:05] matthew-dean opened #60 "Shouldn't "isDev" be "dev"?"
On this page: https://nuxtjs.org/faq/extend-webpack

In the latest release, I think the object structure is actually `{ dev, isClient }`.

[2017-09-04 16:13] sirtimid commented on #58
This is the more detailed error

0 info it worked if it ends with ok
1 verbose cli [ '/usr/bin/nodejs', '/usr/bin/npm', 'run', 'build' ]
2 info using npm@3.10.10
3 info using node@v6.11.2
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle auth-routes@~prebuild: auth-routes@
6 silly lifecycle auth-routes@~prebuild: no script for prebuild, continuing
7 info lifecycle auth-rou

[2017-09-07 14:27] jaubut opened #61 "kazupon/vue-i18n not working.."
Hi even fork the official exemple on nuxtjs.org and even this one not working.. Anyone know why ?

[2017-09-08 08:46] simnalamburt opened #62 "Languages should never be represented with a national flag"
<img width="250" alt="2017-09-08 5 45 48" src="https://user-images.githubusercontent.com/4435445/30203622-931cde04-94bd-11e7-8b77-a64d2a2e5350.png">

Languages should never be represented with a national flag.

1. A country with a history of British colonization may still use English as their official language, and using the Union Jack to denote their official language could be offensive.
2. A cou

[2017-09-08 14:04] Atinux commented on #62
@simnalamburt Thank you for bringing this up, we will update this with the new website coming.

[2017-09-08 14:04] Atinux commented on #61
Hi @jaubut

Please check updated example: https://github.com/nuxt/nuxt.js/tree/dev/examples/i18n

[2017-09-08 14:04] #61 closed

[2017-09-08 14:05] Atinux commented on #60
It's updated, thank you @matthew-dean

[2017-09-08 14:05] #60 closed

[2017-09-08 14:06] Atinux commented on #58
@sirtimid i let you post this issue in the appropriate repo if this error persists with the last version of Nuxt.js

[2017-09-08 14:06] #58 closed

[2017-09-08 14:08] #56 closed

[2017-09-08 14:08] #55 closed

[2017-09-08 14:08] Atinux commented on #55
Wrong repo

[2017-09-08 14:09] Atinux commented on #53
Fixed, thank you @sullivanpt

[2017-09-08 14:09] #53 closed

[2017-09-08 14:09] #52 closed

[2017-09-08 14:10] #28 closed

[2017-09-08 14:10] #16 closed

[2017-09-13 09:57] Haeresis opened #63 "Nuxt French Traduction"
Bonjour @Atinux,

Je synchronise les travaux de Vuejs-FR et nous avons terminé Vue, Vuex, Vue Router et Vue Server Renderer. Actuellement il nous reste le chantier Vue Loader a traduire dans l'écosystème officiel.

L'un d'entre nous a évoqué la possibilité de traduire Nuxt, ce qui m'a étonné étant donné (il me semble) que tu es français. Mais effectivement, il n'y a pas de documentation française

[2017-09-13 15:10] Haeresis commented on #63
Re @Atinux, je viens de voir sur Twitter que rien n'était en cours.

Reste que nous n'utilisons pas GitLocalize de notre côté après en avoir évoqué la possibilité :
— https://github.com/vuejs-fr/vuejs.org/issues/64

Pour les raisons suivantes :
— https://github.com/vuejs/vuejs.org/issues/933#issuecomment-314556475

Notre workflow actuel étant le suivant :
— https://github.com/vuejs-fr/vuejs.org/is

[2017-09-13 15:15] Haeresis commented on #63
Je viens de jetter un oeil, il semble que le projet est déjà partiellement traduit. Qui s'en occupe ? Vous attendez la traduction complète avant mise en ligne ?

[2017-09-13 15:36] Atinux commented on #63
@Haeresis actuellement la personne en charge n'a plus de temps pour continuer malheureusement.

Normalement y a le setup qui n'est pas tres complique sur https://github.com/nuxt/nuxtjs.org et https://github.com/nuxt/docs

Tu as juste besoin d'ajouter dans ton `/etc/hosts`:
[code]

De lancer les 2 serveurs (docs + nuxtjs.org) et d'aller sur http://fr.nuxt:3000

Apres il suffit de modifier les fichi

[2017-09-13 16:29] Haeresis commented on #63
Merci @Atinux.

Je viens de faire une relecture du fichier : https://gitlocalize.com/repo/100/fr/en/guide/installation.md
La relecture est là : https://gitlocalize.com/repo/100/fr/review/244/segments

Voici les problèmes que j'ai a adresser à GitLocalise lors de mon essai :

— Les PR ne ressortent pas sur le projet GitHub, impossible donc d'avoir un workflow de traduction, d'attribuer des relecteu

[2017-09-14 08:40] Atinux commented on #63
@Haeresis Ce workflow me semble idéal en effet, je suis d'accord avec toi sur les points negatifs de GitLocalize, le projet n'est pas encore mature.

Est-ce que tu veux que je merge ta PR de GitLocalize avant ?

[2017-09-14 08:44] Haeresis commented on #63
Oui ! Je veux bien ;)

[2017-09-14 10:58] congtoanle opened #64 "Nuxt Auth with Django example"
Is there any example Nuxt Auth with Django? I follow this example https://nuxtjs.org/examples/auth-routes but can connect with Django API. It can't remain logged in when refresh page.
Please give me an example.

[2017-09-14 14:06] Haeresis commented on #63
Je t'ai ajouté en membre de Vuejs-FR @Atinux, ce qui nous permettra de te pinguer au besoin dans les issus sur : https://github.com/vuejs-fr/nuxt

J'ai recup les dernières modif et peut tester les trad dans un environnement de dev sur ma machine avec succès.

Dès que tu seras dans la liste des membre de Vuejs-FR je clos cette issue pour continuer nos éventuels échanges là bas (ou ailleurs).

Merci

[2017-09-14 16:15] Atinux commented on #63
Parfait, c'est super carre j'adore :)

Merci beaucoup pour ton aide et ton enthousiasme @Haeresis !

[2017-09-14 21:37] joseomar10 commented on #64
Hi, you could implement https://github.com/championswimmer/vuex-persist

[2017-09-15 07:46] Haeresis commented on #63
De mon côté j'ai changé des documents en français dans le dossier EN de working (le fichier `guide/index.md`. Et je relance la commande
— `nodemon --watch *.js --exec 'node api.js'` depuis un dossier `/nuxt/` (qui correspond au projet `docs` en local).
Ce qui me fait tourner un `http://localhost:4000/`

Puis je lance la commande
— `nuxt start`

Mais le contenu de `http://nuxt:3000/guide` est toujo

[2017-09-15 09:01] Atinux commented on #63
@Haeresis En fait `nuxt build && nuxt start` sont pour la production et utilise directement le déploiement de `nuxt/docs` (https://github.com/nuxt/nuxtjs.org/blob/master/store/index.js#L41).

En fait, pour bosser en local, il te suffit juste de lancer `npm run dev` dans le dossier `nuxtjs.org/` (equivalent a `nuxt`), du coup, il utilisera `http://localhost:4000` pour recuperer les fichiers markdow

[2017-09-15 09:05] Haeresis commented on #63
Tout bon. Merci !

[2017-09-16 08:48] uptownhr opened #65 "Page describing the various nuxt lifecycle hooks"
1. modules
2. plugins
3. middlewares
4. fetch
5. asyncData

And i know window.onNuxtReady should also be mentioned, but not exactly sure where it goes. I can do a quick write up but please confirm if the order looks good.

I also noticed that onNuxtReady is not mentioned in the docs. Is this going to be deprecated?

<div align="right"><sub><em>This feature request is available on <a href="https://

[2017-09-16 11:18] #63 closed

[2017-09-17 15:08] inouetakuya commented on #27
:pray:

[2017-09-18 07:11] guojs opened #66 "How to set each page is rendered from the server"
as shown in the offical websit 'https://zh.nuxtjs.org/examples ',     only first page of the applicaton developed with nuxt  is rendered by server and others are rendered by client ;How to set each page is rendered from the server ?

[2017-09-18 10:20] Luoxinfang opened #67 "use vue init project get Cannot find module './lib/beautify'"
use vue init project get Cannot find module './lib/beautify'!

[2017-09-18 18:19] mtnptrsn opened #68 "Middleware arguments"
SImple question: Is it possible to pass arguments to a middleware?

For ex:

[code]

[2017-09-19 07:16] #68 closed

[2017-09-25 15:44] rlam3 opened #70 "Asset Size Limit?"
I'm getting the follow error when I run `npm run build` in my pipeline

[code]

Was wondering what this is about and how I'm able to resolve this?

[2017-09-30 08:30] Haeresis opened #71 "French Chat for Nuxt.js"
Hi @Atinux,

The « Chat » link for French version will point on Gitter to the `nuxt/nuxt.js` channel. I just create `vuejs-fr/nuxt.js` to map user from French website to a french discussion channel. I already sent an invitation to you and @alexchopin.

But I just realize you prefer maybe have something under nuxt like `nuxt/nuxt_fr` or something like that. So if you prefer to create and manage you

[2017-09-30 09:34] Haeresis commented on #71
Forgot about that, I just see the « Chat » link is not a part of translated features. I continue to translate documentation.

[2017-09-30 09:34] #71 closed

[2017-10-01 16:25] iamonuwa opened #73 "Fixed typo on README.md"
While reading through the README file, I discovered some typos.

My PR has fixed them.

Please verify and merge PR #72...

[2017-10-02 11:22] #73 closed

[2017-10-02 13:39] Atinux commented on #70
This is only warning you can ignore them

[2017-10-02 13:39] #70 closed

[2017-10-02 13:39] #67 closed

[2017-10-02 13:39] #66 closed

[2017-10-02 13:41] Atinux commented on #65
@uptownhr actually fetch & asyncData are run in parallel :)

`window.onNuxtReady((app) => ...)` is called after the App is mounted on client-side indeed, it's not going to be deprecated no.

I would love to see a write up for it :)

[2017-10-02 13:41] #64 closed

[2017-10-02 13:45] Atinux commented on #27
https://github.com/algolia/docsearch-configs/pull/228

[2017-10-02 16:34] Atinux commented on #27
Fixed :)

[2017-10-02 16:34] #27 closed

[2017-10-02 16:56] rlam3 commented on #70
Okay Thanks!

[2017-10-04 03:05] arnoldtkl opened #74 "[Question] quasar framework"
Hi, I am a beginner at VueJS and nuxt. Are quasar framework component and the style can install into nuxt component?

http://quasar-framework.org/components/introduction-for-beginners.html

[2017-10-11 18:26] maziarz commented on #32
I have the exact same problem with local json files. How was this problem solved?

[2017-10-13 06:16] robinlery opened #75 "Nuxtjs Page components are not updated even if the vuex store is updated"
I am using nuxtjs for a server side rendering project. I have a REST API from where I would like to update the Vuex store and display the page. [In the nuxtjs documentation for using Vuex store, it mentions using `fetch` api of the pages](https://nuxtjs.org/guide/vuex-store#the-fetch-method). So I am trying to fetch the article list for the API and render the page.

Vuex store:

[code]

In the pag

[2017-10-16 09:18] bivald opened #76 "Cloudflare (miss-)configuration"
Hi,

You'r obviously using Cloudflare (kudos!) but you've done a miss-configuration making it easy to get your origin IP (and show that you'r own Amazon AWS, 54.XXX.XXX.XXX). This is traditionally not a problem unless your using Cloudflare for DDOS protection, which is a great benefit of CF.

You should rename the subdomain that reveals your actual ip (dxxxxxx.nuxtjs.org) or delete it altogether.

[2017-10-17 05:12] luchanghong opened #77 "nuxt generate error"
- `npm run dev` is ok

- `npm run generate` got

[code]

[2017-10-17 09:43] DevDom05 opened #78 "Nuxtjs and webpack"
I try to use sequelize with a nuxtjs express template but i have some issues with webpack.

How do i avoid some modules or files as external on nuxtjs (to avoid compiling) ?

Regards.

[2017-10-19 10:28] #78 closed

[2017-10-19 11:24] hack2root commented on #46
It is not supposed to be built from node_modules/ or bower_components/ folder. There is a special plugins/ folder aside to the workspace folder (where the nuxt.config.js resides)

[2017-10-19 14:50] hack2root commented on #77
possibly try nuxt generate in /project folder

[2017-10-20 15:59] anteriovieira opened #79 "The deployment is currently unavailable."
![image](https://user-images.githubusercontent.com/1490347/31830441-f0bdb428-b59e-11e7-833f-21f7c5ca0dd1.png)

[2017-10-20 16:00] jordanranson opened #80 "503 The deployment is currently unavailable."
The docs are currently down.

[2017-10-20 16:03] pi0 commented on #80
Hi. Thanks for the report. Closing as is dup of #79

[2017-10-20 16:03] #80 closed

[2017-10-20 16:03] pi0 commented on #79
Hi. Thanks for the report. We will investigate this problem soon.

[2017-10-20 18:57] jordanranson commented on #79
Will this be taken care of soon? I need the docs for a deploy I'm supposed to be doing this afternoon, and it looks like a lot of effort to set up the docs locally.

[2017-10-20 19:00] pi0 commented on #79
Unfortunately, problems are with zeit now: https://twitter.com/zeit_status and out of our control.

I know this i not be so appreciate but you can always use github to browse markdowns :) https://github.com/nuxt/docs/tree/master/en

[2017-10-20 19:01] jordanranson commented on #79
Excellent, thanks. I tried getting the docs API running locally but there are errors. I'll log the errors in the API repo.

[2017-10-21 12:08] anteriovieira commented on #79
Solved!

[2017-10-21 12:08] #79 closed

[2017-10-23 07:53] template01 opened #81 "Building fails. Errno 137."
Hey @Atinux,
Thanks for this nice framework!

I'm trying to depoly a nuxt-project to a small VPS but it fails in the building/compiling process. It throws an error with the Number 137. Below you'll find the full error log.

I'm running the latest `nuxt version (rc11)`, `node v6.11.4` and `npm v5.5.1`
Server specs: `1024mb RAM`, `1x 2.40 GHz CPU`, running `Ubuntu 16.04`.

Some catches:

- When I co

[2017-10-23 08:17] template01 commented on #81
So I did a bit more digging. Indeed the server runs out of memory right around the time when the build process fails. However none of the HDD swap-space seems to be used by the build process. Is there a way to throttle the build process?

[2017-10-23 08:31] Atinux commented on #81
Could you try to build it with node 8 & the last version of NPM @template01 ?

[2017-10-23 10:24] template01 commented on #81
Hey @Atinux!
Yes. Node 8 did the trick. Amaze. Guess it handles the build process more effeciently.
Thanks!

[2017-10-23 10:24] #81 closed

[2017-10-24 16:20] eruby94 opened #82 "A little type o"
![screen shot 2017-10-24 at 12 18 47 pm](https://user-images.githubusercontent.com/12565404/31955186-a7a885d2-b8b5-11e7-97df-9f7ee6ed2af5.png)

Found with the url: https://nuxtjs.org/api/configuration-loading/

Not difficult to understand, but better not to have it.

Theses should be these

[2017-10-25 13:00] apertureless opened #83 "Caching 404"
On https://nuxtjs.org/guide/configuration#cache

is a link that points to https://nuxtjs.org/api/configuration-cache but returns a 404.

[2017-10-25 14:01] unseen1980 opened #84 "Flags in header"
Hi all,

I would like to point something that from UI perspective doesn't look that nice. In [header](https://github.com/nuxt/nuxtjs.org/blob/df6c19d2980b45dd610a37188f81dc5a2d375a52/components/HeaderNavLang.vue), the language selection is represented by flag icons. This is not following the best practices and in some cases, it might be offensive to the users. Imagine an Irish/American/Australian

[2017-10-26 04:22] teddysasmita opened #85 "cannot access plugins in middleware"
I am using nuxt and vue-ls as spa. I have included vue-ls as a plugin in nuxt, but I cannot access it with
context.app.$ls in the middleware. I use the get method of vue-ls and the output in browser is cannot read property 'get' of undefined.
Please help.

[2017-10-26 06:32] #85 closed

[2017-10-30 06:08] Justineo opened #86 "Typo in the flow chart"
https://github.com/nuxt/nuxtjs.org/blob/master/static/nuxt-schema.png

![image](https://user-images.githubusercontent.com/1726061/32157029-d7e869f8-bd0e-11e7-9200-75b69f6b19e8.png)

[2017-10-31 15:51] yml commented on #83
[code]

[2017-11-02 14:37] alexmacarthur commented on #77
I'm getting the same error; can't figure out what might be causing it:

[code]

[2017-11-04 15:25] parafox0417 commented on #77
Same issue.  The error message seems to be caused by the generation of the route '/' failing.  How do we debug this and see what the real issue is?

[2017-11-09 12:24] yshterev commented on #61
@Atinux Live demo link https://i18n.nuxtjs.org/ in https://nuxtjs.org/examples/i18n redirects to https://zeit.co

[2017-11-14 20:42] ald890 opened #87 "Site is offline - Invalid SSL certificate"

[2017-11-15 01:30] assursu commented on #87
！

[2017-11-15 02:47] kwokwo commented on #87
!!!!!!!!!!

[2017-11-15 05:43] jamesgraham10 commented on #87
For anyone that needs the docs while the above is getting fixed, you can clone the gh-pages branch of the repo and run a web server locally.

[2017-11-15 08:23] ruslankonev commented on #87
![image](https://user-images.githubusercontent.com/2588730/32825823-5c24fc3c-c9f7-11e7-92d7-a681b0ce689c.png)

[2017-11-15 08:35] pi0 commented on #87
https://twitter.com/nuxt_js/status/930548359856840706

https://twitter.com/nuxt_js/status/930704581092429827

Please use nuxtjs.now.sh meanwhile and thanks for your patience.

[2017-11-15 09:23] Atinux commented on #84
Duplicate of https://github.com/nuxt/nuxtjs.org/issues/62

[2017-11-15 09:23] #84 closed

[2017-11-15 11:28] feedgit opened #88 "Error when Use Vue Roter with NuxtJS"
I have a page use Vue Router like this:
[code]
When I click link with hot reload (router-link), it display well. But when I reload this window, it appear in 1 seconds and disappear then (view video).
Video: http://g.recordit.co/ht0a0K2X81.gif
Error Log:
![image](https://user-images.githubusercontent.com/19923843/32833795-b5c277b6-ca32-11e7-8c36-1a10d87e9920.png)
How can I fix this?
P/S: I tried to

[2017-11-15 18:26] pi0 commented on #87
And it should be fixed now :)

https://nuxtjs.org/

Sorry for inconveniences.

[2017-11-15 18:26] #87 closed

[2017-11-16 01:32] stevejcox commented on #77
I'm getting the same thing.

On local it works fine, when via CI I get the same error

[2017-11-16 04:57] #88 closed

[2017-11-17 08:18] cybibo opened #90 "the server responded with a status of 500 (TypeError)"
http://nuxt:3000/

[Vue warn]: Error in render function: "TypeError: Cannot read property 'search' of undefined"

found in

---> <NuxtHeaderNavSearch> at components/HeaderNavSearch.vue
       <NuxtHeaderNav> at components/HeaderNav.vue
         <Navbar> at components/Header.vue
           <Default> at layouts/default.vue
             <Root>

[2017-11-20 10:40] apmontgomery commented on #77
same here.  Mine started when I added the nuxt-apollo module

[2017-11-20 22:24] hvaoc opened #91 "How to make links from dynamic HTML injected into Vue Template behave like nuxt-links ?"
Some background:
Building an isomorphic blog engine using Nuxt.js and I have exposed blog template to customers as handlebars template (Don't want to expose Vue template to customers - both for security and simplicity).

At run time, Handlebars template is translated to html with has links (E.g.: Home, Next, Previous, Pagination). At the moment these links are triggering server side calls (breakin

[2017-11-21 02:35] wwb568109135 commented on #90
如上？？

[2017-11-23 21:41] do-web commented on #81
I have the same problem:

node v8.9.1
npm  v5.5.1

[2017-12-07 09:48] andiwinata opened #92 "Adding router base documentation for gh-pages deployment"
I just recently tried to deploy nuxt.js to `gh-pages`, there are some pages describing how to do it:

* https://nuxtjs.org/faq/github-pages
* https://nuxtjs.org/guide#static-generated-pre-rendering-
* https://nuxtjs.org/guide/commands#single-page-application-deployment-spa-

Since I don't have any custom domain for my github pages and I'm setting up `gh-pages` for my repository (not user), all the

[2017-12-07 15:12] Atinux commented on #92
Noted, if you want to make a PR (for English) to explain a bit more, it will be really awesome @andiwinata

[2017-12-07 15:13] Atinux commented on #91
Actually, we have this trick and it works really well, you may want to do something like this too: https://github.com/nuxt/nuxtjs.org/blob/master/components/HtmlParser.vue

[2017-12-07 15:13] #91 closed

[2017-12-07 15:13] #90 closed

[2017-12-07 15:14] Atinux commented on #90
You need to run the docs server too @cybibo (https://github.com/nuxt/docs)

[2017-12-07 15:15] #83 closed

[2017-12-07 15:15] Atinux commented on #83
Fixed thank you :)

[2017-12-07 15:16] #82 closed

[2017-12-07 15:16] Atinux commented on #82
Thanks :)

[2017-12-07 15:17] #77 closed

[2017-12-07 15:18] Atinux commented on #76
Hey @bivald

Thanks but we are actually using zeit.co hosting, so it's not really our issue :)

[2017-12-07 15:18] #76 closed

[2017-12-07 15:19] Atinux commented on #75
Wrong repo

[2017-12-07 15:19] #75 closed

[2017-12-07 15:19] Atinux commented on #74
Wrong repo, should be on Quasar or nuxt.js repo.

[2017-12-07 15:19] #74 closed

[2017-12-07 15:21] bivald commented on #76
I'll do a Issue with them instead :)

[2017-12-07 16:13] hvaoc commented on #91
This seem to be working. Thanks @Atinux !!

[2017-12-08 01:54] zhuweiyou opened #93 "examples/cached-components 404 not found"
https://nuxtjs.org/examples/cached-components

[2017-12-08 09:53] andiwinata commented on #92
Created PR https://github.com/nuxt/docs/pull/344

[2017-12-08 10:13] #92 closed

[2017-12-18 06:07] haoxl3 opened #94 "vue-cli · Failed to download repo vuejs-templates/nuxt-community: Response code 404 (Not Found)"
When I execute the command "vue init nuxt-community test"，I got a mistake that "vue-cli · Failed to download repo vuejs-templates/nuxt-community: Response code 404 (Not Found)".Could you tell the reason?my node is v6.11.3, vue is v2.9.2

[2017-12-18 06:27] #94 closed

[2017-12-18 08:56] kjhatis opened #95 "[Vue warn]: Error in render function: "TypeError: Cannot read property 'search' of undefined""
nuxt:render Rendering url / +0ms
Error on [nuxtServerInit] action, please run the docs server.
  nuxt:render Data fetching /: 151ms +0ms
[Vue warn]: Error in render function: "TypeError: Cannot read property 'search' of undefined"

found in

---> <NuxtHeaderNavSearch> at components/HeaderNavSearch.vue
       <NuxtHeaderNav> at components/HeaderNav.vue
         <Navbar> at components/Header.vue

[2017-12-26 10:01] kafeibei opened #96 "nuxt generate is OK,however visit the dynamic routes, it reminder $options is undefined"
![image](https://user-images.githubusercontent.com/5791527/34354056-abf064c4-ea66-11e7-8229-505479336bf8.png)
Thank you for your reply!!!

[2017-12-26 10:03] kafeibei commented on #96
Routing change is OK，until refresh the dynamic routes

[2017-12-28 13:32] Reechee88 opened #97 "Extreme slow build"
Hello,

I have a project where I use nuxt.js. The build is extreme slow:

`  nuxt:build Building... +0ms
  nuxt:build App root: /home/ricsi/Projects/frontend/app +0ms
  nuxt:build Generating /home/ricsi/Projects/frontend/app/.nuxt files... +0ms
  nuxt:build Generating files... +39ms
  nuxt:build Generating routes... +8ms
  nuxt:build Building files... +18ms
Build completed in 50.745s

Hash: ccd27d

[2017-12-28 19:17] ArStah commented on #95
Same here

[2018-01-02 21:03] dpr989 commented on #97
I am also experiencing similarly slow build times I'm dev. It's really slowing down my dev process.

[2018-01-02 23:36] Reechee88 commented on #97
I have invetigated the issue a lot and it turned out that the scss importing slows down the webpack. I have imported the main.scss in several components. I removed every unnecessary import and moved the styling to the component <style>. Since then, it is blazing fast :)

[2018-01-03 04:35] dpr989 commented on #97
All my styling is being done in the <style> component and I'm not using scss. My application is pretty small not sure why the build process is so slow.

[2018-01-03 06:06] muhibbudins opened #98 "Nuxt Adaptive Layout"
Hi there,

I have some question, can i use nuxt with adaptive layout? I mean if user use mobile device it will render mobile layout and if user use desktop it will render desktop layout.

Or maybe i must use some vue plugin to realize it?

Thank you

[2018-01-03 07:13] muhibbudins commented on #98
Sorry i ask on wrong project :D

[2018-01-03 07:13] #98 closed

[2018-01-03 15:10] MrSunshyne opened #99 "Logo animation"
The current flipX-style animation feels very uninspiring.. unlike nuxtjs.

Here's a bunch of suggestions : https://twitter.com/__Sun__/status/948552869715693568

You guys think this would be worth a PR ?

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c94">#c94</a>)</em></sub><

[2018-01-07 11:03] YurikBC commented on #77
This problem are connected to nuxtServerInit usage.

[2018-01-07 18:11] guruprasaad123 opened #100 "scss , @extend not working with @nuxt/vuetify"
Am trying to extend a property , let's just say [.blue](https://vuetifyjs.com/style/colors) using [@extend](http://sass-lang.com/guide) in my nuxt project.And here's my Code.
[code]
It Gives me this Error.
[code]
But , I know that .blue selector exists because I wrote this code and it works..
[code]
But , I can't understand why my first code did'nt execute but second one does. Hope we figure that

[2018-01-08 02:20] ishitatsuyuki opened #1897 "Document serving static files with nginx (with SSR backend)"
Currently Nuxt.js uses `serve-static` as a middleware for static files. This can be offloaded to nginx for efficiency.

Basically, the code [here](https://github.com/nuxt/nuxt.js/blob/9fc2bace443a267bdf709928a9d6096f4fbc67c8/lib/core/renderer.js#L234-L248) needs to be documented.

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> communit

[2018-01-08 18:11] digitalfrost commented on #93
I am also getting a 404

[2018-01-08 18:16] digitalfrost commented on #36
Details from: nuxt/nuxt.js#1060

Resources
https://nuxtjs.org/examples/with-vuetify

page not found 404

[2018-01-08 18:27] digitalfrost commented on #36
Can this be closed? There is no link in the left hand side menu for Vuetify.

[2018-01-13 15:04] gar1t commented on #100
I'm seeing the same behavior. A couple more observations:

- No error if the selector is defined in the style element using `@extend`
- Error still results in non-scoped styles

[2018-01-13 16:10] guruprasaad123 commented on #100
Can we provide  examples for the both? @gar1t .So that we can clearly understand.

[2018-01-14 01:40] limichange opened #101 "The release note is break"
![image](https://user-images.githubusercontent.com/1947344/34911910-caeabd14-f90e-11e7-951b-74e5e29c8618.png)
https://nuxtjs.org/guide/release-notes

[2018-01-15 15:51] cfjedimaster opened #102 "Documentation for nuxt-link?"
While I didn't read the docs 100% from start to finish, I do believe I hit a large percentage of it, and I don't see nuxt-link mentioned anywhere. I first saw it in this example (https://nuxtjs.org/examples/custom-routes). Is it documented anywhere? And if so, should it also be documented in the main routing docs?

<div align="right"><sub><em>This feature request is available on <a href="https://n

[2018-01-16 10:11] Atinux commented on #102
Hi @cfjedimaster

Actually it's documented over here: https://nuxtjs.org/api/components-nuxt-link

But I believe we should write about it into https://nuxtjs.org/guide/routing

I added the enhancement label :)

[2018-01-16 10:12] Atinux commented on #101
It will be fixed in an hour :)

Thanks @limichange

[2018-01-16 10:12] #101 closed

[2018-01-16 10:14] Atinux commented on #100
Hi

You need to use [style-resources](https://github.com/nuxt/nuxt.js/tree/dev/examples/style-resources) property so SCSS know what class you are talking about.

[2018-01-16 10:14] #100 closed

[2018-01-16 10:14] Atinux commented on #99
Ping @alexchopin

[2018-01-16 10:15] Atinux commented on #97
Should be fixed in `1.0.0`, sadly, we cannot control so much the build time since it's completely Webpack :/

[2018-01-16 10:15] #97 closed

[2018-01-16 10:15] #96 closed

[2018-01-16 10:16] Atinux commented on #95
Please read the instructions first: https://github.com/nuxt/nuxtjs.org#developing

[2018-01-16 10:16] #95 closed

[2018-01-16 10:16] Atinux commented on #93
This example has been removed from the example. Thank you for reporting it.

[2018-01-16 10:16] #93 closed

[2018-01-17 22:27] patrickdaze opened #104 "Convert images to SVG"
Going forwards I was thinking of converting the PNG images to SVG for the following reasons:
* it can be used as both a source and a display file
* resizable/vector/smaller filesize
* it could be inserted inline for translations

**Upgrade path:**

1. Convert [nuxt-schema.png](https://github.com/nuxt/nuxtjs.org/blob/master/static/nuxt-schema.png) to SVG (keep PNG for now)
2. Convert [nuxt-views-sc

[2018-01-17 23:00] cfjedimaster opened #105 "Consider reminding folks how to use Axios in async data doc"
I'm new to Nuxt, but when I tried my first async data example and used code similar to the doc (https://nuxtjs.org/guide/async-data), I ran into an issue because Axios wasn't available. I fixed that by following the *later* docs on modules, but this may trip someone up. Or maybe it's just me. ;)

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a>

[2018-01-17 23:33] cfjedimaster opened #106 "Documentation about asyncData, server-side modules, etc"
Please forgive the somewhat vague title. I ran into an interesting issue that is directly related to my lack of understanding about some core Nuxt-ness (that's a word, honest), and I'm wondering if the docs could have helped a bit here.

Some context. I was looking at the docs for asyncData and it's use of axios. This worked for me, but I wanted to use request-promise instead. I'm more familiar wi

[2018-01-18 08:37] mingujie opened #107 "每个视图都加载了全部js"
hi,在用nuxt build后 , 访问route  我发现，每个页面都加载了所有的JS， 如何才能做到按需加载？

example:
i need
~/pages/index.vue
route:  /index
load: /index.js
~/pages/cate.vue
route: /cate
load : /cate.js

not need
~/pages/index.vue
route:  /index
load: /index.js and /cate.js
~/pages/cate.vue
route: /cate
load: /cate.js and /index.js

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.j

[2018-01-23 09:37] #86 closed

[2018-01-26 14:47] cfjedimaster commented on #106
Another example - what if I wanted to use a mongodb driver with Nuxt. I had thought it would be possible and I'd simply write logic for when the static site is generated to handle getting stuff.

[2018-01-26 15:05] Atinux commented on #106
Hey @cfjedimaster, sorry for the late answer, I will try to answer every confusion/questions below.

We are working on the documentation to make it as clear as possible (I wish to be fluent in English so I could write down all I have in my head about Nuxt.js).

Actually, `request-promise` is not "isomorphic", which means it cannot run on browser and node.js, axios can, this is why we strongly reco

[2018-01-26 15:05] #106 closed

[2018-01-26 15:08] cfjedimaster commented on #106
Thank you for this. I still think I have to "mentally work" on this to grok it, but it is beginning to clear up.

[2018-01-28 11:06] alanaasmaa opened #108 "Nuxt.js Tryes to fetch source map in asyncData function."
Hi,

I use (noty)[https://github.com/needim/noty] in my project and i have loaded it like this.

nuxt.config.js
[code]

noty.css contains source mapping url at bottom `/*# sourceMappingURL=noty.css.map*/`

For that reason my async functions are trying to parse `/api/v1/products/noty.css.map` and for that reason im getting 404 errors.

Im using nuxt axios module.

[2018-01-28 11:07] alanaasmaa commented on #108
Sorry wrong repo. New issue here: https://github.com/nuxt/nuxt.js/issues/2705

[2018-01-28 11:07] #108 closed

[2018-01-30 12:17] berinceliu opened #109 "favicon.ico"
放置了，读取不到

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c101">#c101</a>)</em></sub></div>

[2018-02-03 20:58] andysay opened #110 "Nested routes custom id"
hello , i'm try get page by custom id like this ' c0476d0a-7c69-4f87-9b6a-1a931be5fe1a '

but nuxt say me page not-found, works only with numbers? how use c0476d0a-7c69-4f87-9b6a-1a931be5fe1a id's .. thanks.

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c102">#c102</a>)</em><

[2018-02-07 23:30] manniL opened #111 "Footer flash on page change"
While building my own website (https://lichter.io/) I've recognized that when changing pages, the (already loaded) footer will be displayed before the page content kicks in. On the official nuxtjs.org page, this is prevented.

The only difference that I could spot was that I included the Footer in the default layout, while this isn't the case on nuxtjs.org

This only happens on Firefox (tested on

[2018-02-08 00:24] manniL commented on #111
Oops, opening it on the nuxt.js repo. Sorry!

[2018-02-08 00:24] #111 closed

[2018-02-12 18:24] icarito opened #112 "Google Translate fails to translate website"
Something in Javascript is interferring with Google Translate, because it renders fine initially but then switches to 404 error.

Reproduce:
https://translate.google.com/translate?hl=es&sl=en&tl=es&u=https%3A%2F%2Fnuxtjs.org%2F

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c1

[2018-02-23 02:31] se7en-1992 opened #114 "I want to know what the role of the now.json file is"
I did not find this file available anywhere in this project

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c105">#c105</a>)</em></sub></div>

[2018-02-28 05:35] sunshineroper opened #115 "slow loading"
![246a3a0609bce66d](https://user-images.githubusercontent.com/18000311/36771582-3c8fa88a-1c8c-11e8-91f2-5541c449430c.jpg)

The first screen loading is slow

[2018-02-28 05:36] sunshineroper commented on #115
@Atinux @patrickdaze

[2018-02-28 12:56] davodaslanifakor commented on #10
@Atinux  may be i have ie 5

[2018-02-28 13:03] Atinux commented on #10
Vue does not support ie5 so we cannot either @davodaslanifakor

[2018-02-28 13:07] davodaslanifakor commented on #10
@Atinux so bad for iran pleas active this option

[2018-02-28 21:34] raultrysw opened #116 "Nuxt generate for electron"
Hi, I have two projects, one is the nuxt project I generated with the cli interface and the other is an electron app.
So I tested de nuxt generate command but the result works for me only under a server, so with electron i am not able to work with the file, so me would like a way in which the result would works without a server.
Is this possible?. Thanks!

<div align="right"><sub><em>This question

[2018-03-01 18:10] patrickdaze commented on #114
You're right, there isn't much documentation about this file or how the site is hosted/deployed.

The [now.json](https://github.com/nuxt/nuxtjs.org/blob/master/now.json) file is used by the [Now](https://zeit.co/now) service. It makes it [simple to deploy apps](https://zeit.co/now#get-started).

[2018-03-02 02:36] se7en-1992 commented on #114
Thank you very much for your answer，
It's really cool when I got to know it.

[2018-03-02 10:27] FayneVALSK opened #117 "Does Nuxt support IE?"
There is an error when running on IE:
[code]
Object does not support the "find" attribute or method.And I found this code in /.nuxt/client.js
[code]
As I know,Array.prototype.find() is not supported by any version of IE...

How could I solve this problem?(I need to support IE10+)

[2018-03-05 01:36] #117 closed

[2018-03-05 02:04] #115 closed

[2018-03-06 20:45] acidjazz opened #118 "Started a new Nuxt.js project, yarn dev or npm run dev gives me a SyntaxError"
[code]

[2018-03-06 20:46] acidjazz commented on #118
doing some digging it seems that `this.options.render` is null

[2018-03-06 20:50] acidjazz commented on #118
Here is the logs of starting a nuxt.js project from scratch and still getting the error

[code]

[2018-03-06 20:54] acidjazz commented on #118
sorry wrong place for this bug

[2018-03-06 20:54] #118 closed

[2018-03-14 22:10] jasonkhanlardr opened #120 "Is there a way to define variable data in pages/*.vue and output in components/*.vue imported from layouts/default.vue?"
https://glitch.com/edit/#!/fair-atom

Is there a way to define string variable data from pages/\*.vue files and to output those variable string data in components/\*.vue files that are imported from layouts/default.vue (outside the scope of access from pages/\*.vue that defined the values of the variables?

[2018-03-18 03:15] jasonkhanlardr commented on #120
wrong repo

[2018-03-18 03:15] #120 closed

[2018-03-20 08:11] husilang opened #122 "页面用了asyncData方法，在浏览器端刷新页面时，会报错"
某页面用async asyncData 获取数据，从其他页面跳转至此页面时，没有问题，但是在本页面刷新时，asyncData方法获取的数据变成了undefined。
这个是怎么回事，有办法解决吗？

[2018-03-20 18:39] monishnarwani opened #123 "Got 500 error, when my internet gone in middle of loading next page"
![screenshot from 2018-03-20 23-47-51](https://user-images.githubusercontent.com/25245587/37675730-020cbd7c-2c9c-11e8-9988-0bf8837bc934.png)

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c112">#c112</a>)</em></sub></div>

[2018-03-22 08:54] husilang commented on #122
用了express启动服务后，就没有这个困扰了

[2018-03-22 08:54] #122 closed

[2018-03-24 19:24] raultrysw opened #124 "No eslint configuration found in a linked module"
I have a linked module in my computer and a nuxt project, and when I make require of that module I get the 'No eslint configuration found'
How can I fix that situation? :(
Thanks in advance

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c113">#c113</a>)</em></sub></div>

[2018-03-25 03:21] robyedlin opened #125 "Add warning about global vuex state with SSR"
If this is not implemented correctly, it can cause major privacy/security issues:

https://nuxtjs.org/guide/vuex-store#modules-mode

I propose adding a warning in that section. Something like: Assigning state as an object without returning a function will make the state global to everyone if using SSR.

I'd be happy to open a PR if the core team agrees.

<div align="right"><sub><em>This question i

[2018-03-26 13:14] Twisterking opened #127 "SPA mode and Cordova"
lol ... wrong repo! 😁

[2018-03-26 13:15] #127 closed

[2018-03-27 16:30] Atinux commented on #125
Hi @robyedlin

Actually, we added a security check directly inside Nuxt.js directly to avoid this security issue: https://github.com/nuxt/nuxt.js/blob/dev/lib/app/store.js#L60

So it's not possible to export an object anymore :)

[2018-03-27 16:31] #125 closed

[2018-03-27 17:37] robyedlin commented on #125
Hi @Atinux, can you check this real quick and let me know if you think this is an issue worthy of the documentation.

Great job at Vue Amsterdam, btw! It was a great event. :)

https://github.com/nuxt/nuxt.js/issues/1674#issuecomment-376273314

[2018-04-01 04:15] Vuchan opened #128 "Scroll Recording bug"
### Version

[latest](https://github.com/nuxt/nuxtjs.org/releases/tag/latest)

### Reproduction link

[https://nuxtjs.org/guide/views#layouts](https://nuxtjs.org/guide/views#layouts)

### Steps to reproduce

Because of this doc web is a SPA, when i changed the link it will recording the previous page scroll-top value, and the next page will auto position there.

For Example:
1. if i have been scro

[2018-04-04 19:31] cyberiaa commented on #116
Similar issue here!

[2018-04-17 23:39] juppdes opened #131 "[edge] css file´s path builded wrong"
### Version

[2.0.0-25399171.6985927](https://github.com/nuxt/nuxtjs.org/releases/tag/2.0.0-25399171.6985927)

### Reproduction link

[https://jsfiddle.net/Jupp/adnsv7ef/3/](https://jsfiddle.net/Jupp/adnsv7ef/3/)

### Steps to reproduce

The background file set in the css is searched at 'http://localhost:3333/static/any.jpg', when it should be searched at 'http://localhost:3333/_nuxt/img/any.jpg'

[2018-04-19 09:55] richlloydmiles commented on #112
@pi0 Any thoughts on this?

[2018-04-22 19:37] scottcarlton opened #132 "Run generate issue on Netlify"
No matter what I do I keep getting the blow error on deploying to netlify. Posibille issue with axios? Any thoughts?

`12:25:09 PM: 2018-04-22T19:25:09.553Z nuxt:generate Generate file: {dir}/{dir}/index.html`
`12:25:09 PM: 2018-04-22T19:25:09.633Z nuxt: Call generate:page hooks (1)`
`12:25:09 PM: 2018-04-22T19:25:09.633Z nuxt:generate Generate file: {dir}/{dir}/index.html`
`12:25:09 PM:  ERROR`
`

[2018-04-22 19:37] #132 closed

[2018-04-25 12:36] Schum123 opened #133 "Add date when publish new release note"
### What problem does this feature solve?

Better to see release date.

Not sure if i put this in the right place?

### What does the proposed changes look like?

For example, 25 April 2018 - v1.4.0

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/issues/c120">#c120</a>)</em></s

[2018-04-28 20:50] manniL opened #134 "[edge] Analyzing build only shows "stat" screen and behaves weird"
### Version

[2.0.0-25414361.b4a4a55](https://github.com/nuxt/nuxtjs.org/releases/tag/2.0.0-25414361.b4a4a55)

### Reproduction link

[https://github.com/manniL/nuxt-edge-analyze-issue](https://github.com/manniL/nuxt-edge-analyze-issue)

### Steps to reproduce

1. Clone the repo
2. Install modules (npm i)
3. Run an analyze build (npm run build -- -a)
4. See that app.css is included and only that s

[2018-04-28 20:57] manniL commented on #131
Wrong repo :see_no_evil:
Happend to me as well :sweat_smile:

[2018-04-28 20:59] #134 closed

[2018-04-28 21:04] manniL commented on #133
You can see the dates on the [release overview](https://github.com/nuxt/nuxt.js/releases) :relaxed:

[2018-04-28 21:38] juppdes commented on #131
@manniL wrong repo? Sorry.. i didn't understand..

[2018-04-28 21:47] manniL commented on #131
@juppdes You've sent the bug report to the "nuxtjs.org" repo (the website of the Nuxt.js project). I think you wanted to submit a report for `nuxt.js` itself. Or am I wrong? :thinking:

[2018-04-28 22:03] juppdes commented on #131
Now you got me. should have posted somewhere else?

[2018-04-28 22:07] manniL commented on #131
Just like you did (via [CMTY](https://nuxtjs.cmty.io/)) but this time, choose the `nuxt/nuxt.js` repo :relaxed:

[2018-04-29 02:29] juppdes opened #135 "[edge] css file´s path builded wrong"
### Version

[edge](https://github.com/nuxt/nuxtjs.org/releases/tag/edge)

### Reproduction link

[https://jsfiddle.net/Jupp/adnsv7ef/3/](https://jsfiddle.net/Jupp/adnsv7ef/3/)

### Steps to reproduce

The background file set in the css is searched at 'http://localhost:3333/static/any.jpg', when it should be searched at 'http://localhost:3333/_nuxt/img/any.jpg'

### What is expected ?

That point

[2018-05-13 04:04] vintagesucks opened #136 "nuxtjs.org SSL Certificate Expired"
### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

Visit https://nuxtjs.org/

### What is expected ?

Page loads / Valid certificate

### What is actually happening?

Error / Expired Certificate

<div align="right"><sub><em>This bug report is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt/nuxtjs.org/

[2018-05-13 06:17] rogersachan opened #137 "HTTPS certificate expired"
### Version

[master](https://github.com/nuxt/nuxtjs.org/releases/tag/master)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

1. navigate to https://nuxtjs.org/

### What is expected ?

Site loads

### What is actually happening?

Error of "nuxtjs.org uses an invalid security certificate. The certificate expired on Saturday, May 12, 2018, 7:59:59 PM. The

[2018-05-14 00:05] minutuslausus commented on #137
it works for me, but not on the subpages like https://axios.nuxtjs.org/. I get too many redirection error.

[2018-05-14 09:40] xiaonizi0601 commented on #122
我也遇到了相同的问题，动态路由页面刷新会报400错误，请问你说的使用“快速启动服务”具体是怎么操作呢？

[2018-05-14 10:52] xiaonizi0601 commented on #122
我用express启动服务，刷新还是会报错，可以把你的代码贴上来看看吗？

[2018-05-16 06:44] #137 closed

[2018-05-16 06:44] #136 closed

[2018-05-20 15:54] makssherstobitow commented on #46
It's solved here [https://github.com/vuejs/vue-jest/issues/5](https://github.com/vuejs/vue-jest/issues/5).

[2018-05-23 07:20] zzzzzga opened #139 "在行间样式怎么动态引用图片"
代码
[code]

错误
[code]

[2018-05-23 07:20] #139 closed

[2018-06-22 01:02] iambtr opened #140 "部署到github 静态资源404"
Request URL: https://iambtr.github.io/_nuxt/style.css
Request Method: GET
Status Code: 404
Remote Address: 185.199.108.153:443
Referrer Policy: no-referrer-when-downgrade

好像是路径_nuxt  带下划线的原因，怎么配置生成不带下划线？？

[2018-06-22 01:02] #140 closed

[2018-07-05 02:10] HEAVEN4499 opened #141 "How to read the word 'nuxt'?"
I'd like to ask that how to read the word nuxt? Is the 'u' read as vue's 'ue'?

[2018-07-05 02:10] #141 closed

[2018-07-05 14:12] aditya-vector opened #142 "Clicking on sidebar links does not scroll to top"
### Version

[1.0](https://github.com/nuxtjs.org/releases/tag/1.0)

### Reproduction link

[https://nuxtjs.org/guide/plugins](https://nuxtjs.org/guide/plugins)

### Steps to reproduce

- After the plugin link is opened, please scroll to bottom of the page as a reader would do while going through the documentation
- Click on any other sidebar topic (say Modules)

### What is expected ?

As a reader

[2018-07-11 11:48] toadkicker commented on #110
I'm using UUID's in my URLS like so:

[code]

[2018-07-19 06:17] chesscai opened #144 "'file does not appear' in S3 when refresh without '/index.html'"
Hi, `nuxt generate` and then publish /dist to **S3**.
It work fine as I visit `mydomain.com` and go to  `mydomain.com/about`(use `nuxt-link`).
But if I refresh in `mydomain.com/about` , S3 return **"file does not appear"** because `mydomain.com/about/index.html` only can.

I just know that i can **conf many cdn to map all routes**（**use Error pages to return index.html**）
So If any other solution？

[2018-07-19 06:17] #144 closed

[2018-07-26 22:45] jscottsf commented on #124
I ran across this since I'm experiencing the same issue:

https://stackoverflow.com/questions/48410203/webpack-gives-eslint-errors-while-using-npm-link

Also commented about it here:

https://github.com/nuxt/nuxt.js/issues/947

[2018-07-31 12:01] #142 closed

[2018-07-31 12:05] Atinux commented on #135
Wrong repo

[2018-07-31 12:05] #135 closed

[2018-07-31 12:24] #133 closed

[2018-07-31 12:26] #128 closed

[2018-07-31 12:26] Atinux commented on #123
Fixed

[2018-07-31 12:26] #123 closed

[2018-07-31 12:26] #124 closed

[2018-07-31 12:27] Atinux commented on #116
Wrong repo

[2018-07-31 12:27] #116 closed

[2018-07-31 12:27] #114 closed

[2018-07-31 12:30] Atinux commented on #112
I looked into it, and sadly, this seems like headache because they use an iframe an some weird links. You can use Chrome and right click -> Translate to XXX.

[2018-07-31 12:30] #112 closed

[2018-07-31 12:30] #109 closed

[2018-07-31 12:31] #110 closed

[2018-07-31 12:31] #131 closed

[2018-07-31 12:31] Atinux commented on #131
We will work on the UI to avoid this issue in the future :)

[2018-07-31 12:32] #107 closed

[2018-07-31 12:36] Atinux commented on #105
Updated [here](https://github.com/nuxt/docs/commit/34d77848ce57ece061b06fb85937d7501c4708c6), thanks @cfjedimaster :)

[2018-07-31 12:36] #105 closed

[2018-07-31 12:38] Atinux commented on #104
I do!

[2018-07-31 12:46] #102 closed

[2018-07-31 12:48] #99 closed

[2018-07-31 12:49] #36 closed

[2018-07-31 13:08] #62 closed

[2018-08-13 10:01] small-sunshines opened #147 "Please provide details about the CSP."
### What problem does this feature solve?

Currently, Nuxt.js document describes how to configure CSP, but there is no detailed setup method. I do not even know much about the existence of this feature.

### What does the proposed changes look like?

Please tell me how to set up CSP in detail.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a

[2018-08-13 10:02] small-sunshines commented on #147
![image](https://user-images.githubusercontent.com/11470513/44025512-59e04742-9f2b-11e8-9e50-d5326e586088.png)

[2018-08-13 10:02] small-sunshines commented on #147
![image](https://user-images.githubusercontent.com/11470513/44025555-6e02bba6-9f2b-11e8-9720-6e945402adf5.png)

[2018-08-13 20:36] Atinux commented on #147
Any pull request to https://github.com/nuxt/docs is more than welcome :)

[2018-08-16 06:20] MrTung opened #148 "after run "npm run generate" no html in dict"

[2018-08-16 06:20] #148 closed, assigned to nobody

[2018-08-16 06:22] MrTung opened #149 "After run "npm run generate", no html in dist"
HI, in my app,im  run "npm run generate",but no html in my dist,and im try so many times，but here is no html。

help ！！ ！

[2018-08-16 06:22] #149 closed, assigned to nobody

[2018-08-16 12:25] paulgv commented on #148
Closing in favor of https://cmty.app/nuxt/nuxtjs.org/issues/c142

[2018-08-17 07:11] MartinMuzatko opened #151 "Please use only one issue tracker."
I saw that when using https://nuxtjs.cmty.io/issues/new, my issue does NOT land here!
Instead it is landed here: https://cmty.app/nuxt/nuxtjs.org/issues/c143

This is very inconvenient and I hate having yet another app to get access to the issues.
What is the real tracker now then?

[2018-08-17 07:11] #151 closed

[2018-08-17 09:55] allan852 opened #152 "https://docs.api.nuxtjs.org/zh/guide/index 500 Error"

[2018-08-17 09:55] #152 closed

[2018-09-07 01:14] DJafari opened #154 "using compiled scss as content_css for tinymce"
hi
in tinymce editor, we can inject css file for styling content css,

i have a scss file in my assets folder, how can link compiled of this files to `content_css` ?
thanks

[2018-09-07 01:14] #154 closed

[2018-09-20 13:35] foxmask opened #155 "Chat link in ecosystem menu"
Hi,

The Chat link points to gitter.im but once on gitter we have a message that invites us to go to discourse.
May be you could just change the Chat link directly on the website, with the right link to the right chat system :)

Regards

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c14

[2018-09-26 14:40] #155 closed

[2018-11-24 18:13] manniL commented on #26
Done https://github.com/nuxt/docs/commit/375a9c7713d112a143055582effb2b402045c783

[2018-11-24 18:13] #26 closed

[2018-11-24 18:15] manniL commented on #48
Maybe an own repo (like https://github.com/vuejs/art) would be good for that :thinking:

[2018-12-13 10:59] blowsie commented on #134
For me no stats page is gerenated at all
[code]

[code]

[2018-12-13 11:41] manniL commented on #134
Wrong repo 🤷‍♂️

[2018-12-25 06:53] superermiao opened #164 "How to put all packaged JS files in a single folder?"
As can be seen from the official examples，
The packaged JS files are placed in the dist/_nuxt file，
How can I do this?

[2018-12-25 06:53] #164 closed

[2018-12-28 05:34] camelG opened #165 "TypeError: Cannot read property 'toUpperCase' of undefined"
I get a error with run

[Vue warn]: Error in render: "TypeError: Cannot read property 'toUpperCase' of undefined"

found in

---> <NuxtHeaderNav> at components/HeaderNav.vue
       <Navbar> at components/Header.vue
         <Default> at layouts/default.vue
           <Root>
× error TypeError: Cannot read property 'toUpperCase' of undefined

[2018-12-28 05:34] #165 closed

[2019-01-03 01:01] TheAlexLichter opened #500 "Document styleExtensions"
### What problem does this feature solve?

https://github.com/nuxt/nuxt.js/pull/4671

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/docs/issues/c151">#c151</a>)</em></sub></div>

[2019-01-09 14:08] #104 closed

[2019-01-11 15:52] TheAlexLichter opened #499 "Document standalone mode"
### What problem does this feature solve?

Document https://github.com/nuxt/nuxt.js/pull/4661 (**experimental**)

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/docs/issues/c155">#c155</a>)</em></sub></div>

[2019-02-02 09:56] wufangjian opened #172 "normalize-url Unexpected token IOS9+ IOS10+"
Error

![image](https://user-images.githubusercontent.com/6982055/52162772-b79ea480-2713-11e9-9163-70db667a4748.png)

[2019-02-02 09:56] #172 closed

[2019-02-19 22:02] #147 closed

[2019-02-19 22:03] manniL commented on #48
Friendly reminder that this is highly needed :speak_no_evil:

[2019-03-01 07:19] yehongrun commented on #122
我也有这样的问题，但报错不是说 asyncData 这个方法问题，而是直接报NuxtServerError

[2019-03-01 22:06] dextherry commented on #93
please if someone has that example, share it, there is not a single example about how to use this package in all internet

[2019-03-22 19:54] re2005 opened #177 "Page not found"
https://id.nuxtjs.org/faq/heroku-deployment/

[2019-03-22 19:54] #177 closed

[2019-03-25 08:14] nayuta opened #178 "Homepage (top page) is not for ready translate."
### What problem does this feature solve?

Homepage (top page) contents are written in the source code directory. Therefore, we cannot translate it for each language.

### What does the proposed changes look like?

Move contents to language resource files, lang.json, and content files, *.md. I'll send pull request after submit it.

<div align="right"><sub><em>This feature request is available on <

[2019-03-25 09:03] nayuta commented on #178
I'd send pull request below:
- Move resources to language files
  - [/nuxt/nuxtjs.org/pull/179]
  - [/nuxt/docs/pull/1272]
- Move contents to documens, `/(lang)/homepage/*.md`
  - [/nuxt/nuxtjs.org/pull/180]
  - [/nuxt/docs/pull/1273]

[2019-03-25 09:22] nayuta commented on #178
Implement notes:
I'd move the homepage contents to `/(lang)/homepage/*.md`, not all to `/(lang)/lang.json`. Because:
1. `lang.json` format is not suitable for some contents. Paragraphs are long, and some contents lose their design.
2. Docs api server rendered markdown files at the server side. `lang.json` is not rendered.

I'd add new api, `/homepage/(lang)` to fetch homepage contents, instead usi

[2019-03-28 13:35] Atinux commented on #178
You rock :)

[2019-03-28 13:39] #178 closed

[2019-04-11 02:19] mabel-xue opened #181 "examples of plugins-vendor not work"

[2019-04-11 02:19] #181 closed

[2019-04-27 11:11] inouetakuya opened #187 "Deploy to Netlify failed"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://app.netlify.com/sites/nuxt/deploys/5cc40058262c42af204f5fd3](https://app.netlify.com/sites/nuxt/deploys/5cc40058262c42af204f5fd3)

### Steps to reproduce

https://app.netlify.com/sites/nuxt/deploys/5cc40058262c42af204f5fd3

### What is expected ?

Deploy to Netlify finish successfully

### Wha

[2019-04-28 13:10] ram231 opened #188 "Typescript Support: Instruction not clear"
I've read the tutorial on how to setup Typescript support for [nuxtjs](https://nuxtjs.org/guide/typescript). should I rewrite the script tag and change it to typescript?
From JavaScript to TypeScript, I tried to rename `nuxt.config.js` to `nuxt.config.ts`

it gives me an error about nuxt.config.js not located.

I believe that the documentation has not been updated and I'll be waiting for it patien

[2019-04-28 13:10] #188 closed

[2019-04-29 09:57] grace618 commented on #122
我差点以为这是我提的问题，我也碰到这个问题了，请问具体怎么解决的哇，我的不报错

[2019-04-29 11:07] Anima-t3d opened #189 "Release notes not updated since 2.5.0"
## Issue
https://nuxtjs.org/guide/release-notes only shows latest release notes for 2.5.0
## Expected
To see release notes for latest version (E.g. 2.6.3)

On a side note, I couldn't create this on https://nuxtjs.cmty.io/issues/new as the link is not working.

[2019-04-29 11:07] #189 closed

[2019-04-29 11:10] Anima-t3d commented on #189
@alexchopin @Atinux

[2019-05-03 04:15] inouetakuya commented on #187
Deploy to Netlify has finished successfully 🎉

https://app.netlify.com/sites/nuxt/deploys/5ccad03acda9360008ce47cb

[2019-05-03 04:15] #187 closed

[2019-06-05 14:38] blowsie opened #498 "Documentation: Add docs for using nuxt-start/nitro"
### What problem does this feature solve?

How to use nuxt-start

### What does the proposed changes look like?

Include samples for environments like  docker?

[2019-06-20 13:22] renovate[bot] opened #203 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2019-07-01 06:27] paypol-software opened #206 "deploy nuxtjs universal app into cpanel"
I am new with nuxtjs and this is my first project of nuxtjs to deploying but I searching a lot from any pages in internet but really couldn't find any good and efficient article about deploying nuxtjs universal app in cpanel please show me right way to deploying nuxtjs into cpanel
Thanks in advance

[2019-07-01 06:27] #206 closed

[2019-08-20 16:23] ChangJoo-Park opened #218 "navigation menu style broken"
![image](https://user-images.githubusercontent.com/1451365/63365258-47efbe80-c3b2-11e9-956d-b298bfc15ad0.png)

[2019-08-20 16:23] #218 closed

[2019-08-20 16:25] ChangJoo-Park commented on #218
It was duplicated from github repo issue

[2019-08-21 17:24] MSkred opened #220 "Cannot GET"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://compte.letsgocity.be](https://compte.letsgocity.be)

### Steps to reproduce

I've an app nuxt universal deploy on aws with lambda and when I come for the first time each 30 minutes I've an error Cannot GET /

Someone can help me ? @pi0

### What is expected ?

I've an app nuxt universal deploy

[2019-08-21 17:28] #220 closed

[2019-08-21 19:38] connecteev opened #1090 "Improved Nuxt Documentation with real-world examples"
### What problem does this feature solve?

The following is from a separate discussion with @manniL who asked how the Nuxt docs can be improved. This is a large and ongoing effort, of course.. I am adding some ideas here that the Nuxt team can consider. You guys already do an amazing job, so thank you - the following is to improve the docs 10x and make developers' lives easier....who knows, may ev

[2019-08-23 08:59] steklopod commented on #81
I have the same problem:
![2019-08-23_11-58-58](https://user-images.githubusercontent.com/29500153/63580401-682fa100-c59d-11e9-8325-ab10381d4999.png)

[2019-08-28 16:19] tanaka-yui opened #223 "[Feature Request] node option can be specified around core cli"
### What problem does this feature solve?

sconfig-paths
I think that it is better to be able to specify the package that can be specified in the node option such as nuxt command or nuxt-ts command.

For example, when starting from ts-node with nuxt-ts command, paths cannot be used for ts-node. In order to be able to use, it is necessary to specify with --require options such as tsconfig-paths, bu

[2019-09-20 00:25] pietroiusti commented on #206
hi was this resolved?

[2019-09-20 00:25] pietroiusti commented on #206
https://github.com/nuxt/nuxt.js/issues/2835

[2019-09-27 14:09] pimlie opened #229 "Too much white-space in portrait mode"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org](https://nuxtjs.org)

### Steps to reproduce

See screenshot of examples page, the main content container seems to take up the full height of the screen which looks a bit strange in portrait mode (screenshot is already scrolled down to bottom)

### What is expected ?

na

### What i

[2019-09-28 09:08] manniL commented on #48
https://nuxtjs.org/design

[2019-09-28 09:08] #48 closed

[2019-09-28 09:12] manniL commented on #65
Stale.

[2019-09-28 09:12] #65 closed

[2019-09-28 09:18] manniL opened #231 "User is "trapped" on 404 page"
When hitting the 404 page, the Nuxt layout isn't applied correctly.

Example URL: https://nuxtjs.org/foobar

![image](https://user-images.githubusercontent.com/640208/65814368-1d7af780-e1e1-11e9-8b0c-1f0f453b0e47.png)

Thus, the user can never access the docs content anymore but menu points below. Navigating to one of them will not re-instantiate the layout though.

![image](https://user-images.gi

[2019-09-28 10:31] manniL opened #232 "Re-introduce scrollable sidebar"
The sidebar was scrollable in previous the docs design. Now it's tricky to see the whole content when the current page's main content is long.

_Originally brought up by @richardeschloss in https://github.com/nuxt/docs/issues/1078#issuecomment-536148995_

[2019-09-28 12:13] manniL opened #233 "Focusable search input field via shortcut"
It'd be nice to have a keyboard shortcut, e.g. "CTRL + ." or "/" to focus the site search input field. This is a decent UX improvement I'd say.

## Examples

[ChordAtlas](https://www.chordatlas.com/)

![image](https://user-images.githubusercontent.com/640208/65816275-e9600080-e1f9-11e9-969c-7bd38cb42783.png)

[TailwindCSS](https://tailwindcss.com/)
![image](https://user-images.githubusercontent.co

[2019-09-28 15:05] thiyagu-7 commented on #233
I would like to work on this.

[2019-09-28 16:57] CurtisBelt commented on #232
Working on this one now :+1:

[2019-09-28 17:06] manniL commented on #233
@thiyagu-7 Go ahead :relaxed:

[2019-09-28 17:09] manniL opened #235 "Add missing redirects"
There were a few structural changes introduced by #193

One would have to check broken links and add correct redirects to the `_redirects` file. Docs for the Netlify redirects syntax can be found [here](https://www.netlify.com/docs/redirects/).

Example missing redirect:

* https://nuxtjs.org/api/components-no-ssr to https://nuxtjs.org/api/components-client-only/

[2019-09-28 17:13] manniL opened #236 "Update README to reflect how to run "prod build" locally"
When running the project locally (via `yarn dev`) everything works fine. But testing it via `yarn build && yarn start` or `yarn generate` fails due to the docs integration. Is this intended? The README doesn't include info about running the prod build locally (which would be important to test purgeCSS issues for example).

[2019-09-28 17:16] #232 closed

[2019-09-30 08:30] Atinux commented on #236
Actually, only `yarn generate && serve dist/` works since the docs integration is aimed to be use with full static mode in production  (this is why `nuxt start` does not work).

[2019-09-30 08:55] Atinux commented on #236
Fixed in https://github.com/nuxt/nuxtjs.org/commit/d4311e6612e67bc069821170470cfa04c71af8aa

[2019-09-30 08:55] #236 closed

[2019-09-30 09:00] #235 closed

[2019-09-30 15:02] nimitbhargava commented on #233
@manniL

GitHub has `/` for search shortcut. I tried this on `69.0.1 (64-bit)` Firefox, it seems to work.

Evidence -
![firefox-:](https://user-images.githubusercontent.com/8358694/65890891-4bb72d80-e3c1-11e9-8c4c-899fcc496c83.gif)

What do you think?

[2019-10-01 09:22] adarsh4d commented on #233
@nimitbhargava

Yes, as @manniL pointed out, without implementing the MouseTrap, it will only trigger the quick find in Firefox.

I have created this site [SVG Logo](https://svg-logo.netlify.com/) without MouseTrap and see what happens when you press `/` in

@manniL Thanks, found a new bug :)

[2019-10-01 11:08] nimitbhargava commented on #233
@adarsh4d Thanks for explanation!
@thiyagu-7 I am interested in this task, if you plan to skip it due to some reason, I will be willingly to take it up

[2019-10-01 11:57] thiyagu-7 commented on #233
@nimitbhargava I'm planning to work on it :)

[2019-10-01 13:25] rohitpal99 opened #242 "Mobile version: h2 underline breaks in case of new line"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/faq/host-port](https://nuxtjs.org/faq/host-port)

### Steps to reproduce

Go to reproduction link and find text "With NUXT_HOST and NUXT_PORT env variables"

### What is expected ?

CSS should not break in case of new line in h2 tag

### What is actually happening?

CSS is breaking

[2019-10-01 13:32] rohitpal99 commented on #242
![nuxt org issue](https://user-images.githubusercontent.com/7090592/65966579-effeaa00-e47d-11e9-8e4a-61a5a3d245a4.png)

[2019-10-01 14:16] Atinux commented on #242
Should be fixed by https://github.com/nuxt/nuxtjs.org/pull/240 :)

[2019-10-01 14:16] #242 closed

[2019-10-02 03:53] silvio-e opened #245 "Add "Ecossystem" link to topbar again? :)"
### What problem does this feature solve?

I was often heading over to nuxtjs.org and using the "Ecosystem" links in the topbar to open github and twitter right to the point! :) Now I have to scroll to the footer for the same. Wouldn't it be nice to bring them back to mention an "Ecosystem" right away especially for new visitors?

<div align="right"><sub><em>This feature request is available on <a

[2019-10-02 03:56] silvio-e opened #246 "Adding version number to website start page again? :)"
### What problem does this feature solve?

It was a very quick and easy way to check the latest version when I was heading the docs or the ecosystem link (see: https://cmty.app/nuxt/nuxtjs.org/issues/c174). And wouldn't it be somehow also showing to new vistors that there was already quite some development?

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app

[2019-10-02 14:06] Atinux commented on #233
Wouhou https://github.com/nuxt/nuxtjs.org/pull/247 💚

[2019-10-02 14:06] #233 closed

[2019-10-02 14:31] Atinux commented on #245
Assigned @alexchopin to see if we can add the Twitter / GitHub icon to the top :)

[2019-10-04 20:31] Elvanos opened #252 "Adonis.js/Nuxt documentation missing changes to nuxt.config.js placemenet"
### What problem does this feature solve?

Fixing incomplete documentation and hopefully others not wanting to tear their hair out in the future.

### What does the proposed changes look like?

When installing Nuxt via `create-nuxt-app` and picking `adonis.js` as the chosen server framework, the normal config file (nuxt.config.js) gets moved to  `/config/nuxt.js` among a number of other, adonis-ex

[2019-10-05 14:35] adarsh4d opened #253 "Mobile Aside Navigation Missing"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

The main mobile navigation buttons/links load the page directly instead of opening the sidebar.

### What is expected ?

![7.gif](https://cmty.s3.eu-west-1.amazonaws.com/73294699/4f580e90-e77d-11e9-bd85-1dc65ddd877a.gif)

### What is a

[2019-10-05 19:59] mrtnzagustin commented on #81
Same problem here!!

![image](https://user-images.githubusercontent.com/12588882/66260172-6c9ccb80-e791-11e9-8870-4224053bf5da.png)

[2019-10-08 08:57] manniL commented on #231
Still a problem.

[2019-10-08 11:00] pi0 commented on #231
/cc @clarkdo

[2019-10-09 06:42] AGDholo opened #256 "faq/google-analytics: HTTP 500 Failed to fetch"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://zh.nuxtjs.org/faq/google-analytics](https://zh.nuxtjs.org/faq/google-analytics)

### Steps to reproduce

Visit: https://zh.nuxtjs.org/faq/google-analytics

### What is expected ?

We can see a true page

### What is actually happening?

HTTP 500

<div align="right"><sub><em>This bug report is

[2019-10-10 17:29] Airthee opened #267 "fr: style issue on consecutive headings"
### Version

[master](https://github.com/docs/releases/tag/master)

### Reproduction link

[https://fr.nuxtjs.org/guide/directory-structure#r-pertoires](https://fr.nuxtjs.org/guide/directory-structure#r-pertoires)

### Steps to reproduce

1. Just go to the url and see the title

### What is expected ?

New line after h2

### What is actually happening?

h3 is on the same line as h2 :
![image](http

[2019-10-13 10:53] manniL opened #259 "Email is reactive in success text after subscribing"
![reactivity-bug](https://user-images.githubusercontent.com/640208/66714576-79847500-edb8-11e9-85bb-8f316f19cea3.gif)

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c175">#c175</a>)</em></sub></div>

[2019-10-13 14:18] talkor commented on #259
I can work on that

[2019-10-14 14:24] aytdm opened #263 "doc: Enable to translate the top page"
### What problem does this feature solve?

It solve the translation problems. Some wordings on the top page are hard-coded, so I will update for translation.

### What does the proposed changes look like?

+ [x] 1. Remove unused keys and values ​​from lang.json (in nuxt/docs)
+ [x] 2. Update "welcome" section and lang.json (in nuxt/docs)
+ [ ] 3. Update "mode" section
+ [ ] 4. Update "why" section

[2019-10-15 09:54] #253 closed

[2019-10-15 09:59] Atinux commented on #263
PR merged, step 1 completed :)

Thank you very much for your help @aytdm

[2019-10-15 10:00] Atinux commented on #256
![Screenshot 2019-10-15 at 12 00 13](https://user-images.githubusercontent.com/904724/66821816-5df9a580-ef43-11e9-802b-008d228ec47e.png)

I can visit the page 🤔

[2019-10-15 10:00] #256 closed

[2019-10-15 20:48] pierresaid opened #264 "Mobile navigation links not of same size"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

The clickable surfaces of links are not the same size.

### What is expected ?

![expected.png](https://cmty.s3.eu-west-1.amazonaws.com/73294699/5d7c2df0-ef8c-11e9-96a7-55be3717d3eb.png)

### What is actually happening?

![happening.pn

[2019-10-15 23:24] ppinto20 commented on #81
Check if swap is enabled on your server. This usually means that you server isn't really powerful and runs out of memory building the files. I had this problem before and fixed by adding swap on my server, more info: https://linuxize.com/post/how-to-add-swap-space-on-ubuntu-18-04/

[2019-10-16 00:24] mrtnzagustin commented on #81
@ppinto20 thanks! i've resized the DigitalOcean droplet to 2gb of ram and the build works properly. Anyway, i will build the app in an alternative pc and upload the neccesary files/container image (like it should be, not? -> build, release, deploy).
Thanks again!!

[2019-10-16 09:41] #264 closed

[2019-10-21 10:30] #263 closed

[2019-10-21 20:06] KarineLiuti commented on #267
I think this problem was solved. When I clicked the link, the titles was ok.

[2019-10-22 06:33] Airthee commented on #267
@KarineLiuti
The problem is still on this page : https://nuxtjs.org/guide/release-notes#v2.5.0

[2019-10-23 07:02] #267 closed

[2019-10-25 03:12] atymic opened #271 "500 error for google analytics page in FAQ"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/faq/google-analytics](https://nuxtjs.org/faq/google-analytics)

### Steps to reproduce

Open https://nuxtjs.org/faq/google-analytics

### What is expected ?

Page loads

### What is actually happening?

500 Error
https://sc.atymic.dev/a7846d.png

<div align="right"><sub><em>This bug

[2019-10-30 10:08] CyberAP opened #272 "Language switch in header"
### What problem does this feature solve?

Since the latest redesign it became very frustrating to switch the language. Language switch has moved to footer and now you have to scroll the whole page to change it. This is very frustrating because in some countries English locale works better (it's not blocked by ISP) and some locales are missing translations for the whole pages (in that case it woul

[2019-10-31 15:51] dennis47528 opened #274 "Nuxt svg logos are buggy"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/design](https://nuxtjs.org/design)

### Steps to reproduce

Look at the Nuxt logos in the following files:

- nuxt.svg
- nuxt-square.svg
- nuxt-white.svg
- nuxt-square-white.svg
- built-with-nuxt.svg
- built-with-nuxt-white.svg

### What is expected ?

The bugs shown in the 'What is

[2019-11-02 21:06] GuiguiWeb opened #275 "Update footer to enable translation"
### What problem does this feature solve?

It is not possible to translate the footer.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c185">#c185</a>)</em></sub></div>

[2019-11-02 21:12] GuiguiWeb opened #276 "Update pages to enable translation"
### What problem does this feature solve?

It is not possible to translate the following pages:
- https://fr.nuxtjs.org/themes
- https://fr.nuxtjs.org/design
- https://fr.nuxtjs.org/team
- https://fr.nuxtjs.org/shop
- https://fr.nuxtjs.org/sponsor-nuxtjs
- https://fr.nuxtjs.org/support

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> commun

[2019-11-12 23:02] Atinux commented on #274
Dammit, thank you, will fix ASAP

[2019-11-12 23:03] #271 closed

[2019-11-13 14:34] dennis47528 commented on #274
Thank you 👍 @Atinux
So many people used this buggy logo in their project, website etc. it's everywhere. Maybe you should make a small announcement on twitter with the nuxt account, so that everybody knows about this issue. Very sad that nobody noticed this ... for months 🙁

[2019-11-15 07:25] ngblaylock commented on #274
I just noticed this today, and have created a file that could be ready to use. Just a few notes on it:

1. I assumed that the logo was going for equilateral triangles, which my file uses. The transparent image is the SVG from the website, and the red lines are guides for how the new SVG file line up together.
![nuxt](https://user-images.githubusercontent.com/16627408/68924193-72e17880-073d-11ea-90

[2019-11-15 10:07] davidbailey00 opened #278 "Flash of unstyled content"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

1. Open Firefox
2. Visit https://nuxtjs.org/

### What is expected ?

There is no flash of unstyled content

### What is actually happening?

There is a brief flash of unstyled content

### Additional comments?

Doesn't occur in Chrome

[2019-11-18 15:05] Atinux commented on #274
Thank you so much @ngblaylock for the work on it, will update the Sketch file with the logos :)

[2019-11-18 15:23] #274 closed

[2019-11-29 11:02] webcoderkz commented on #188
I just renamed nuxt.config.js to nuxt.config.ts and it works. I'm using 2.10 version.

[2019-11-29 22:04] yozhsh opened #283 "Seo html head in code sandbox not found on ru version."
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://ru.nuxtjs.org/examples/seo-html-head/](https://ru.nuxtjs.org/examples/seo-html-head/)

### Steps to reproduce

Follow to this link - https://ru.nuxtjs.org/examples/seo-html-head/ and look at Sandbox application.
After execute previous step you can see Not Found.

### What is expected ?

Exampl

[2019-12-04 06:55] jigeshraval commented on #206
Please look at this blog for deployment instructions https://jigeshraval.com/en/blog/vue-js/nuxtjs-universal-application-deployment-in-cpanel

[2019-12-07 15:06] Erbenos commented on #278
It's hard to see what you consider unacceptable FOUC - only redraws I notice that may be deemed problematic are not actually caused by CSS but there seems to be some _search bar_ race condition issue. See:

Firefox: https://i.imgur.com/mZSPEB7.png (rarely loads as in Chrome)
Chrome: https://i.imgur.com/SYYTU3x.png

Overall the _search bar_ loading is a bit janky.

Is this what you meant?

The menu

[2019-12-07 18:35] davidbailey00 commented on #278
Here is what I am referring to: https://streamable.com/hkyg3 Apologies for not posting a video when creating the issue!

[2019-12-07 20:43] Erbenos commented on #278
Thanks for video, seems interesting, weirdly enough I couldn't reproduce.
Will see what can be done.

On Sat, 7 Dec 2019, 19:35 David Bailey, <notifications@github.com> wrote:

[2019-12-10 15:29] Erbenos commented on #278
I still couldn't reproduce the FOUC in the recording, its possible that I am not trying hard enough though. Can you narrow it down by trying to run Firefox in safe-mode https://support.mozilla.org/en-US/kb/troubleshoot-firefox-issues-using-safe-mode so that we can rule out any of your extensions causing the issue?

[2019-12-10 20:00] davidbailey00 commented on #278
Just tried in safe mode - the issue occurred once only on the first reload and not again. Maybe it's some kind of race condition which an add-on is influencing.

However, I was able to consistently reproduce the issue you described though, where the search bar's width was incorrect - it only displayed correctly on a full reload (Cmd+Shift+R).

[2019-12-10 20:03] Erbenos commented on #278
Thanks, if the safe-mode helped (with the first try exception), then I think closing this issue is justifiable as it really seems extension tinkers with something causing the FOUC you are seeing.

The incorrect search bar rendering should probably be moved to separate issue then. That one I can reproduce.

[2019-12-11 19:05] Erbenos opened #284 "Firefox navbar inconsistency"
It's hard to see what you consider unacceptable FOUC - only redraws I notice (with throttled download speed via dev tools) that may be deemed problematic are not actually caused by CSS but there seems to be some _search bar_ race condition issue. See:

Firefox: https://i.imgur.com/mZSPEB7.png (rarely loads as in Chrome)
Chrome: https://i.imgur.com/SYYTU3x.png

Overall the _search bar_ loading is a

[2019-12-11 19:05] #284 closed

[2019-12-11 23:09] Erbenos opened #286 "Homepage heading animation issue"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

1) Open https://nuxtjs.org/
2) Keep nuxtjs.org opened, in same browser window switch to different tab
3) Wait a while
4) Re-enter previously opened https://nuxtjs.org/ tab

### What is expected ?

Animation will continue playing as bef

[2019-12-11 23:11] #286 closed

[2019-12-11 23:11] Erbenos commented on #286
Wrong Repo, sorry.

[2019-12-12 16:21] EnzoBatista opened #287 "Duplicated Open Graph and Twitter Card"
How can i turn this ?

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c192">#c192</a>)</em></sub></div>

[2019-12-12 16:21] #287 closed

[2019-12-17 15:59] #272 closed

[2019-12-17 16:00] Atinux commented on #272
PR made by @Erbenos 👏

[2019-12-17 16:49] Atinux commented on #278
I cannot reproduce this issue

[2019-12-20 18:43] backent commented on #252
thanks. i really confuse because i make nuxt.config.js in the resource folder but it didn't take any effect. Even when i try to make that in route dir. Once again, thanks.

[2020-01-07 10:08] manniL opened #292 "Unfold changelog by default to fix permalinks"
When you currently link to a subheading of a Nuxt version changelog, e.g. https://nuxtjs.org/guide/release-notes/#dx-improvements-, it won't show the corresponding text as the changelog is collapsed by default. Either unfold by default *or* unfold when linked to a heading (might be more work).

[2020-01-09 23:47] bukhalo opened #293 "The Russian version of the docs does not open through Russian ISP's"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://ru.nuxtjs.org/](https://ru.nuxtjs.org/)

### Steps to reproduce

Open https://ru.nuxtjs.org/ through Russian ISP

### What is expected ?

https://ru.nuxtjs.org/ will successfully open

### What is actually happening?

https://ru.nuxtjs.org/ site does not open.

### Additional comments?

Due to

[2020-01-09 23:48] bukhalo commented on #293
<img width="660" alt="Screen Shot 2020-01-10 at 2 33 29 AM" src="https://user-images.githubusercontent.com/14031838/72114108-9ac31600-3353-11ea-9f2a-2abef7bbaaea.png">

And proof that the current IP is blocked.

_For non-Russian speakers. The screenshot shows the blocked IP address and document numbers, based on which the address is entered into the blocking register._

[2020-01-10 20:08] manniL commented on #293
The documentation is fully hosted on Netlify at the moment. Let's see if we can do sth.

[2020-01-15 20:03] vaad2 opened #295 "Turn off fade effect on documentation"
### What problem does this feature solve?

It would be nice to have a fade switch. When you need to concentrate it is only distracting.

### What does the proposed changes look like?

Remove fade effect or create toggle button.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/docs/issues/c235">#c235

[2020-01-16 22:06] asolopovas opened #296 "v-bind="$attrs" doesn't work in components"
Hi the $attrs property inside components is empty, `v-bind="$attrs"` does not seem to be working at all.

I have created test repository to illustrate the problem. https://github.com/asolopovas/-attrs-nuxt.

I am passing `class="logo"` [here](https://github.com/asolopovas/-attrs-nuxt/blob/master/pages/index.vue#L4) and then try reading the $attrs property inside logo component [here](https://githu

[2020-01-16 22:06] #296 closed

[2020-01-16 22:09] asolopovas opened #297 "v-bind="$attrs" does not seem to work in components"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://github.com/asolopovas/-attrs-nuxt](https://github.com/asolopovas/-attrs-nuxt)

### Steps to reproduce

Start dev version and check the attributes property inside logo component.

### What is expected ?

$attrs to contain `class="logo"` attribute

### What is actually happening?

$attrs are emp

[2020-02-14 04:08] lebow01 opened #301 "{ Error: read ECONNRESET at TCP.onStreamRead (internal/stream_base_commons.js:111:27) errno: 'ECONNRESET', code: 'ECONNRESET', syscall: 'read', headerSent: true }"
nuxtjs Demo
Nodejs v10.15.3
Edge Browser
Koa2

 { Error: read ECONNRESET     at TCP.onStreamRead (internal/stream_base_commons.js:111:27)   errno: 'ECONNRESET',   code: 'ECONNRESET',   syscall: 'read',   headerSent: true }

[2020-02-14 04:08] #301 closed

[2020-02-20 15:25] jossef commented on #54
suggesting to reopen. would be more elegant to use the component `nuxt-link` here with an option to go back

`<nuxt-link nuxt-link-go-back>...`

would you like me to PR this feature?

[2020-02-28 18:18] bdrtsky commented on #278
I am also can't reproduce this.

[2020-03-02 14:33] trollepierre opened #304 "Broken Code Sandbox"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/examples/seo-html-head#codefund_ad](https://nuxtjs.org/examples/seo-html-head#codefund_ad)

### Steps to reproduce

CodeSandbox broken

### What is expected ?

CodeSandbox working

### What is actually happening?

CodeSandbox broken

<div align="right"><sub><em>This bug report is av

[2020-03-03 10:05] IdrisN opened #305 "/faq/google-analytics/ failed to fetch in Google Chrome. Error Code 500"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/faq/google-analytics](https://nuxtjs.org/faq/google-analytics)

### Steps to reproduce

Open https://nuxtjs.org/faq/google-analytics in Google Chrome

### What is expected ?

The page content should be loaded

### What is actually happening?

Error Code 500 - Failed to fetch

### Ad

[2020-03-03 15:04] emilpriver commented on #54
This would be really useful. PR if you want to :D

[2020-03-04 09:52] bdrtsky opened #306 "Bug with scrollspy and smooth scroll"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/guide](https://nuxtjs.org/guide)

### Steps to reproduce

Go to https://nuxtjs.org/guide and click on sidebar links.

### What is expected ?

Expected correct scrollspy active link highlighting and all links work.

### What is actually happening?

Page jumps to top before smooth scr

[2020-03-05 07:51] hadelnasr opened #308 "Can't get back the cookies set from the server on page refresh"
in an universal mode, i have an api which i call it in the async asyncData method in my page and as a response it sets a cookie on navigation between routes correclty
BUT when refreshing the page the cookie didn't set up so, if i'm depending on this cookie for some logic for every page refresh the logic won't run as the cookie is null

[2020-03-05 07:51] #308 closed

[2020-03-05 14:34] bdrtsky opened #309 "Strange redirect when right click or ctrl+click on logo"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/api](https://nuxtjs.org/api)

### Steps to reproduce

If you navigate to https://nuxtjs.org/api and then try to right click (for example to open home page in new window) on it, then it's redirects to https://nuxtjs.org/design

If you try to ctrl + left click then it's navigates to m

[2020-03-05 23:53] bdrtsky commented on #305
This is happening because Adblock detects `google-analytics` keyword in URL. Probably URL for that page should be changed.

[2020-03-05 23:58] bdrtsky commented on #275
Footer? You mean translate interface text?
Right now only documentation translated. I agree, interface elements also should be translated.

[2020-03-06 00:02] bdrtsky commented on #245
With current design, header is already too crowded. Maybe something like dropdown should be introduced?

[2020-03-06 00:05] bdrtsky commented on #292
There's also a risk of duplicate ID for subheadings. They must be unique (may be add release version to ID)

[2020-03-06 02:26] manniL commented on #292
Good point!

[2020-03-06 10:05] IdrisN commented on #305
Disabling my adblocker solved it. I agree that the route should probably be changed.

[2020-03-06 12:33] bdrtsky opened #310 "Algolia search input improvements"
### What problem does this feature solve?

Would be nice to add this to Algolia search:

- [ ] When Algolia dropdown is opened, add closing when clicking outside of the component

- [ ] Add Clean entered text input and cross SVG icon to the right

- [ ] Enter dropdown animation? Not sure about this one. What do you think?

- [ ] Interaction feedback on focus (background? shadow?)

- [ ] Bug - http

[2020-03-06 16:32] GuiguiWeb commented on #275
@bdrtsky Yes ^^
Same with #276

[2020-03-07 22:56] bdrtsky commented on #231
This happens only after build. In dev everything's ok.

[2020-03-08 12:47] bdrtsky opened #311 "Header doesn't show after resize viewport with opened mobile Algolia search"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org](https://nuxtjs.org)

### Steps to reproduce

1. Click to open Search in mobile viewport
2. Resize viewport while it's opened

### What is expected ?

Search component expected to close while normal header shows instead.

### What is actually happening?

Search component disappears

[2020-03-08 16:25] bdrtsky opened #312 "Not clear what header_mobile_aside should be doing?"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org](https://nuxtjs.org)

### Steps to reproduce

Header component has `header_mobile_aside` block, which is right now not showing completely (has transform(-100%) applied). Not clear what is should be doing? It consumes data from `this.$store.state.menu[this.action]`, but looks like th

[2020-03-08 16:41] bdrtsky opened #313 "Add prettier?"
### What problem does this feature solve?

Would be nice to add auto code formatting, because lines are so long with Tailwind classes.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c208">#c208</a>)</em></sub></div>

[2020-03-08 17:09] bdrtsky commented on #309
Looks like this is intended. But why?

[code]

[2020-03-09 14:51] Atinux commented on #313
Sounds good to me @bdrtsky

[2020-03-17 09:10] Atinux commented on #309
Most people, when they right click on a logo, it's to get the image/svg, this is why I redirect to `/design`, like https://zeit.co is doing.

Actually, CMD + Click on the logo should work, so this is actually a bug on this part

[2020-03-28 22:26] bdrtsky commented on #229
I can't reproduce this. Can you still confirm this issue @pimlie

[2020-03-29 02:31] absentbri commented on #252
I was "pulling my hair out", thank you so much for even just posting this so google indexed it!

[2020-03-31 09:51] #309 closed

[2020-03-31 09:51] #310 closed

[2020-03-31 09:51] #311 closed

[2020-03-31 09:52] #312 closed

[2020-04-02 22:06] pimlie commented on #229
@bdrtsky Yep, its still happens. Note it only happens on a portrait screen, not landscape:
![image](https://user-images.githubusercontent.com/1067403/78304371-dd555280-753e-11ea-89b4-e7dbdc581e6e.png)

[2020-04-03 11:19] manniL opened #327 "Dark mode 404 page looks broken"
<img width="1615" alt="image" src="https://user-images.githubusercontent.com/640208/78355291-c13cca00-75ad-11ea-9400-14f3522a124e.png">

[2020-04-05 15:53] bdrtsky commented on #327
![Screenshot from 2020-04-05 18-52-59](https://user-images.githubusercontent.com/45076741/78503345-b1b8af00-776e-11ea-82ef-3d8204d1308f.png)

[2020-04-05 16:03] #327 closed

[2020-04-06 08:49] gaetansenn opened #330 "Alert text color"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://fr.nuxtjs.org/api/configuration-hooks/](https://fr.nuxtjs.org/api/configuration-hooks/)

### Steps to reproduce

Hello,

There is a problem with the text color from the alert at the top of the page.

![Screenshot 2020-04-06 at 10.41.40.png](https://cmty.s3.eu-west-1.amazonaws.com/73294699/4f0f

[2020-04-06 08:50] gaetansenn commented on #330
@serggonin

[2020-04-06 09:50] manniL opened #331 "Add anchor link for newsletter subscription"
Hey 👋🏻

I think it'd be very helpful to have an anchor link for the subscription to directly link to the box (e.g. `https://nuxtjs.org/#subscribe` or `https://nuxtjs.org/#newsletter`).

[2020-04-06 15:21] bdrtsky commented on #330
This already should be fixed with https://github.com/nuxt/nuxtjs.org/pull/307

[2020-04-06 17:22] bdrtsky commented on #331
Great idea, it's even simpler than making separate page.

[2020-04-07 16:17] #330 closed

[2020-04-07 16:24] #331 closed

[2020-04-07 23:09] ThibaultVlacich opened #337 "500 error"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/faq/google-analytics](https://nuxtjs.org/faq/google-analytics)

### Steps to reproduce

Go to https://nuxtjs.org/faq/google-analytics

### What is expected ?

The page appears

### What is actually happening?

A 500 error is raised

<div align="right"><sub><em>This bug report is ava

[2020-04-08 17:38] phated opened #340 "Old deploy previews are hanging around and being indexed/visited"
Through some analytics tools at Tidelift, we just noticed that https://5d0286549da19e58dab8c808--nuxt.netlify.com/ is still active and being used by people. Is there a chance this is still deployed and being indexed by google?

[2020-04-08 17:38] #340 closed

[2020-04-21 12:22] impressivewebs opened #347 "Add RSS Feed to Blog"
### What problem does this feature solve?

My feed reader can't find an RSS feed at:

https://nuxtjs.org/blog

Wil be easier to get notified of updates on the blog if there is a feed.

### What does the proposed changes look like?

https://nuxtjs.org/blog/feed.xml (or similar)

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a h

[2020-04-22 06:16] mrleblanc101 opened #349 "Navbar does not respect safe-area-inset and overlap iPhone X Home Indicator"
### What problem does this feature solve?

This would improve the mobile experience on iPhone X and newer as currently the bottom Navbar does not respect safe-area-inset for the Home Indicator

### What does the proposed changes look like?

Adding a padding-bottom: env(safe-area-inset-bottom) would prevent the Home Indicator from overlapping the Navbar.

![4B8FD155-028D-4C67-9676-BC7DC1A2978A.jpeg

[2020-04-22 06:26] mrleblanc101 commented on #349
I can work on this if someone gives me the go ahead. Shouldn't be too hard to fix.

[2020-04-22 07:41] Geminii commented on #349
Hi @mrleblanc101
You can purpose a PR for this fix :)
Just be careful about potential regression on other device.

[2020-04-23 02:35] mrleblanc101 commented on #349
There you go #351

[2020-04-27 11:00] bdrtsky commented on #349
Where is exactly the issue on image? We already had this before, but it was removed since it broke padding on every other device beside iPhone https://github.com/nuxt/nuxtjs.org/pull/299

[2020-04-27 11:10] bdrtsky commented on #337
Duplicate https://github.com/nuxt/nuxtjs.org/issues/305

[2020-04-27 11:10] #337 closed

[2020-04-27 11:49] mrleblanc101 commented on #349
@bdrtsky The issue it that the Navbar should not overlap the home indicator. That's why the same area inset API was created.

![image](https://user-images.githubusercontent.com/17392251/80368791-49d02280-885b-11ea-884b-099400d833d3.png)

The old solution did not work as you added padding in a fixed height container, which reduced the height of the content.
Ex: Container is 64px high. As you scroll

[2020-05-04 11:29] #349 closed

[2020-05-10 21:03] FloEdelmann opened #358 "Add "style guide" to docs"
### What problem does this feature solve?

It would be helpful to have a style guide, similar to Vue's (https://vuejs.org/v2/style-guide/), so that arbitrary choice in Nuxt.js apps is further reduced. Those guidelines could be enforced with a linter, like ESLint or its Vue Plugin.

In particular, a "Component options order" rule came to my mind. I've already opened a PR ([#1107](https://github.com

[2020-05-18 12:45] bdrtsky commented on #305
Should be fixed now https://github.com/nuxt/nuxtjs.org/pull/362

[2020-05-18 12:45] #305 closed

[2020-05-24 13:21] noname202 opened #365 "Route transition delay"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

Navigate the nuxtjs.org website.

### What is expected ?

Responsive user experience and almost no perceivable delays.

### What is actually happening?

When navigating the official NUXTJS website, page transitions feel kind of sluggis

[2020-05-25 08:31] kuhma commented on #295
Please, remove fade effect, this is really annoying and distracting.

[2020-05-27 06:37] tianyinggang opened #367 "nuxtjs可以和flask、django集成使用吗"

[2020-05-27 06:37] #367 closed

[2020-05-27 06:43] tianyinggang opened #368 "nuxtjs可以和flask、django集成使用吗"
<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c219">#c219</a>)</em></sub></div>

[2020-05-27 06:43] #368 closed

[2020-06-05 21:57] bdrtsky commented on #365
What exactly does this mean "page transitions feel kind of sluggish"?

[2020-06-06 09:06] noname202 commented on #365
Sorry for not being more precise.  Currently, the tailwind utility classes `transition-colors`, `ease-linear`, and most importantly `duration-300`  are used for the `body `element as well as each page's `div `container. While this has (at least from what I can judge) no visible effect on route / page transitions, the 0.3 s transition duration is still applied, effectively delaying route / page tra

[2020-06-06 12:20] bdrtsky commented on #365
I don't see any difference. This has CSS property has nothing to do with page transitions. Can you record the video what exectly you mean, or describe this effect that bothers you?

[2020-06-06 12:30] bdrtsky commented on #365
I see now. Well, this is unexpected behavior how TailwindCSS force us to us it's transition classes. It should be applied only for `background-color,border-color,color,fill,stroke` but it has this unexpected effect. Good catch.

[2020-06-06 12:35] noname202 commented on #365
Great. I have to admit that it's not super noticeable on desktop browsers. However on touch screen devices it's definitely subtracts from the perceived performance.

[2020-06-06 12:36] bdrtsky commented on #365
Yes, it is in purpose, to transition color mode switches. It was done be the way Tailwind suggest to use it's utility classes for transition, but looks it is very bad practice.

[2020-06-06 12:44] noname202 commented on #365
I really believe this should be fixed. Performance is a key motivation for using a framework like Nuxt. Thus artificially delaying route transitions on the project's official website doesn't make for a good first impression. Especially when compared to something like Next.js or Gatsby.

[2020-06-06 13:58] bdrtsky commented on #365
Page transitions actually doesn't have nothing to do with perceived performance. In practice, I saw plenty of cases when delay/loader/transition was added in purpose to not to overwhelm user with instant route navigation 😀

[2020-06-06 14:05] noname202 commented on #365
I was refering to a delay without any visual feedback. Transition animations like fade in can indeed enhance user experience.

[2020-06-09 14:22] aws95 opened #370 "store actiosn and mutations not updating the state"
<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c220">#c220</a>)</em></sub></div>

[2020-06-09 14:22] #370 closed

[2020-06-09 14:23] aws95 opened #371 "store actions and mutations not updating the state"
tis is my store :
export const state = () => ({
  products: [],
  categories: [],
  subCategories: []
});

export const getters = {
  getProducts(state) {
    return state.products;
  },
  getCategories(state) {
    return state.categories;
  },
  getSubCategories(state) {
    return state.subCategories;
  }
};
export const mutations = {
  SET_PRODUCTS(state, payload) {
    state.products = payloa

[2020-06-09 14:23] #371 closed

[2020-06-09 15:04] bdrtsky commented on #365
https://github.com/nuxt/nuxtjs.org/pull/366

[2020-06-09 15:04] #365 closed

[2020-06-15 13:40] rgeraldporter opened #372 "Installation page down"
### Version

[2.12.x](https://github.com/nuxtjs.org/releases/tag/2.12.x)

### Reproduction link

[https://nuxtjs.org/guide/installation](https://nuxtjs.org/guide/installation)

### Steps to reproduce

Page worked a few minutes ago, now is down. Checked multiple browsers and asked coworkers to also check, all see the same.

### What is expected ?

Should have install instructions

### What is actua

[2020-06-15 15:53] manniL commented on #372
Should be fine again!

[2020-06-15 15:53] #372 closed

[2020-06-16 15:55] codetheorist commented on #229
Confirming this is still an issue, in Chrome emulating a portrait iPad Pro

[2020-06-16 16:08] bdrtsky commented on #229
<img width="1131" alt="Screenshot 2020-06-16 at 19 08 11" src="https://user-images.githubusercontent.com/45076741/84799302-c2a25e00-b004-11ea-95de-8e419285fc50.png">

Can't reproduce.

[2020-06-19 09:05] codetheorist commented on #229
@bdrtsky It only happens in portrait mode

![nuxtjs org_guide](https://user-images.githubusercontent.com/22813671/85115903-59913500-b214-11ea-9f31-b6e8829fd767.png)
![nuxtjs org_guide (5)](https://user-images.githubusercontent.com/22813671/85115906-5ac26200-b214-11ea-9b80-6324f98093ee.png)

[2020-06-19 09:09] codetheorist commented on #229
[Example Video](https://youtu.be/x4NKI_wow3k)

[2020-06-19 09:15] codetheorist commented on #229
The only NOTICEABLE occurrence of this bug I can currently find is on the Typescript page however, some of the other pages do seem to include a relatively large section of unnecessary blank-space between the page content/menu and the footer area.

The bug does not happen on pages with long content.

[2020-06-19 17:37] bdrtsky commented on #229
Thanks, found the issue. I am on it.

[2020-06-20 12:19] ftpyz opened #378 "isFullStatic is not defined"
i upgrade nuxtjs 2.12 to 2.13 and run my project failed nuxtjs say to

\template\\nuxt\\config.json: isFullStatic is not defined

[2020-06-20 12:19] #378 closed

[2020-06-23 15:22] aws95 opened #379 "can i create multiple dynamic routes on the same level ?"

[2020-06-23 15:22] #379 closed

[2020-07-03 19:24] ScopeyNZ opened #385 "Extract docs server to a NPM package"
### What problem does this feature solve?

People (like myself) can't use Nuxt to render docs from markdown files on GitHub, without having to do all the scaffolding manually, or copying and pasting code from the nextjs.org repo. Additionally, having this functionality used independently should hopefully result in a more accessible contributor ecosystem meaning the docs module is more likely to ha

[2020-07-04 00:54] debs-obrien commented on #385
Thanks for your thoughts and efforts. We are releasing the new docs next week which will be using content module and all in one repo therefore much easier to work with. Once released please let us know what you think but it will be a huge improvement especially for contributing.

[2020-07-05 20:40] manavm1990 commented on #54
`<nuxt-link :to="this.$nuxt.context.from">` worked nicely 4 me.

[2020-07-06 12:12] #385 closed

[2020-07-06 16:19] ScopeyNZ commented on #385
Thanks for the feedback. I look forward to seeing the updates. I found the content module shortly after writing this and made it work for me. Thanks.

[2020-07-08 16:14] colbygarland opened #386 "Search field in header does not work"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/](https://nuxtjs.org/)

### Steps to reproduce

1. Press "/" to focus search field
2. Enter some text (for example, I searched for "async"
3. Press enter to search, or try to press the search icon

### What is expected ?

Search results are shown

### What is actually happening?

No

[2020-07-10 14:22] Hulkmaster opened #643 "document better middleware({ redirect })"
### Is your feature request related to a problem? Please describe.

middleware `redirect` with object is not documented

[code]
thats example works

### Describe the solution you'd like

better documentation on how to use this https://github.com/nuxt/nuxt.js/blob/b4d3ebf472a8b51b3c8b3f0c0162891987105d8d/packages/vue-app/template/utils.js#L168

### Describe alternatives you've considered

reading h

[2020-07-16 07:18] debs-obrien commented on #386
this should be resolved in new version out next week

[2020-07-16 07:18] #386 closed

[2020-07-24 12:54] pi0 opened #397 "[dev] use svg for vectors and diagrams"
Checking [guides](https://github.com/nuxt/nuxtjs.org/tree/dev/static/guides) directory, we are currently using jpeg and png for diagrams. Jpeg compression is always lossy and for png files are also using lossy compression format which decreases text readability and makes size bigger. I would recommend using SVG format as even internet explorer supports it.

<div align="right"><sub><em>This questio

[2020-07-24 12:56] pi0 opened #398 "[dev] publish assets in an open format"
Raw assets for diagrams is not published (or probably I'm missing). By publishing, contributors can modify them to update the docs. Ideally, we may also automate static assets generation from the source.

[2020-07-24 13:06] pi0 opened #399 "[dev] wrong context"
Checking latest version of [context](https://github.com/Krutie/nuxtjs.org/blob/0cfae1ee7755f28cddd92695c0decddf64bd43cb/static/guides/context.jpeg), these are not part of real nuxt context: `env`  and `isDev` are not part of nuxt context object but provided by webpack during build by usage for `process.*`. Maybe would be better to remove them to avoid misunderstanding or add a notice?

<div align=

[2020-07-24 14:09] pi0 opened #400 "[dev] modules diagram improvements"
Checking with [latest](https://github.com/nuxt/nuxtjs.org/blob/7a87b2c3ad6115d979fcaee8e0e89352702b87e3/static/guides/modules.jpg) version:

- `build.vendor` is not effective since nuxt 2.0 (module contamination created vendor and shared chunks automatically)
- "modules served thought npm packages and also be accessed via plugins" --> This is totally wrong because modules and plugins are not ina s

[2020-07-24 14:45] Krutie commented on #397
@pi0 Having images in an SVG format will be good. I'm able to export SVG (440KB) from LucidChart and then run it through SVGOMG to bring it little bit down to ~330KB. I can provide images in SVG format in future PRs.

[2020-07-24 14:51] Krutie commented on #399
@pi0 Will update soon. 👍

[2020-07-24 15:00] debs-obrien commented on #398
This is a great idea and would make it much easier to make minor changes when we update. What do you suggest @pi0, a folder called raw in static?

@krutie what do you think? Is it possible to upload the raw versions?

[2020-07-24 15:02] debs-obrien commented on #397
agree, svgs would be much better. is it possible to get the previous images in svg format @Krutie. Not urgent but whenever you have the time.

[2020-07-24 15:06] debs-obrien commented on #400
nice feedback @pi0 will leave this to @krutie as we don't have access to change the diagram.
Also @pi0  as per question in discord. Does it make sense to split this into 3 images that can then be used in the corresponding pages: plugins, modules and serverMiddleware instead of repeating the same image on these pages?

[2020-07-24 15:28] pi0 commented on #398
I've seen some publish as "artworks" with CC license. Using static or assets and including instructions in repo readme would be fantastic!

[2020-07-24 16:40] Krutie commented on #397
@debs-obrien Yes, certainly. I will send PR with SVG versions of context diagram (after implementing @pi0's changes) and Nuxt lifecycle image.

[2020-07-24 17:07] Krutie commented on #398
@debs-obrien Sorry, I'm little lost here. But, does raw versions mean editable versions?
If yes, then I can invite interested team member (by email address) in my Lucidchart account, and then he/she can edit the document.

@pi0 Can you show me such repo as an example, please?

[2020-07-24 17:12] Krutie commented on #400
`module, plugins & serverMiddleware` diagram was created long time ago, it's due for revision anyways. All good points above, @pi0
I'll make the revision soon.

[2020-07-24 18:37] debs-obrien commented on #398
Yes I think what Pooya means is if we dave the raw version say like photoshop would be a psd file then we modify the psd file and generate the pdf for example. Which sounds great but I think that might now work for Lucid as its editable version is in Lucid or can we save the Lucid editable version in a folder in the repo so that people can contribute and make minor changes when we have updates. Ye

[2020-07-26 08:19] manniL opened #402 "[dev] Nuxt.js vs NuxtJS vs Nuxt"
Hey all 👋

at the moment, the terms **Nuxt.js**, **Nuxt** and **NuxtJS** are not used consistently, nor they are "explained" somewhere.

From my current understanding, these terms are used like that:

* The *framework* = **Nuxt.js**
* The *company* = **NuxtJS**
* "Colloqiually" referrencing to the Framework and ecosystem (should be avoided) = **Nuxt**

---

## Questions

1. Is this still correct?

[2020-07-26 08:52] danielroe commented on #402
That's my read too. If `NuxtJS` is used for the company, I think it needs a little `?` icon or `<abbr>` popup that explains this.

[2020-07-27 06:56] debs-obrien commented on #402
Nuxt.js for framework and NuxtJS for company, correct. There were 2 instances in docs that had NuxtJS instead of Nuxt.js and that is now corrected. Nuxt can be used throughout documentation as it is explaining features, commands etc so using Nuxt is ok as we wouldn't say the Nuxt.js generate command as the Nuxt generate command sounds better here. Also Nuxt server etc. But referencing the framewor

[2020-07-27 13:51] debs-obrien commented on #402
We will have dedicated pages (discover section) in the new website to explain how the NuxtJS company was created with the success of the Nuxt.js framework.

[2020-07-27 14:20] manniL commented on #402
Great 👍🏻

Definitely, makes sense 👍🏻 "Nuxt.js generate command" would sound weird, indeed.

No worries! I only wanted to bring that topic up early so we all can apply the right terms from the start on 😋

Sounds good 👍🏻

[2020-07-27 14:21] #402 closed

[2020-07-27 14:39] pimlie commented on #402
If this is the case shouldnt the logo of the opensource framework also use a dot an lowercase js and not the company name?

[2020-07-27 16:55] alexchopin commented on #402
Hello everyone!
As it seems still not clear and important for some of you about the terminology, here more details:
Nuxt.js is the name of the Open source framework based on Vue.js.
Like most of JS project, we use to write/say the name of the project (Nuxt) without ".js" like Vue, React and more.
The NuxtJS company (originally named Orion at the early stage) is the company created by the creators

[2020-07-27 21:03] nicholasoxford opened #411 "Close button hard to see in dark mode"
### What problem does this feature solve?

In dark mode, it was hard to see an exit button when an image was full screen. I also think it is more intuitive to have to @click close when you click either the image or exit button, but that's personal opinion.

### What does the proposed changes look like?

I am making a PR.

[2020-07-27 21:30] manniL commented on #402
Thanks for clarifying the wording Alex 👍🏻

It is mostly important to me because not everyone is as "involved" as many of us are. I'm mostly worrying that people will use Nuxt.js and NuxtJS *interchangeably* and **think that these terms mean the same "thing"**, which they obviously do not.

To avoid that people make such a mistake, especially those who had just a few touch points with the framework

[2020-07-28 06:23] danielroe commented on #402
From a communications perspective, it might be easier and less confusing to use Nuxt.js and NuxtJS interchangeably, and just make a distinction between the NuxtJS _framework_ and the NuxtJS _company_, where relevant.

[2020-07-28 10:07] #411 closed, assigned to nobody

[2020-07-28 10:35] testrocket opened #423 "Incorrect article link behaviour on nuxtjs.org/blog"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[nuxtjs.org/blog](nuxtjs.org/blog)

### Steps to reproduce

1. Go to nuxtjs.org/blog
2. Open any blog post with cmd + mouse click (Mac) or ctrl + mouse click (Windows).
3. Link opens in a new tab but also navigates to the article. Now 2 same articles are open.

### What is expected ?

When using cmd /

[2020-07-29 06:43] sebmellen commented on #402
Hope it's alright to add a comment...

- [x] @danielroe from my perspective as a user, this is the clearest way to differentiate.

One way to do this is to attach the name of the company form when referencing the company. For example, as opposed to "NuxtJS", you could say "NuxtJS SARL/GmbH/Inc./etc.".

This makes it clear you are referencing the company, and also offers different naming that trans

[2020-07-30 00:10] Krutie commented on #399
Hey @pi0 I have updated the Context diagram as per your feedback above. Instead of removal, I have gone with adding a new note. You can see it on the top-left box against asterisk `*` character.
CC: @debs-obrien

![Nuxt Context 2020 v2](https://cdn.krutiepatel.com/2020-07/nuxt-2-14-context-v2.svg)

[2020-07-30 10:33] debs-obrien commented on #399
looks great 😊

[2020-07-30 11:11] pi0 commented on #399
Looking much better @Krutie :100: Maybe mentioning "during build as `process.*`" can make it even more readable but already awesome change!

[2020-07-30 13:29] Krutie commented on #399
@pi0 It's done!
PR sent - https://github.com/nuxt/nuxtjs.org/pull/444 Let me know if any issue.
![Nuxt Context 2020 v3](https://cdn.krutiepatel.com/2020-07/nuxt-2-14-context-v3.svg)

[2020-07-30 16:11] Atinux commented on #402
Thank you for your feedbacks.

Anytime we want to mention the company, it will be with NuxtJS Company (or NuxtJS SAS like @sebmellen suggested).

So you will mostly see NuxtJS Company and Nuxt.js Framework (or Nuxt Framework).

[2020-07-31 08:10] debs-obrien commented on #399
merged

[2020-07-31 08:10] #399 closed

[2020-08-04 13:52] #231 closed

[2020-08-04 13:54] #292 closed

[2020-08-05 10:15] febrihidayan opened #468 "Change the video url on the homepage"
I get bad news where the url https://player.vimeo.com/video/311756540 with the vimeo.com domain has been blocked.
This blocking applies in the country of Indonesia, it is blocked based on expressions from [Kominfo Indonesia for vimeo.com](https://kominfo.go.id/index.php/content/detail/3984/Siaran+Pers+No.+30+-PIH-Kominfo-5-2014+tentang++PENANGANAN+VIMEO.COM+/0/siaran_pers). So, this blocking makes

[2020-08-05 10:15] #468 closed

[2020-08-06 09:55] blowsie opened #479 "Documentation: Add docs for debugging nuxt.js"
### What problem does this feature solve?

Developer experience, also might reduce the number of issues reported if devs knew how to step through the code when required.

### What does the proposed changes look like?

Add simple debugging examples using

VS Code
WebStorm
Chrome

[2020-08-08 06:23] Krutie commented on #400
Hey @debs-obrien & @pi0 I have created **Plugin** diagram and updated it according to Pooya's comments above.
- Plugin has enough information to become standalone diagram on its own. So, the module-explainer diagram will be separate to this one.
- This version is created using Draw.io, and exported as an SVG (45kb).

Both of your feedback is most welcome.
![Nuxt Plugins](https://nuxt-diagrams-temp

[2020-08-08 14:09] Krutie commented on #398
Hey @debs-obrien & @pi0 I have created a repo to test out the _raw-version-idea_ as mentioned above.

Here's the test repo, https://github.com/Krutie/nuxt-diagrams Please try editing the diagram as per the instructions found in README file. Let me know if anything doesn't make sense.

If this works out as expected, then yes, we can add `.drawio` files of each diagrams into `static/raw` folder alon

[2020-08-08 18:57] #423 closed, assigned to nobody

[2020-08-11 07:23] debs-obrien commented on #400
hey @Krutie after meeting yesterday with @pi0 this is good to go for pr to guides to replace old image. Then just create a raw folder inside static folder and add the raw file there. Amazing work. well done

[2020-08-11 14:18] Krutie commented on #400
Thanks @debs-obrien Next up is the image for _Modules_ page. I'll keep you both updated as I progress through.
cc: @pi0

[2020-08-13 09:31] nshutijean opened #508 "Blog: Page reloads itself"
The **Nuxt Content module** blog post reloads itself, everytime i switch to another tab and back
link: t.ly/wx0b

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/nuxtjs.org/issues/c239">#c239</a>)</em></sub></div>

[2020-08-13 09:31] #508 closed

[2020-08-13 16:34] CavalcanteLeo opened #511 "[OFF TOPIC] even nuxt makes some erros"
<img width="1263" alt="Captura de Tela 2020-08-13 às 13 35 13" src="https://user-images.githubusercontent.com/1735944/90161662-d7337600-dd69-11ea-9873-0eeb1c213f18.png">

[2020-08-14 13:18] #500 closed, assigned to TheAlexLichter

[2020-08-14 19:55] tonylangworthy commented on #511
I've also been seeing the 500 error frequently, buy I only notice it when the page is inactive for awhile. For instance, if I leave the computer, then come back to it and open the documentation, and click a link, that's when I see the 500 error.

[2020-08-14 20:13] debs-obrien commented on #511
Thanks for the feedback. Yes I did notice that too and am wondering if it is a service worker issue. Will dig into it and see what I can find.

[2020-08-14 20:17] tonylangworthy commented on #511
Thank you.

[2020-08-15 01:23] gregbenner opened #697 "Example with blog feature"
### Is your feature request related to a problem? Please describe.

I would like an example with more robust blog features like, a sitemap and a feed (xml, rss) and working search, and static generation working

[2020-08-15 15:22] nekdolan opened #518 "Misleading documentation "Going full static""
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/blog/going-full-static](https://nuxtjs.org/blog/going-full-static)
https://nuxtjs.org/guides/features/deployment-targets#static-hosting

### Steps to reproduce

Go to https://nuxtjs.org/blog/going-full-static / https://nuxtjs.org/guides/features/deployment-targets#static-hosting
I m

[2020-08-17 12:37] alexlalves opened #523 "FAQ Pages in docs niether are in the beta guides nor do they have their contribution open"
### Version

[v1.1.0](https://github.com/nuxtjs.org/releases/tag/v1.1.0)

### Reproduction link

[https://nuxtjs.org/faq/duplicated-meta-tags](https://nuxtjs.org/faq/duplicated-meta-tags)

### Steps to reproduce

* Access reproduction link
* Read at the end of the page **Contribution for this page is now closed. If you would like to contribute please check out our new docs are now in beta. Have fu

[2020-08-17 13:30] #518 closed, assigned to nobody

[2020-08-17 13:50] #523 closed, assigned to nobody

[2020-08-18 04:41] AurorahHarmony opened #673 "Incorrect Code Example"
### Version

[2.14.0](https://github.com/docs/releases/tag/2.14.0)

### Reproduction link

[https://nuxtjs.org/guides/concepts/server-side-rendering#extend-and-control-the-server](https://nuxtjs.org/guides/concepts/server-side-rendering#extend-and-control-the-server)

### Steps to reproduce

Documentation is slightly misleading. File path does not relate to previous step. There should not be a col

[2020-08-18 10:01] dosstx opened #630 "Request: Add a guide on how to set up a Universal/SSR app on Firebase"
Currently, there is documentation for how to set up a Nuxt static app on Firebase, but there is none for setting up universal apps. Is it possible someone could add a tutorial on how to set up Nuxt universal apps on Firebase? There are many great tools at Firebase for Nuxt apps!

[2020-08-20 18:00] pi0 opened #531 "Wrong section for `modulesDir`"
`modulesDir` is documented in [modules](https://nuxtjs.org/guides/directory-structure/modules) section where as it is a general [nuxt-config](https://nuxtjs.org/guides/directory-structure/nuxt-config) option used for (advanced) modifying **node_modules** search path. Naming may be improved.

[2020-08-20 18:02] pi0 opened #532 "Document module+runtimeConfig integration"
Maybe inside [modules guide: snippets](https://nuxtjs.org/guide/modules#common-snippets) we can document some tips about how to integrate modules with runtimeConfig. [discussion](https://github.com/nuxt/nuxt.js/discussions/7950#discussioncomment-53850)

[2020-08-21 14:59] hecktarzuli opened #533 "Document asyncData/fetch + mixin = overwritten"
I was looking today and didn't seem to find this documented.

If you have asyncData or fetch in a mixin, they will be overwritten and not called by the local component instance.

[2020-08-24 11:09] debs-obrien commented on #531
https://github.com/nuxt/nuxtjs.org/pull/541

[2020-08-24 11:18] #531 closed

[2020-08-24 13:10] debs-obrien opened #543 "[Spanish] translate new guides"
Looking for help to translate our website to Spanish. It has already been setup but we would love some help translating the guides folder. See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will mer

[2020-08-24 13:26] debs-obrien opened #544 "[Japanese] translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [x]  i18n file （ #1393 ）
- [x]  i18n block on

[2020-08-24 13:30] debs-obrien opened #546 "[Korean]: translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [x]  i18n file
- [x]  i18n block on nuxt.conf

[2020-08-24 13:35] debs-obrien opened #547 "[Chinese] translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [ ]  i18n file
- [ ]  i18n block on nuxt.conf

[2020-08-24 13:36] debs-obrien opened #548 "[Russian] translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [ ]  i18n file
- [ ]  i18n block on nuxt.conf

[2020-08-24 13:37] debs-obrien opened #549 "[Indonesian] translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [ ]  i18n file
- [ ]  i18n block on nuxt.conf

[2020-08-24 13:37] debs-obrien opened #550 "[French] translate new guides"
French translation is almost finished under this draft pr:https://github.com/nuxt/nuxtjs.org/pull/704

[2020-08-24 13:44] debs-obrien commented on #544
@aytdm if you have time or can ping any of the amazing Japanese who have previously helped with our docs

[2020-08-24 13:47] debs-obrien commented on #546
@wonny-log I created this issue incase it makes it easier to continue to make contributions to the translations and incase anyone wants to help you 😊

[2020-08-24 13:50] debs-obrien commented on #549
@andriannus @febrihidayan hey guys, I created this issue to help with the translating of the guides section. Feel free to work away at it or perhaps others might join you and help translating. Thanks 😊

[2020-08-24 13:57] aytdm commented on #544
@debs-obrien Thanks. I'd like to move forward with the translation with members of the Vue.js Japan user group (@inouetakuya, @53able and @aytdm). There are many other untranslated documents in addition to the `guides`, so we'll proceed step by step💪

[2020-08-24 14:11] debs-obrien commented on #544
fantastic. feel free to add a task list or however you would prefer to do it. The guide and api section will soon be removed once the guides section is translated. Examples, faq and resources will be moved to a new section and will be improved. We are working on this at present but it will be a while before released. Guides would be the best place to start in my opinion as this is the new en versi

[2020-08-24 14:58] aytdm commented on #544
Thank you for the helpful information. If `guide` and `api` section will be removed, then as you say, `guides` should be priority to translate.

This is off the topic, but could you give us the access rights to review and merge PR? Similarly to `nuxt/docs`, we would like to promote the translation of Japanese documents under the leadership of the Vue.js Japan user group. (We'd like to release a do

[2020-08-24 15:01] febrihidayan commented on #549
@debs-obrien Okay, I'll make time for that 😁

[2020-08-24 15:17] debs-obrien commented on #544
@pi0 is there a way to give access to review and merge for only the content/ja part of the website or how can we best work so that the Vue.js Japan team can merge without me having to review.

[2020-08-24 15:35] debs-obrien commented on #546
@seongjin605 if you are interested in helping out with translations then here are details of what needs to be done for the guides section. Feel free to help where and when you can 😍

[2020-08-24 15:41] debs-obrien opened #555 "[Persian/Farsi (فارسی)] translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [ ]  i18n file
- [ ]  i18n block on nuxt.conf

[2020-08-24 15:43] debs-obrien commented on #555
Hi @AdnanBabakan if you would like to continue with contributing to the translations then this list of tasks might help. Take one and work away when you can. Thanks 😍

[2020-08-25 00:03] seongjin605 commented on #546
@debs-obrien Of course, you are so kind. Thank you for your suggestion :)

[2020-08-25 02:22] wonny-log commented on #546
@debs-obrien oh thanks for your kind! 😆

[2020-08-25 07:18] debs-obrien opened #560 "[Turkish] translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [ ]  i18n file
- [ ]  i18n block on nuxt.conf

[2020-08-25 07:23] debs-obrien commented on #560
@eggsydev hi, tagging you here incase you want to make some progress with the guides section of the docs. Feel free to reach out to others you know who might also be able to help

[2020-08-25 08:40] febrihidayan commented on #549
Hai @andriannus, apakah Anda bisa berkerjasama untuk terjemahkan ke bahasa Indonesia. Jika Anda bersedia silakan terjemahkan untuk bagian `guides -> directory structure`. Saya sedang melakukannya di bagian lain. Thanks 😀

[2020-08-25 09:57] debs-obrien commented on #511
This should now be fixed. if however you come across this error again please let us know. Thanks 🙃
Ref: https://github.com/nuxt/nuxtjs.org/pull/540
https://github.com/nuxt/nuxtjs.org/pull/554
https://github.com/nuxt/nuxtjs.org/pull/567

[2020-08-25 09:57] #511 closed

[2020-08-25 16:27] borisdayma commented on #511
@debs-obrien I really like to look at this repo for best practices.
I didn't understand what was the problem here.
Why did you have to make a specific page instead of just using the error layout? Also why would it fix the issue?

[2020-08-25 19:51] hecktarzuli opened #575 "Horizontal scroll appears on mouse-over the right menu in Guides"
Since the menu items on the right move when you mouse over them, there are some cases where a horiz scroll appears as you move over them.

My guess is the container needs overflow-x: hidden

https://nuxtjs.org/guides/internals-glossary/context#from
![image](https://user-images.githubusercontent.com/2112282/91220553-f32c0580-e6e1-11ea-8f59-b5307c671247.png)

[2020-08-26 07:24] debs-obrien commented on #511
It was actually a suggestion from  @Atinux I believe because we are using content for everything throughout the site and it was taking time to load the db.json as it is so big so it was using spa fallback which means we were not getting the 404 page and instead we were getting the spinner for ages and then the 404 page sometimes with 500 error. Although there seems to be 2 different problems here.

[2020-08-26 12:46] borisdayma commented on #511
Thank you so much @debs-obrien . This site is a great showcase so it's nice to look at how is built!

[2020-08-26 17:40] AdnanBabakan commented on #555
Hi @debs-obrien!
Thanks for this list, I will definitely follow.

[2020-08-26 21:44] hecktarzuli commented on #575
Should I instead open this in the nuxt/content repo?

[2020-08-27 06:04] debs-obrien commented on #575
No. Although the website uses content it is not using content theme like the docs for modules are. So this issue is correct in being related to this project.

[2020-08-27 07:15] debs-obrien commented on #575
Thanks @hecktarzuli: https://github.com/nuxt/nuxtjs.org/pull/579

[2020-08-27 07:15] #575 closed

[2020-08-27 07:41] alvarosaburido commented on #543
Hi Debbie, I can contribute, only one question, is _one page - one PR_ or I can take several pages at once?. Also, do you have any special format for branch names  and commit messages?

[2020-08-27 08:04] debs-obrien commented on #543
hey, thanks. you can take as many pages as you like. What I would do is mark the check box of the ones you are going to do so that noone else spends time doing the same ones then just work away on a branch for example feat/translate-spanish or similar for commit messages you can just put docs: translate spanish or similar. Feel free to create a draft pr and only merge when you are finished or subm

[2020-08-27 08:07] debs-obrien opened #580 "[Vietnamese] translate new guides"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [ ]  i18n file
- [ ]  i18n block on nuxt.conf

[2020-08-27 08:17] mayashavin commented on #580
Taken this under my wings ;)

[2020-08-27 08:48] alvarosaburido commented on #543
I will take care of:
- [x]  pages-fetch.md
- [x]  pages-head.md

Not sure why I can't check the list  you provide 🤷

[2020-08-27 09:13] CristalT commented on #543
Hi @debs-obrien
I'm in a similar situation of @alvarosaburido I don't know how to check the issue's list. I'm translating:

- pages-key.md
- pages-layout.md

[2020-08-27 09:18] febrihidayan commented on #543
It can be done, try cloning

[2020-08-27 10:06] alvarosaburido commented on #543
@febrihidayan what do you mean by cloning? I guess is more a restriction to edit someone else's comment

[2020-08-27 10:10] jefrydco commented on #549
Hi Mas @andriannus dan Mas @febrihidayan , saya ada saran, mungkin untuk mencegah kita mengerjakan berkas yg sama, bisa komen terlebih dahulu di sini mau mengerjakan berkas yg mana. Misalkan,

Dan mungkin kalau bisa pengerjaannya per berkas dan PR yg dibuat juga memuat perubahan yg tidak terlalu banyak agar lebih mudah pengecekannya. 😀

[2020-08-27 10:15] debs-obrien commented on #543
perhaps it is. never tried it

[2020-08-27 10:22] CristalT commented on #543
I see somes todo items checked, who did it? How?

[2020-08-27 10:29] alvaroOnCode commented on #543
Same here

[2020-08-27 10:41] alvaroOnCode commented on #543
I am translating the guides/get-started  directory in case someone else is on it

[2020-08-27 10:47] debs-obrien commented on #543
I did it as not sure if you all can 🤷‍♀️

[2020-08-27 10:48] debs-obrien commented on #543
ok @alvaroOnCode I ticked them off so they are all yours.

[2020-08-27 11:00] febrihidayan commented on #549
@jefrydco oke, untuk saat ini saya tidak membuat PR, mungkin akan saya lakukan di waktu libur kerja

[2020-08-27 11:02] febrihidayan commented on #549
@jefrydco Bagaimana dengan Anda, apakah sedang membuat PR?

[2020-08-27 11:12] CristalT commented on #543
ok @debs-obrien to make it easer, could you tick "guides -> concepts" items? I'll be translating them.

[2020-08-27 11:45] febrihidayan commented on #549
Ini sebagai info berkas yang sudah selesai [id](https://github.com/nuxt/nuxtjs.org/tree/master/content/id/guides)

📝 guides -> components glossary (menyusul)

* [x]   pages-fetch.md
* [x]   pages-head.md
* [x]   pages-key.md
* [x]   pages-layout.md
* [ ]   pages-loading.md
* [ ]   pages-middleware.md
* [ ]   pages-scrolltotop.md
* [ ]   pages-transition.md
* [ ]   pages-validate.md
* [ ]   pages-w

[2020-08-27 11:50] alvarosaburido commented on #543
@debs-obrien please check: guides -> components glossary->  pages-fetch.md merged here https://github.com/nuxt/nuxtjs.org/pull/581

[2020-08-27 13:53] CristalT commented on #543
I have a question for traducers @alvarosaburido and @alvaroOnCode
Are you writing in formal or informal spanish? (Usted vs Tu)
Just to unify criteria.

[2020-08-27 13:59] alvarosaburido commented on #543
@CristalT I think formal is more adequate for documentation.  Im using "vuestra/o" normally. "Usar" por "utilizar". And so on.

[2020-08-27 14:22] alvaroOnCode commented on #543
I'm using **Tú** not Usted, I don't think it's necessary to use formal Spanish. I use formal Spanish when I talk to old people to show respect mostly but it sounds weird to me in technical documentation. But that's my opinion.

[2020-08-27 14:59] CristalT commented on #543
I'm accord with @alvaroOnCode
I think that if we use the informal way, we could achieve a more friendly documentation.

[2020-08-27 15:02] debs-obrien commented on #543
yes tu instead of usted would be better. Usted is way too formal in Spanish in my opinion. I don't think I have every used Usted

[2020-08-27 15:39] agnelnieves commented on #543
Taking care of
📝 guides -> directory structure

- [ ] assets.md
- [ ] components.md
- [ ] layouts.md
- [ ] pages.md

[2020-08-27 15:53] jefrydco commented on #549
Hi Mas @febrihidayan , saat ini saya belum memulai untuk menerjemahkan dokumentasi Nuxt.js ke Bahasa Indonesia. Jika saya sudah mulai menerjemahkan, saya akan memberi komentar pada isu ini.

Hal tersebut di atas saya sarankan karena saya saat ini juga sedang menerjemahkan dokumentasi TypeScript ke dalam Bahasa Indonesia. Saya rasa akan lebih baik jika ada penerjemah Bahasa Indonesia lain yang dapa

[2020-08-27 19:52] mblayer commented on #543
I will take care of

📝 guides -> components glossary
   pages-loading.md
   pages-middleware.md
   pages-scrolltotop.md

[2020-08-27 21:00] rsdiaz commented on #543
I will take care of

- [ ] 18n file

[2020-08-28 00:13] febrihidayan commented on #549
@jefrydco baik mas, saya akan coba menyelesaikan untuk Nuxt.js. Jika terjemahan TypeScript sudah selesai 👏, barang kali saja juga bisa ikut terjemahan di TypeScript 😁

[2020-08-28 00:47] jefrydco commented on #549
Hi @debs-obrien , in my opinion it is better if we can implement this GitHub Action https://github.com/orta/code-owner-self-merge for translation effort in Nuxt.js docs. The idea is, we choose several contributor to be code owner of each translation directory, since we already separated the translation according to its language.

Let say, @febrihidayan and @andriannus is the code owner for Indones

[2020-08-28 01:25] febrihidayan commented on #549
@jefrydco Iya itu benar, mas. itu sangat membantu👏

[2020-08-28 01:48] jefrydco commented on #400
Hi sorry, for jump in. For this kind of diagram, do we need to translate it as well? Since it also contains english text description in it

[2020-08-28 02:09] rodzy commented on #543
Hi, from now I will take care of:

📝 guides -> internals glossary

- [x] $nuxt.md
- [x] context.md
- [x] internals.md
- [x] internals-builder.md
- [x] internals-generator.md
- [x] internals-module-container.md

😄

[2020-08-28 08:08] debs-obrien commented on #400
Hey @jefrydco that is a great question. To be honest it is not necessary but it can be done as the raw file is included so I will leave that up to anyone who wants to give it a go. It's a nice extra but it's not a must for the docs to be released in another language.

[2020-08-28 09:31] matias220510 commented on #543
Hi @debs-obrien ! I can work on these:

📝 guides -> features

- [ ] configuration.md
- [ ] data-fetching.md
- [ ] deployment-targets.md
- [ ] file-system-routing.md
- [ ] live-preview.md
- [ ] loading.md
- [ ] meta-tags-seo.md
- [ ] nuxt-components.md
- [ ] rendering-modes.md
- [ ] transitions.md

Could you please thick them for me?
Thanks!

[2020-08-28 10:09] debs-obrien commented on #543
sure @matias220510 fantastic thanks. make sure you pull latest changes from master for live-preview as we just pushed some changes to that page which will be live shortly.

[2020-08-28 10:19] oiagorodrigues commented on #400
I do like the idea of translating the images as well. How did you do the diagrams @debs-obrien @Krutie ?

[2020-08-28 10:25] debs-obrien commented on #400
@oiagorodrigues So you will find the raw version in the static folder. We only have 1 that is editable at the moment plugins.draw.io. From there you will need to open the file in finder and then you can drag and drop it into - https://app.diagrams.net/. Then make your changes and export as svg and upload to static folder under guides with perhaps an es folder inside the guides folder and then just

[2020-08-28 10:32] nainardev opened #672 "[DOCS] Double Scrollbar (Guide section)"
Right of Platinum Sponsers
If you cant see, zoom the page layout!
![image](https://user-images.githubusercontent.com/59839368/91551504-e14b9c00-e947-11ea-98f1-6b2a36126be9.png)

[2020-08-28 11:47] aytdm commented on #544
@pi0 @debs-obrien How about using [CODEOWNERS](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners)? I think this way can be restrict access right subject to directory.

[2020-08-28 11:59] oiagorodrigues commented on #400
By "es folder" you mean a language folder?

[2020-08-28 12:30] nainardev opened #671 "[DOCS] Low Contrast for Current page Indicator in Links"
[Link](https://nuxtjs.org/guides/get-started/installation) - Turn on Dark Theme
In the side navbar for important links in docs, current page in the list is indicated by a background colour. But in dark theme, contrast of text goes so low that its barely readable
### Problem
Currently,
Text colour `#276749`
Background colour `#00C58E`

![Screenshot (855)](https://user-images.githubusercontent.com/5

[2020-08-28 15:07] debs-obrien commented on #544
Very interesting. Looks great. Will leave @pi0 to decide on if it makes sense to setup. Until then feel free to just work away and add me as a reviewer when ready to merge.

[2020-08-28 15:07] debs-obrien commented on #400
correct sorry, pt in your case @oiagorodrigues

[2020-08-28 15:28] oiagorodrigues commented on #400
Awesome. I'll do that as soon as I have some time.

[2020-08-28 15:37] aytdm commented on #544
Thank you ☺️

[2020-08-28 16:06] orta commented on #549
Feel free to ask question in the [TypeScript Community discord](https://discord.gg/typescript) about how we do translation stuff

[2020-08-29 13:32] AdnanBabakan commented on #555
Completed tasks list:
- [x] i18n file
- [x] i18n block on nuxt.config

[2020-08-30 16:01] trastanechora commented on #549
Halo mas @andriannus @febrihidayan, saya ingin membantu untuk menerjemahkan bagian `guides -> directory structure`. Mohon balas sebagai tanda approval supaya bisa diketahui bahwa belum ada progress di bagian tersebut dan jika disetujui maka tidak dikerjakan berulang oleh orang lain.

[2020-08-30 16:11] febrihidayan commented on #549
@trastanechora silahkan, mas lanjut. Mohon untuk buat list filenya ya mas. Biar bisa di lihat apa saja yang sudah di tambahkan

[2020-08-30 16:59] trastanechora commented on #549
Satu-persatu saja ya mas @febrihidayan saya tandai dengan PR nantinya, untuk check-list file ikut komentar pertama di issue ini saja.

[2020-08-30 23:04] febrihidayan commented on #549
@trastanechora nggak apa apa, mas. Yang penting selesai 👏

[2020-08-31 02:57] burhanahmeed commented on #549
Halo mas @febrihidayan , saya mau mencoba bantu terjemahkan bagian,

:memo:  guides -> features
- configuration.md
- data-fetching.md

[2020-08-31 06:20] febrihidayan commented on #549
@burhanahmeed Silakan, mas 👏

[2020-08-31 12:19] lecoueyl opened #624 "Search field display is ruptured"
## Description

From the following commit https://github.com/nuxt/nuxtjs.org/commit/40e83a976435eaf73faa3e79d81d64671484743b#diff-f332d6095fb5ad28b916b08cf5426070

The search field display is ruptured:
- The search icon is clung to the input field
- RTL used by default

The `rtl.css` style is overriding the tailwindcss style for all language direction.

#### In english
<img width="1282" alt="Captu

[2020-09-01 02:45] akwanmaroso commented on #549
Halo, mas @febrihidayan , saya akan coba membantu menterjemahkan bagian ini
guides - > configuration-glossary
[ ] configuration-cli.md
[ ] configuration-target.md
[ ] configuration-srcdir.md

[2020-09-01 02:47] akwanmaroso commented on #549
Halo mas @febrihidayan , saya mau mencoba bantu terjemahkan bagian:
guides -> configuration-glossary
- [ ] configuration-cli.md
- [ ] configuration-target.md
- [ ] configuration-srcdir.md

[2020-09-01 02:59] febrihidayan commented on #549
@akwanmaroso Baik, mas. Silakan dilanjutkan 👍

[2020-09-01 05:19] trastanechora commented on #549
Apakah teman-teman setuju jika opsi bahasa berikut
![Screen Shot 2020-09-01 at 11 59 55](https://user-images.githubusercontent.com/35373442/91797216-3808ec80-ec4c-11ea-9a6f-6a07f97ef0cc.png)

Yaitu `Indonesian` dirubah ke `Bahasa Indonesia` menjadi seperti berikut
![Screen Shot 2020-09-01 at 12 10 28](https://user-images.githubusercontent.com/35373442/91797284-5f5fb980-ec4c-11ea-8a9b-23b13c9fa473.

[2020-09-01 07:45] febrihidayan commented on #549
Ide bagus juga mas, kalau bisa bahasanya nggak pakai jadi _Indonesia_ saja

[2020-09-01 10:28] trastanechora commented on #549
Usulan saya di atas merujuk dari situs <a href="https://vuejs.org/">Vue</a>

Nation: `Indonesia`
Nationality: `Indonesian`
Language: `Bahasa Indonesia` / `Bahasa`

IMHO untuk menerjemahkan dokumentasi resmi seperti ini ada baiknya jika bisa lebih terstruktur dan dikoordinasikan dengan komunitas terkait jika ada, atau minimal merujuk ke sumber yang sudah ada dan hindari opini pribadi. Mas bisa memb

[2020-09-01 10:32] danilhendras commented on #549
Halo mas @febrihidayan , saya mau mencoba bantu menerjemahkan bagian:
guides -> features:

- [ ] rendering-modes.md
- [ ] deployment-targets.md

[2020-09-01 10:59] febrihidayan commented on #549
@trastanechora oh, begitu. Baik mas, jalankan saja dulu semoga aja yang baca mengerti dengan baik dan menggunakan kata yang baku

[2020-09-01 10:59] febrihidayan commented on #549
@danilhendras Silakan, mas 😀

[2020-09-01 12:01] #624 closed

[2020-09-01 13:16] jefrydco commented on #549
Untuk menghasilkan terjemahan yang baik, mungkin teman-teman dapat mengacu pada daftar kata pada Glosarium berikut:

https://github.com/vuejs-id/docs/blob/master/GLOSARIUM.md

Jika terdapat kata asing yang belum tercantum dalam glosarium tersebut mungkin bisa kita diskusikan bersama. Teman-teman juga dapat bergabung ke grup Discord Frontend Indonesia di (https://s.feid.dev/discord), di sana terdap

[2020-09-02 05:27] Jchann24 commented on #549
Halo @febrihidayan, saya ingin membantu, apakah masih ada bagian yang belum diambil?

[2020-09-02 05:30] febrihidayan commented on #549
@Jchann24 kelihatannya 📝 guides -> directory structure, belum ada mas

[2020-09-02 06:15] Jchann24 commented on #549
📝 guides -> directory structure
- [ ]  dist.md
- [ ]  static.md

@febrihidayan , saya coba bantu ini ya. Sambil belajar 🎒 ☺️

[2020-09-02 09:20] pi0 opened #636 "Azure deplyoment is outdated"
- https://github.com/nuxt/create-nuxt-app/issues/563#issuecomment-663526975
- https://nuxtjs.org/faq/deployment-azure-portal/

The backend option is deprecated and removed from `create-nuxt-app`

[2020-09-02 11:21] Dawntraoz commented on #543
Hi folks, I will take care of the following pages, we are almost there!! So hard work here 😍

- [ ] configuration-env.md
- [ ] configuration-extend-plugins.md
- [ ] configuration-global-name.md
- [ ] configuration-head.md

[2020-09-02 13:33] livelyPeng opened #638 "Nuxt parsing MD files??? invalid??"
build: {
    cssSourceMap: false,
    extractCSS:true,
    vendor: ['axios'],
    transpile: [/^element-ui/],
    loader:[
      {
         test:/\.sass$/,
         loader:'style-loader!css-loader!sass-loader',
      },
    //  invalid  invalid invalid invalid invalid invalid invalid
      {
        test: /\.md$/,
        use: [
          { loader: 'html-loader' },
          { loader: 'markdown-lo

[2020-09-02 14:23] manniL commented on #638
Hey 👋🏻

Unfortunately I don't understand the problem.
Could you rephrase your issue and ideally follow the issue template?

[2020-09-02 17:37] kinxos commented on #543
Hi everyone. I'm going to take care of the following four pages. Ya casi está!

- [x] configuration-target.md
- [x] configuration-vue-config.md
- [x] configuration-watch.md
- [x] configuration-watchers.md

[2020-09-02 18:34] krysal commented on #543
Hi hi! Has anyone taken these files? If not, I can help translate them.
- [ ] configuration-rootdir.md
- [ ] configuration-runtime-config.md
- [ ] configuration-srcdir.md

[2020-09-03 08:35] Jchann24 commented on #549
📝 guides -> directory structure

- [ ] pages.md
- [ ] plugins.md

🍻

[2020-09-03 14:01] alvarosaburido commented on #543
@kinxos So the normal process to do a PR for any repository is:

[2020-09-03 14:07] kinxos commented on #543
Thanks @alvarosaburido So I have to start over and do it right... Thanks a lot!

[2020-09-03 16:22] kinxos commented on #543
@alvarosaburido @debs-obrien this is happening to me when I try to push my changes. do I need to set anything in github for the push to work?
<img width="610" alt="Captura de pantalla 2020-09-03 a las 17 21 33" src="https://user-images.githubusercontent.com/971466/92141145-f4f47800-ee09-11ea-8cd6-b0a26df0a80b.png">

[2020-09-03 16:43] kinxos commented on #543
@alvarosaburido @debs-obrien don't worry, I already got it working. my fault.

[2020-09-03 16:53] kinxos commented on #543
@alvarosaburido Pull request created! (checks are still in progress). I wanted to thank you for taking the time to make such a detailed explanation of the process. And yes, it's really cool that I started contributing, especially when we're talking about Nuxt! Thanks again!

[2020-09-04 15:10] danilhendras commented on #549
Bantu lagi nih.

📝 guides -> features
- [ ] live-preview.md
- [ ] meta-tags-seo.md

[2020-09-04 15:17] febrihidayan commented on #549
@danilhendras Baik, mas. Silakan

[2020-09-04 15:29] burhanahmeed commented on #549
:memo:  guides -> features

- [ ] file-system-routing.md
- [ ] loading.md

[2020-09-04 22:46] Dawntraoz commented on #543
Taking care of:
- [x] configuration-mode.md
- [x] configuration-modules.md
- [x] configuration-modulesdir.md
- [x] configuration-plugins.md

[2020-09-05 08:27] faheel opened #656 "Add example for adding components to the default layout"
Currently, the documentation for the default layout just mentions the following regarding adding more components to the layout:

As a beginner, it took me a while to figure out how to do this properly myself. It would be nice to have an example showing how to add a couple of components to the default layout, such as:

[code]

[2020-09-05 08:54] debs-obrien commented on #656
Thanks for your feedback. Actually you don't even need the import statements or anything in that script tag. I have added this explanation to the docs: see pr https://github.com/nuxt/nuxtjs.org/pull/658

[2020-09-05 08:54] #656 closed

[2020-09-05 12:22] kinxos commented on #543
I'm gonna take care of:

- [ ] configuration-hooks.md
- [ ] configuration-ignore.md
- [ ] configuration-loading.md
- [ ] configuration-loading-indicator.md

[2020-09-05 19:02] kinxos commented on #543
Now taking care of:

- [ ] configuration-dev.md
- [ ] configuration-dir.md
- [ ] configuration-modern.md

[2020-09-06 13:10] danilhendras commented on #549
Mau ngambil lagi nih, dua berkas terakhir di bagian 📝 guides -> features yang belum diambil:

📝 guides -> features:
- [x] nuxt-components.md
- [x] transitions.md

[2020-09-06 16:07] chris-aeviator commented on #378
Facing the same issue on `nuxt build`

[2020-09-07 10:39] febrihidayan commented on #672
It can be done by adding a line of code `overflow-y: hidden;`

[2020-09-07 10:45] #673 closed, assigned to nobody

[2020-09-07 16:17] Krutie commented on #400
@debs-obrien and @pi0:

The [Nuxt Modules Diagram](https://cdn.krutiepatel.com/2020-09/modules.svg) (SVG, 47kb) is ready for review.

This diagram will replace the one we see on [Directory structure > modules](https://nuxtjs.org/guides/directory-structure/modules) page at the moment.

[2020-09-07 16:22] debs-obrien commented on #400
Looks amazing. Well done. Will wait for Pooyas review but really great job

[2020-09-08 02:55] nainardev commented on #672
But, hiding overflow may hide some parts of the last sponsor. What about resizing height on changing viewports? That's way sponsors' logo aren't distorted

[2020-09-08 06:29] febrihidayan commented on #672
@nainardev you seem right. Did you mean using the `min-height` property?

[2020-09-08 06:50] debs-obrien commented on #672
I am happy for you to make a pr @febrihidayan and then just link the pr to this issue. Just make sure it works for the pages that have long content such as the glossary sections etc. Thanks

[2020-09-08 12:24] febrihidayan commented on #672
@debs-obrien I've done it and made a few modifications, but it will impact using the `AffixBlock` component. So another way is to use the prop property to use `overflow` or not to use it. Do you agree with this way or is there another way?

file `AffixBlock.vue`
[code]

file `pages\_section\_slug.vue`
[code]

[2020-09-08 15:39] debs-obrien commented on #672
what do you think @bdrtsky

[2020-09-08 15:58] #671 closed

[2020-09-09 02:19] ernmo commented on #543
Hi, do you still need any help with this translation?

[2020-09-09 02:21] agnelnieves commented on #543
@ernmo i believe there are some items left in the directory-structure

[2020-09-09 02:22] ernmo commented on #543
If nobody is doing the unticked ones, I can help with those
![image](https://user-images.githubusercontent.com/37050904/92546953-67ee5c00-f219-11ea-8cb6-b58414dd99bc.png)

[2020-09-09 09:20] bdrtsky commented on #672
We can remove `sticky?lg:max-h-(screen-24)` and it should be fixed

[2020-09-09 09:30] debs-obrien commented on #543
Also this pr is still in draft and you might be able to help with it or take some of the pages that are not done. https://github.com/nuxt/nuxtjs.org/pull/637

[2020-09-09 09:44] matias220510 commented on #543
Hi @debs-obrien pr status updated 😃 It's a big section. sorry xD!

[2020-09-09 10:21] febrihidayan commented on #672
@bdrtsky remove `sticky?lg:max-h-(screen-24)` will be affected in the glossary section?

[2020-09-09 11:20] nainardev commented on #672
Can you include a CodeSandbox link with that changes?

[2020-09-11 04:04] ernmo commented on #543
Is it OK if I take the Nuxt-components.md? Thanks!

[2020-09-11 13:21] matias220510 commented on #543
Of course @ernmo ! Thanks!

[2020-09-13 11:56] rifton007 opened #692 "Blocked in Nuxt's guide"
I had followed correctly each step of the guide until "[Start the project](https://nuxtjs.org/guides/get-started/installation#start-the-project)".

But, after I had run the server, Nuxt return the error "_This page could not be found_" and I have not found a solution.
After that, I tried to create an application with the command `create-nuxt-app` and all work fine.

What can we do to fix it ?

[2020-09-13 16:01] oiagorodrigues commented on #692
Do you have all the prerequisites fullfilled? I just tryied it out and works fine. If you can, elaborate a codesandbox with your example so we can analyze it.

[2020-09-13 20:40] FelixMor commented on #543
Hi, @debs-obrien and @matias220510. I've just completed nuxt-components.md  (guides -> features ->nuxt-components.md). I've submitted PR as well.

[2020-09-14 17:35] krysal commented on #543
We're almost done! ✨ I'll take care of:

:memo: guides -> directory structure
- [x] dist
- [x] middleware
- [x] store

[2020-09-14 18:49] agnelnieves commented on #543
@krysal

I worked on these dist and middleware, check this PR

- [x] assets.md
- [x] components.md
- [x] layouts.md
- [x] pages.md
- [x] plugins.md
- [x] middleware.md
- [x] nuxt.md
- [x] static.md
- [x] dist.md

Pull Request: https://github.com/nuxt/nuxtjs.org/pull/596

I think the tasks were not up to date @debs-obrien idk if this is you can take care of, i wasnt able to tick the checkboxes

[2020-09-14 18:57] debs-obrien commented on #543
ok cool updated

[2020-09-14 19:39] krysal commented on #543
@agnelnieves oh, cool! Then I can work on **store** and **content** (directory structure).

[2020-09-14 19:49] debs-obrien commented on #543
Perfect @krysal 😃 once you fork the project just make sure the page isn't already there. Looking forward to releasing the Spanish docs

[2020-09-14 21:55] garethredfern commented on #697
@debs-obrien I would be happy help and do a write up for this either on the blog or in addition to any docs. Just let me know if that may be of use?

[2020-09-14 22:15] heithemmoumni opened #699 "[Arabic] translate new guides"

[2020-09-15 10:43] twtwtw-gj opened #703 "The guide isn't translated in Any Language except English"
---
name: 🚨 Bug report | Bug 提交
about: Report a bug report to help us improve Nuxt.js.
title: 'It isn't translated in Japanese'
labels: 'bug-report'
assignees: ''

---

### Versions

	⁃	Nuxt.js:v2.14.5

### Reproduction

<details open>
<summary>Additional Details</summary>
<br>

</details>

### Steps to reproduce

access to https://ja.nuxtjs.org/guides/get-started/installation

### What is Expecte

[2020-09-15 11:33] debs-obrien commented on #699
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

i18n configuration

- [ ]  i18n file
- [ ]  i18n block on nuxt.conf

[2020-09-15 14:13] debs-obrien commented on #697
hey @garethredfern yes I was just going to add it as a link at bottom of post so people can read it for more info rather than add it to the tutorial which is already quite long and detailed. Thanks. great work on the article.

[2020-09-15 14:20] debs-obrien commented on #697
Sitemap added: https://github.com/nuxt/nuxtjs.org/commit/3ac4fa4013ca83208b8eb283ba388f85cae1f642

[2020-09-15 16:04] debs-obrien commented on #703
Thanks for your feedback. The guides section in Japanese will be released once all the pages have been translated that is why we still keep the guide section there in japanese until the translations are finished. Hopefully in a few weeks it will be all translated and it can be released. For the moment the only other language where the guides has been translated is Portuguese. Spanish should be rel

[2020-09-15 16:04] #703 closed

[2020-09-15 16:11] kissu commented on #550
I've created a draft PR to translate the whole 🇫🇷 guides at #704.
Do you want me to add you as a maintainer @antoineneff ? 😄
I may ask my GF @spookyumi to review the translations later on for some advanced grammar (she was a speech therapist not so long ago).

[2020-09-15 21:05] MahdiFakhr commented on #555
hi
just translated guides/get-started/upgrading.md
check #708

btw if you need a maintainer for the Persian language, as a native speaker I can help you with that.

📝 guides -> get-started

- [ ] conclusion.md
- [ ] directory-structure.md
- [ ] installation.md
- [ ] routing.md
- [x] upgrading.md

[2020-09-15 21:09] debs-obrien commented on #555
That would be fantastic @MahdiFakhr. Excited to see our docs in Persian. Thanks everyone for your hard work and contribution

[2020-09-17 17:14] MahdiFakhr commented on #555
@debs-obrien
hi again

the get-started directory is fully translated to Persian
check #722

📝 guides -> get-started

- [x] conclusion.md
- [x] directory-structure.md
- [x] installation.md
- [x] routing.md
- [x] upgrading.md

[2020-09-17 20:35] manniL opened #723 "Data Fetching list bullets looks off"
For some reason the first list in the data fetching guide is looking weird (bullet points are below the bullets). Further lists look fine though

Link: https://nuxtjs.org/guides/features/data-fetching
Preview: ![grafik](https://user-images.githubusercontent.com/640208/93525207-f8255300-f935-11ea-8b09-07f54e77cf4a.png)

[2020-09-18 01:51] JoshDev1205 commented on #543
Taking care of:

- [x] store

[2020-09-18 08:17] alvarosaburido commented on #543
Nice, almost there guys

[2020-09-18 13:36] krysal commented on #543
@JoshDev1205 `guides/directory-structure/store.md` file is already translated on #705, just waiting for merge. What remains to do is the `modules.md` file.

[2020-09-18 19:15] #723 closed

[2020-09-21 15:53] debs-obrien commented on #543
Just reviewing so we can release spanish version. Here is what I have found to be missing incase anyone wants to translate it:
/guides/concepts/views

[2020-09-21 17:53] FelixMor commented on #543
Hi, I'll work on: /guides/concepts/views

[2020-09-21 17:57] JoshDev1205 commented on #543
Thanks  @krysal for your response.

I will work on  /guides/directory-structure/modules

[2020-09-21 20:25] Kronhyx commented on #543
Hi @debs-obrien , I`ll work on :
:memo: guides -> directory structure
- [x] nuxt-config.md

[2020-09-21 23:30] josewhitetower commented on #543
I'll take care of
📝 guides -> concepts

- [ ]  server-side-rendering.md

[2020-09-22 01:37] d4g0 commented on #543
I will like to do :
server-side-rendering.md

[2020-09-22 04:15] vborras commented on #543
Hi! I'll go with /guides/features/rendering-modes

[2020-09-22 06:13] glpzzz commented on #543
/guides/concepts/server-side-rendering done

[2020-09-22 06:25] glpzzz commented on #543
working on /guides/concepts/views

[2020-09-22 06:43] debs-obrien commented on #543
hi @glpzzz please check comments above as someone had already translated the server-side-rendering one and someone has commented that they are working on the views one. so as to not to have 2 people translate the same page it might be a better idea to take one that someone has Not said they will do. If after a while we see they never got round to doing it we can then move forward with it. Thanks f

[2020-09-22 06:53] glpzzz commented on #543
Ups. Sorry for the duplicated work. Now I stop (3am here) as not a lot of advance on views file yet. When I return I check if there is something left. Spanish is almost done!

[2020-09-22 08:21] lihbr commented on #550
Hey @kissu if you can invite me to your fork that'd be awesome! I'll try to free up some time to help there 🙂
Happy to make some commits there if we're going one big PR for the French translation~

[2020-09-22 09:01] roiLeo opened #753 "(bug) Footer select option color"
Invisible footer select option on Dark Mode

## Expected Behavior
Text color shouldn't be transparent ?

## Current Behavior
On Dark Mode, AppLangSelect component has invisible text.

## Possible Solution
Add color on select option.

## Screenshot
![screenshot](https://user-images.githubusercontent.com/9987732/93862787-e390e400-fcc2-11ea-9e90-8dbdf8058435.png)

## Context (Environment)
**OS:** Mac

[2020-09-22 09:56] kissu commented on #550
I've added you and @roiLeo on my PR. 😄
Thanks for helping ! 🙏🏻

[2020-09-22 10:47] ddhira123 commented on #549
Aku ambil di bagian 📝 guides -> directory-structure yang belum diambil:

📝 guides -> directory-structure:

- [x] layouts.md

[2020-09-22 17:12] vborras commented on #543
I'm working on /guides/configuration-glossary/configuration-mode :)

[2020-09-22 17:25] azrikahar commented on #753
Thanks for highlighting this issue. I think they are not "transparent" per se, but it's because Mac OS select options just happen to have very similar color with the text color (like the globe icon, "English" and arrow down icon).

I tweaked the levels of your screenshot just to confirm this is the reason for it:
![93862787-e390e400-fcc2-11ea-9e90-8dbdf8058435 (1)](https://user-images.githubuserco

[2020-09-23 02:51] glpzzz commented on #543
How to know what is left? I have some advance on views.md

[2020-09-23 08:46] #753 closed

[2020-09-23 09:21] debs-obrien commented on #543
Great question. I have just added labels so we can filter by label so when adding a pr just add the spanish label and we can see what has been done and what hasn't https://github.com/nuxt/nuxtjs.org/pulls?q=is%3Aopen+is%3Apr+label%3Aspanish
I think you can go ahead @glpzzz remember you can always submit work as a draft and that way people can also see it is being worked on. There are now a few pag

[2020-09-23 14:07] kissu commented on #550
Btw folks, I want to be sure (or agree on a point of view), do you translate some of those:
- Code splitting into _fragmentation du code_
- Lifecycle into _cycle de vie_
- Server Side Rendering (SSR) into _rendu côté serveur (SSR)_

I'm asking that because as far as I know, people do not translate those but keep it in English, for future googling or even for ease of use when talking about those pr

[2020-09-23 18:46] lihbr commented on #550
That's a nice question 🤔 I tend to think that the point of a translated documentation is that it's in part addressed to people struggling with English so perhaps it's best to be as inclusive as possible by also translating those terms.

Does _Rendu Côté Serveur_ has to become _RCS_ then? _Générateur de Site Statique_ > _GSS_? 🤔

Perhaps @debs-obrien you have some "official" guidance there from the

[2020-09-23 21:16] glpzzz commented on #543
Spanish speakers. How to translate layout? I don't have an spanish word for this :cry:

[2020-09-23 21:25] agnelnieves commented on #543
I left it as `layout`, since nuxt's directory contains layout anyways. Only word that comes to mind is `Plantillas de Diseño` but i think it might be a bit missleading

[2020-09-23 21:29] glpzzz commented on #543
I'm using plantilla for template and diseño for layout. The first time I wrote Diseños (layouts)

[2020-09-23 21:35] agnelnieves commented on #543
Well, as long as it's consistent i think it should be fine. I also try to include the equivalent in english the first time it gets mentioned. For example:

El directorio de diseños (`layout`), ...

[2020-09-23 22:00] glpzzz commented on #543
@debs-obrien I uploaded the views file

[2020-09-23 22:25] glpzzz commented on #543
Hi! Who are you going with this one?

[2020-09-23 23:25] d4g0 commented on #543
Hey @glpzzz i just have sended the pull request.

[2020-09-23 23:27] glpzzz commented on #543
Perfect, I didn't touch that one. I started with modules. Its looong

[2020-09-23 23:30] glpzzz commented on #543
Uploaded a partial modules translation

[2020-09-24 00:26] glpzzz commented on #543
modules is almost done. Can someone take the questions at the beginning?

[2020-09-24 00:51] d4g0 commented on #543
hey @agnelnieves  you are right, there is no palabra for layout, the most similar meaning in spanish i think it  is   " forma  de disponer u organizar "(not a solo word). I think diseño goes beyond wath you  really want to say with layout, but defently is better than nothing.

[2020-09-24 00:54] Kronhyx commented on #543
@glpzzz

exactly what question? that of `layouts`?
in that case I think you should leave it as `layouts`

There are other words like (ej: `asere` :smile: :smile: :smile:  ) that do not have such an exact translation and it is better to leave them as such

[2020-09-24 01:00] glpzzz commented on #543
hahaha. asere on github. that's cool. No bro. I mean the questions at the beginning of the file. You know, there are questions and each one with options. Its like a test.

[2020-09-24 01:05] Kronhyx commented on #543
@glpzzz I think there are only `views.md` left.

[2020-09-24 01:12] glpzzz commented on #543
@Kronhyx , @d4g0 uploaded a PR with this

[2020-09-24 11:34] kissu commented on #550
She may take a bit of time answering because of [that](https://twitter.com/debs_obrien/status/1308870712787116032). She hopefully feels better today ! 🎉

[2020-09-24 17:22] nicodevs commented on #630
@dosstx, what you need is a guide to deploy an universal Nuxt app to [Firebase Hosting](https://firebase.google.com/docs/hosting)?

[2020-09-24 19:28] dosstx commented on #630
Yes, to Firebase Hosting. This is different than the regular Google Cloud platform. Right now, you can easily host Nuxt apps on Firebase Hosting if it's a static app, but for SSR/Universal, it seems to be quite different. My use case is that I am building an app using Firebase products (storage, firestore database, etc and it would be nice to also use Firebase to host the app, instead of Heroku).

[2020-09-25 06:51] alvaroOnCode commented on #543
Still need a hand?

[2020-09-26 23:29] d4g0 commented on #543
Just uploaded an spanish translation of guides/concepts/ views.md

[2020-09-26 23:41] FelixMor commented on #543
Working on /guides/concepts/views

[2020-09-26 23:49] FelixMor commented on #543
Hi @debs-obrien , I cannot find any guides/concepts/views...this is what I see within the "/guides/concepts/ " folder
![image](https://user-images.githubusercontent.com/37050904/94352316-ee33dc00-0028-11eb-9783-3f93545a4161.png)

[2020-09-26 23:58] FelixMor commented on #543
Hi @debs-obrien : I am working on guides/concepts/static-site-generation.md

[2020-09-27 01:21] glpzzz commented on #543
@debs-obrien something else to do here?

[2020-09-27 01:42] FelixMor commented on #543
@debs-obrien Done! I just submitted a pull request: #772 (Translated guides/concepts/static-site-generation.md to Spanish)

[2020-09-27 18:45] DreaMinder commented on #548
This PR https://github.com/nuxt/nuxtjs.org/pull/773 resolves the following points:

- [x]  i18n file
- [x]  i18n block on nuxt.config

guides -> get-started
- [x]  conclusion.md
- [x]  directory-structure.md
- [x]  installation.md
- [x]  routing.md
- [x]  upgrading.md

[2020-09-28 01:24] bigeyesbro commented on #122
请问解决了问题了吗， 我也遇到了相同的问题

[2020-09-28 09:44] debs-obrien commented on #543
hey great work everyone. I think we are only requiring a quick review of a few pages and then we are ready for release. If anyone has the time to help with this then I can get it out and featured in our Newsletter 💪
https://github.com/nuxt/nuxtjs.org/pulls?q=is%3Aopen+is%3Apr+label%3Aspanish