[2020-09-28 10:04] debs-obrien commented on #630
Hi @nicodevs can you check the new guides and let me know if that covers what you are looking for and if not perhaps create an issue on that repo so an example or demo can be added. Thanks
https://firebase.nuxtjs.org/tutorials/ssr

[2020-09-28 10:10] debs-obrien commented on #550
Hi guys, thanks. sorry yeah was not allowed a computer for a few days 😂. This is a great question and but I think it also depends on the language as something in Spanish might make sense to translate but in French doesn't. But you are right it would be great to have a kinda of guide so in future it is easy to see. However when it comes to appreviating words I don't think it should be abbreviated s

[2020-09-28 10:28] lihbr commented on #550
Thumbs up for the abbreviation thing, good luck finding something about RCS ^^'

I think we can go like that then @kissu, translating most of the tech jargon but not abbreviation.

Also sorry, been really busy recently so didn't have much time to translate docs but I saw progress on the PR!

[2020-09-28 10:51] debs-obrien commented on #544
Hey I have created labels to make it easier to also filter the prs. If you can go through any of them and let me know which ones are ready for merging that would be great. I will not merge until I hear from you @aytdm. Just add my name to a comment and I will receive an alert and will merge. Thanks for the great work. Good to see so much work being done on the Japanese version 😊
https://github.com

[2020-09-28 13:33] kissu commented on #550
Actually, not translating the abbreviations was a pretty sure thing. The main thing is to know where to draw the line of translating things. But for something like `webpackChunkName`, I admit that I rather just keep it in 🇬🇧 rather than translating it.
For the same reason as told above: googling a very specific tech term will be a nightmare if that word was translated into some wobbly 🇫🇷 translati

[2020-09-29 03:52] aytdm commented on #544
@debs-obrien I got it. Thanks for your consideration ☺️

[2020-09-30 15:30] debs-obrien commented on #543
Well done everyone and thanks for all your help. we are live

https://es.nuxtjs.org/guides/get-started/installation

[2020-09-30 15:30] #543 closed

[2020-09-30 21:50] Zainal21 commented on #549
Saya ambil  guides-> internals glossary.
- [x] nuxt.md
- [x] nuxt-render.md
kedua ini belum ada kan?

[2020-10-01 05:06] barayuda commented on #549
Halo teman-teman, saya ingin membantu, adakah bagian yg bisa diambil?
Terima kasih

[2020-10-01 05:41] Zainal21 commented on #549
Halo..teman-teman saya mau mengambil bagian  guides-> internals glossary.
nuxt-render-and-get-window.md`
nuxt-render-route.md

[2020-10-01 05:49] febrihidayan commented on #549
Halo @barayuda, Anda bisa coba melanjutkan yang ini.

Halo @Zainal21, silakan mas. Jangan lupa tarik issue ini ke request Anda, mas 👏

[2020-10-02 04:04] zaiinhs commented on #549
Hi mas @febrihidayan , untuk file di directori [ini](https://github.com/nuxt/nuxtjs.org/tree/master/content/id/guides/components-glossary) seperti nya masih kurang 3 file yang belum di terjemahin ya mas ?
ini file nya `pages-transition.md` `pages-validate.md` `pages-watchquery.md`

Kalau belum, boleh saya yang menerjemahkan mas ?
Terima kasih

[2020-10-02 04:13] febrihidayan commented on #549
@zaiinhs seharusnya itu saya yang kerjakan, tetapi kelihatannya belum ada waktu. Tetapi silakan aja mas kerjakan, nanti add saya di pull request 👍👏

[2020-10-02 04:16] zaiinhs commented on #549
Oke siap mas @febrihidayan
**Terima kasih**

[2020-10-02 06:08] rizalasrul commented on #549
Hai. Saya ingin membantu menerjemahkan. Bagian mana yang bisa saya bantu?

[2020-10-02 06:15] ddhira123 commented on #549
Hai. Saya ingin membantu mengerjakan, dan saya juga sudah melakukan PR untuk terjemahan pada file guides/directory-structure/layouts.md, kira-kira ada yang saya bisa bantu lagi sehingga PR saya bisa di-merge? :)

[2020-10-02 07:37] Namchee commented on #549
Syaa ingin membantu menerjemahkan dokumen ini. Sepertinya bagian `interals glossary` belum ada yang mengerjakan, kalau begitu saya mulai coba kerjakan dari bagian `$nuxt` sampai `internals`.

[2020-10-02 08:17] febrihidayan commented on #549
Halo @rizalasrul @ddhira123 @Namchee

Sedikit info peraturan untuk judul pull request di awal dengan `docs(id):`.

Berikut yang sudah di ambil oleh:

guides -> components glossary @zaiinhs
- pages-transition.md
-  pages-validate.md
- pages-watchquery.md

guides-> internals glossary  @Zainal21
- nuxt.md
- nux-render.md
- nuxt-render-and-get-window.md`
- nuxt-render-route.md

guides -> directory-str

[2020-10-02 10:15] Namchee commented on #549
Wah ternyata sudah yang mengerjakan ya. Kalau begitu, apakah saya boleh mengerjakan bagian `configuration-glossary` bagian `telemetry` sampai `watchers`? Sepertinya belum ada yang ambil (dari hasil search pada halaman ini)

[2020-10-02 10:40] febrihidayan commented on #549
@Namchee Tentu saja boleh, mas. Akan tetapi infokan berkas yang akan di kerjakan

[2020-10-02 11:17] Namchee commented on #549
Baiklah, kalau begitu saya akan mulai mengerjakan:

📝 guides -> configuration glossary

- [] `configuration-telemetry.md`
- [] `configuration-transition.md`
- [] `configuration-vue-config.md`
- [] `configuration-watch.md`
- [] `configuration-watchers.md`

PS: Mohon maaf, sepertinya urutan dalam web aslinya tidak terurut dengan urutan disini. Saya mengikuti urutan pada webnya.

[2020-10-03 21:04] Govern0r opened #797 "Inconsistent casing in docs for context.isDev"
Very minor fix. See: https://nuxtjs.org/guides/internals-glossary/context#isdev

The heading in the docs for this property says "IsDev" with a capital "I" but the property is really a lowercase "i" (isDev).

I kept trying to use "context.IsDev" in my source because I copied the heading value... I suspect other devs might make this mistake too.

The "isHMR" method's heading has the proper casing (l

[2020-10-04 07:02] andriannus commented on #549
@febrihidayan Wah, aku terlalu sibuk kerja jadi tak pernah lagi buka Github. Maaf, Mas. Ada bagian yang masih bisa ku bantu? Thanks!

[2020-10-04 07:16] febrihidayan commented on #549
Halo mas @andriannus bisa ambil di bagian guides -> configuration glossary, tapi perhatikan sebagian berkas sudah di ambil lihat #795

[2020-10-04 08:59] zhuxiaoyu88 commented on #549
Halo kakak". Kira-kira ada berkas yang masih belum diterjemahkan ? Saya ingin bantu terjemahkan. Terima kasih

[2020-10-04 09:03] febrihidayan commented on #549
Halo @zhuxiaoyu88 lihat komentar saya yang ini

[2020-10-05 10:16] MatCast opened #801 "Can't run the development server with yarn dev"
After cloning the repo and cd into the repo folder if i run `yarn dev` i get an errorr:
[code]
If i  run `yarn add nuxt` and then `yarn dev` i get:
[code]

[2020-10-05 10:37] MatCast commented on #801
Ok i solved the problem as  i didnt run `yarn` after `cd nuxtjs.org`.

[2020-10-05 10:37] #801 closed

[2020-10-05 11:44] Radiergummi commented on #100
@Atinux Stumbling across this now, don't really understand what's happening. Using the `style-resources` property in `nuxt.config.js` seems to be discouraged by now:
[code]

The suggested link has the following paragraph at the top of its Readme file:

Which sounds like this should explicitly _not_ be used to import Vuetify styles. Is there any recommended way to enable extending Vuetify classes?

[2020-10-06 07:34] debs-obrien commented on #797
great, thanks. this is now merged https://github.com/nuxt/nuxtjs.org/pull/806

[2020-10-06 07:34] #797 closed

[2020-10-08 08:18] larrykkk opened #817 "Is doc search bar broken?"
Hi, I am using doc (https://nuxtjs.org/) header search bar, but it seem broken.
If using another browser it will working, but just work onece, and then second time i typeing on search bar it is no response,
even i click "enter", the search bar don't have any response.

[2020-10-10 19:27] kswedberg commented on #643
Looks like the new docs (https://nuxtjs.org/guides/internals-glossary/context#redirect) at least reference the first definition: `redirect([status,] path [, query])`

[2020-10-12 09:35] #630 closed

[2020-10-12 18:28] mandaputtra opened #830 "Make it more clear on what is target 'static'"
On the [docs](https://nuxtjs.org/guides/concepts/static-site-generation) there are no guides on how to `target: 'static'`, but the [blog](https://nuxtjs.org/blog/going-full-static/) had more info on how to use it.

The terminal also make me a bit confused, whether you run `nuxt generate` or `nuxt build` the terminal shows this

![confused terminal](https://user-images.githubusercontent.com/2334294

[2020-10-14 08:35] tiyan-attirmidzi commented on #549
hai mas @febrihidayan apakah masih ada yang bisa saya bantu untuk di terjemahkan? Terima kasih

[2020-10-14 09:16] febrihidayan commented on #549
Hai mas @tiyan-attirmidzi, silakan terjemahkan berdasarkan komentar saya yang ini, mas

[2020-10-14 09:17] tiyan-attirmidzi commented on #549
baik mas @febrihidayan

[2020-10-14 09:20] febrihidayan commented on #549
@tiyan-attirmidzi jangan lupa mas untuk memberikan info berkas yang akan dikerjakaan 👏

[2020-10-14 09:28] tiyan-attirmidzi commented on #549
saya akan menerjemahkan :
guides -> configuration glossary
- configuration-telemetry.md
- configuration-transition.md

[2020-10-14 14:43] frankerr opened #845 "Codesandbox example URLs incorrect in Beta Docs"
https://nuxtjs.org/examples/nested-routes
https://nuxtjs.org/examples/auth-routes

[2020-10-14 15:39] febrihidayan commented on #549
@tiyan-attirmidzi Silakan coba yang lain, mas. Atau bisa lihat disini berkas yang suda ada [id/guides/configuration-glossary](https://github.com/nuxt/nuxtjs.org/tree/master/content/id/guides/configuration-glossary)

[2020-10-14 15:40] tiyan-attirmidzi commented on #549
@febrihidayan baik mas

[2020-10-14 15:55] tiyan-attirmidzi commented on #549
saya akan menerjemahkan :
guides -> configuration glossary

@febrihidayan

[2020-10-15 12:17] debs-obrien commented on #845
Hi, I am not sure I understand what you mean. both those links work and both go to the correct codesandbox

[2020-10-15 12:33] debs-obrien commented on #830
Thanks for your feedback. we are working on improving the terminal messages as can be seen in this pr:https://github.com/nuxt/nuxt.js/pull/8206 and also the documentation as can be seen here: https://github.com/nuxt/nuxtjs.org/pull/844

They should be merged over the next few days. Thanks for your feedback

[2020-10-15 12:33] #830 closed

[2020-10-15 12:34] debs-obrien commented on #817
Let me know if you are still having this issue. It seems to be working on my end.

[2020-10-15 12:41] debs-obrien commented on #697
Added these articles: https://github.com/nuxt/nuxtjs.org/pull/850. thanks @garethredfern.

closing this issue

[2020-10-15 12:41] #697 closed

[2020-10-15 15:27] larrykkk commented on #817
The search bar is working now. Thank you.

[2020-10-15 15:47] #817 closed

[2020-10-15 18:34] frankerr commented on #845
Hi, probably a local error thanks!

[2020-10-15 18:34] #845 closed

[2020-10-19 13:57] ilijanovic opened #874 "Dark mode button is broken on main page"
The dark mode button on the bottom left corner does not work on https://nuxtjs.org/

Clean cache, refresh page and click it. It will work.

Refresh page again. Error appears in the console and the button does not work anymore.

Seems like service worker isnt working correctly

[2020-10-20 09:17] ilijanovic commented on #874
@Danondso  i used chrome Version 86.0.4240.75

[2020-10-20 16:35] #643 closed

[2020-10-21 12:36] debs-obrien commented on #874
Thanks @ilijanovic we will look into this.

@pi0 seems that service workers are causing issues.

[2020-10-21 12:37] debs-obrien commented on #692
closing this due to inactivity. If you still have an issue @rifton007 feel free to open another issue or reach out to us

[2020-10-21 12:38] debs-obrien commented on #638
closing this due to inactivity.

[2020-10-21 12:38] #638 closed

[2020-10-21 12:41] debs-obrien commented on #398
closing this issue. I think this solution works fine and if others translate the .drawio file then they have to export as svg. seems ok to me

[2020-10-21 12:41] #398 closed

[2020-10-21 12:45] pi0 commented on #398
@debs-obrien Is there any link to Krutie's repo in docs?

[2020-10-21 12:45] debs-obrien commented on #397
Hi @Krutie what is the status of nuxt lifecycle image in svg format? it would also be great to get the modules one too. And how is the raw formats coming along? leet us know if it takes too long to do this or at least some feedback and if there is anything we can help on it.

[2020-10-21 13:13] debs-obrien commented on #398
in static folder we have the images under guides and in the raw folder there is the one raw file

[2020-10-21 13:15] Krutie commented on #397
Hey @debs-obrien Modules diagram was done on issue #400. We're kind of waiting on Pooya's review.

As soon as I get a chance, I will get the Nuxt lifecycle diagram done.

**ToDo**
- [ ] Convert Nuxt Lifecycle Diagram into .drawio format

[2020-10-21 15:46] debs-obrien commented on #400
@pi0 this got lost in the noise of the chat. can you check this diagram please

[2020-10-21 15:47] debs-obrien commented on #397
Great, thanks @Krutie

[2020-10-22 00:11] febrihidayan commented on #874
Some of the mistakes I found:
- Video does not load
- Cannot change language

It seems that this error is in some language documents only. I don't encounter any errors when using language documents like Français, Español, Português, or Русский. Hope this helps

[2020-10-22 10:45] pi0 commented on #400
It seems much much better now well done @Krutie. Checking [this](https://cdn.krutiepatel.com/2020-09/modules.svg) version, a small point about second example of "async modules", they do not get `$http` as first param. It can be something like this:

[code]

[2020-10-23 10:40] #692 closed

[2020-10-26 13:39] tiyan-attirmidzi commented on #549
mas @febrihidayan masih ada yang belum di terjemahin ngak?

[2020-10-26 13:55] febrihidayan commented on #549
Hahaha!, masih banyak mas @tiyan-attirmidzi. Silakan pilih bagian `guides -> internals glossary`

[2020-10-26 14:00] tiyan-attirmidzi commented on #549
Baik mas @febrihidayan saya coba bantu hehe, sbntar saya infokan yg akan saya terjemahkan yah

[2020-10-26 15:42] hecktarzuli opened #900 "H2 link bugs"
1) H2's show the link icon when you hover, but when you move your mouse to the left to click on the link (to update the url) the link disappears.  You have to wiggle your mouse left/right just the right way to get the anchor image to stay.

2) When you finally click the anchor link and give it to someone, when they load the hash url, it doesn't scroll to the position in the url

It doesn't scroll

[2020-10-27 08:52] mornir opened #902 "Better document SPA build target in the new guides"
Hello!
I couldn't find any clear mention of the SPA feature in the new beta guides (which are great btw!).

For example, today I scaffolded a new project with the SPA option. Before there's was `mode: spa`, now there are `ssr: false` and `target: static`. I can understand the first one, but I always thought that `target: static` was for full static generation only.

Then I'm wondering which comman

[2020-10-27 11:46] Barbapapazes opened #903 "[Docs]: Issue on image in Nuxt Lifecycle"
The image says that, for the new fetch, we can use `@click="fetch"` but it's `click="$fetch"`

https://nuxtjs.org/guides/concepts/nuxt-lifecycle#

[2020-10-27 12:15] debs-obrien commented on #902
Hi @mornir thanks for the feedback. Actually we have removed the word SPA from the new docs because Nuxt is SPA by default since we have client side rendering no mater what the target is, server/static. So really what you need to decide is what your target is and if you want SSR, which is needed for server side rendered apps or static sites as it needs to pre-render the pages in order to have cont

[2020-10-27 12:19] debs-obrien commented on #903
thanks @Barbapapazes. You are right it should be `@click="$fetch"`

@Krutie let me know if we can fix this. thanks

[2020-10-27 13:08] mornir commented on #902
@debs-obrien Thanks for the detailed answer 😃 I think I was mainly confused because I was used to the old way of doing things _(where's my SPA mode?? 😄)_ And with vue-cli, it's the `build` command.

It makes sense to only keep one static mode. SPAs are actually also static. And in this regard, using `generate` is also the logical command.

[2020-10-27 13:08] #902 closed

[2020-10-27 14:13] Krutie commented on #903
Thanks for pointing out @Barbapapazes 👍
@debs-obrien I have just made a PR #904 for this.

[2020-10-27 14:37] #903 closed

[2020-10-27 19:03] Barbapapazes opened #908 "URL Broken"
This URL is broken. https://go.nuxtjs.dev/ssr-mode

[2020-10-28 07:26] Krutie commented on #400
In that case, this [example](https://nuxtjs.org/guides/directory-structure/modules#return-a-promise) needs to be updated as well to reflect what @pi0 is saying. Am I right?

[2020-10-28 13:31] danielnedelcu opened #914 "Changing router base path"
The application needs to have its router path dynamically given depending on the directory it lives in.

Scenario:
www.app.com/directoryone
www.app.com/directorytwo

The application runs within this `directoryone` well, but need to have it run under `directorytwo` and currently the base is hard coded
router: {
 base: '/directoryone'
}

Any thoughts on how to pull this off considering nuxt.config i

[2020-10-28 17:23] debs-obrien commented on #914
cc @pi0

[2020-10-28 17:24] debs-obrien commented on #908
where did you find the link @Barbapapazes ??

cc: @pi0

[2020-10-28 17:27] Barbapapazes commented on #908
In the `nuxt.config.js` from the `create-nuxt-app` package

[2020-10-28 17:30] debs-obrien commented on #908
ohh, fantastic. thanks. we will get that fixed

[2020-10-29 07:16] Krutie commented on #400
@debs-obrien @pi0 The [modules diagram](https://cdn.krutiepatel.com/2020-10/modules.svg) has been updated as per Pooya's feedback. If it's good to go, let me know and I can make a PR.

[2020-10-29 10:08] debs-obrien commented on #400
Thanks @Krutie, looks good to me but will see what @pi0 says. Also regarding your comment above will let Pooya answer that too. When you make pr if changing extension can you make sure to do a search and replace so other langs also have the correct file. I fixed the last one but would be easier to have other langs covered in pr as we have a few that are now live. Thanks

[2020-11-02 03:54] Krutie commented on #400
@debs-obrien My bad! Sincere apologies for the mistake. I will make sure to check throughly into other language files from next time onwards.

[2020-11-02 10:37] fadamakis opened #929 "Broken images"
First time visiting a page in docs images work fine but after navigation links are relative and not from CDN which makes them return 404.

**Steps to reproduce**

1. Visit https://nuxtjs.org/docs/2.x/concepts/context-helpers
2. Navigate to any page. ex Concepts/Views
3. Navigate back to Concepts/Contexts and Helpers

**Expected result**
Image at the top should be working
Link should be - https://d

[2020-11-03 18:32] Atinux commented on #914
This issue is not related to nuxtjs.org, please file a bug report on github.com/nuxt/nuxt.js

[2020-11-03 18:32] #914 closed

[2020-11-03 18:34] Atinux commented on #874
Can you try a hard refresh to see if it fixes the issue?

[2020-11-04 04:09] h4ppyy opened #940 "we can't see the left navigation bar because of the top notification"
![issue](https://user-images.githubusercontent.com/18033048/98068146-9cd80180-1e9e-11eb-9aa2-641ad9eb84c3.png)

hello!
It's not a major bug,
but we can't see the left navigation bar because of the top notification
thank you!

[2020-11-04 07:15] ilijanovic commented on #874
@Atinux

Most of the times it works well.  Sometimes after clearing cache / data storage i get this error:

![image](https://user-images.githubusercontent.com/56176036/98080595-f4ae4280-1e75-11eb-86e2-df56f3f94d55.png)

[2020-11-04 07:18] ilijanovic commented on #874
@Atinux

Most of the time it works well. Sometimes if you clear storage / cookies this error appear witch cause the bug:

![err](https://user-images.githubusercontent.com/56176036/98080818-55d61600-1e76-11eb-854b-6901dfd36be6.png)

[2020-11-04 08:58] Atinux commented on #874
We are working on a fix at the moment :)

[2020-11-04 09:09] faahim opened #941 "No data on Release Notes"
Hey, amazing people! 👋

Thanks for all the great work on Nuxt.js.

I've just got on an old Nuxt.js project that's on v1.0.0 and I'm trying to upgrade to the latest. I wanted to check the changelog and expected I'd find it on the [Release Notes](https://nuxtjs.org/docs/2.x/release-notes) page. But it doesn't seem to show anything other than an empty section at the moment.

I've checked the [release

[2020-11-04 10:42] memic84 opened #945 "RuntimeConfig link to guide not working"
The link in https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-runtime-config

to the runtime config is not working: https://nuxtjs.org/guide/runtime-config

[2020-11-04 12:38] Namchee commented on #549
Saya akan melanjutkan untuk menerjemahkan bagian:

📝 guides -> internals glossary

- [ ] `internals.md`
- [ ] `internasl-builder.md`
- [ ] `interals-generator.md`

[2020-11-04 15:50] #929 closed

[2020-11-05 00:12] febrihidayan commented on #945
@memic84 Currently updating the newer documentation, while the old one is removed. Instead, use a new one

[2020-11-05 00:15] febrihidayan commented on #941
@faahim You're right, but the team is currently working on updating the old documentation to the new

[2020-11-05 11:25] debs-obrien commented on #945
Thanks @memic84
fix: https://github.com/nuxt/nuxtjs.org/pull/949

[2020-11-06 10:40] danielroe opened #953 "No contributing guide present yet"
The link in [this repo's contributing guide](https://github.com/nuxt/nuxtjs.org/blob/dev/CONTRIBUTING.md) is dead: https://nuxtjs.org/guide/contribution-guide.

Formerly was https://github.com/nuxt/nuxtjs.org/blob/master/content/en/_archives/guide/contribution-guide.md

Also true for https://github.com/nuxt/nuxt.js/issues/8309

[2020-11-06 14:15] burhanahmeed commented on #549
:memo:  guides -> configuration glossary

- [ ] configuration-build.md
- [ ] configuration-generate.md

[2020-11-06 20:40] danielroe opened #957 "Release notes edit link is broken"
It points to https://github.com/nuxt/nuxtjs.org/blob/master/content/en/guides/release-notes/undefined.md

![Screenshot from 2020-11-06 20-40-14](https://user-images.githubusercontent.com/28706372/98412690-4ae6d580-2070-11eb-8b1f-43ac77640dac.png)

[2020-11-08 10:23] jefrydco commented on #549
Hai teman-teman! Sekarang teman-teman juga dapat membantu menerjemahkan dokumentasi Vue.js 3 ke Bahasa Indonesia ya, silahkan akses isu berikut https://github.com/vuejs-id/docs-next/issues/5

[2020-11-09 09:17] #953 closed

[2020-11-09 10:49] #945 closed

[2020-11-09 10:51] debs-obrien commented on #957
emm, I don't think you should be able to edit the release notes. perhaps removing the edit button for this page might be a better solution @danielroe what do you think?

[2020-11-09 10:54] danielroe commented on #957
@debs-obrien That's a very good point - agreed!

[2020-11-09 17:18] ClementLong opened #966 "Document static folder path when subfolder is use"
In the documentation to use static file in static folder it's say to use ```/my-file.png``` but when we use a subfolder this cause a bug because the router.base is not applied. In this case we need to use ```~/static/my-file.png```

I will be happy to fix the docs for Nuxt but i don't know if it's the best way to contribute because the link in (https://github.com/nuxt/nuxtjs.org/blob/dev/CONTRIBUT

[2020-11-10 14:51] lustremedia commented on #957
Just came across that ... where are the release notes gone?

[2020-11-10 15:00] lustremedia opened #969 "Feature request: nuxtjs version on frontpage"
I would love to see the latest nuxtjs version right on the front page, rather than digging any further into the documentation. So one could see if there was a version update or not ...

Maybe something like that:

![image](https://user-images.githubusercontent.com/1240374/98690977-d52f8200-236d-11eb-89de-d41800aa06a9.png)

[2020-11-10 15:47] vhoyer opened #970 "Link in CONTRIBUTING is broken"
https://github.com/nuxt/nuxtjs.org/blob/master/CONTRIBUTING.md

Here the link goes to a 404

[2020-11-11 06:32] zavvla commented on #548
#962

guides -> concepts
- [x] concepts/views

[2020-11-11 09:34] DreaMinder commented on #548
Hey @zavvla, nice work!
Please contact me at [Telegram](https://t.me/dreaminder) and I'll add you to the translators' chat and repo.
This way you'll be able to see what we are working on to avoid conflicts. Or even work together to receive translation advice and reviews.

[2020-11-11 15:27] drtobbyas opened #977 "Nuxt.js website stops responding after a while"
The https://i18n.nuxtjs.org/ and https://nuxtjs.org/ website stops responding after a while. Clicking on any link or button will change the URL but the content of the page is not updated

### Reproduction

Open https://i18n.nuxtjs.org/ or https://nuxtjs.org/ and navigate to docs page, interact with a few links. Then leave it for some time ( probably like 1 hour) while you work on other things (tab

[2020-11-12 07:58] faahim commented on #941
Ah I see! makes sense 🙂

Thanks to the team for the amazing work, again! Looking forward to it!

[2020-11-12 11:14] manniL opened #979 "Runtime config CLI option is not documented anymore"
Hey 👋

The `--dotenv` CLI option was documented (https://github.com/nuxt/nuxtjs.org/blob/61a15846bc4cfebb812f7acba07c54f2959d474d/content/en/_archives/guide/runtime-config.md#env-support) but with the latest changes the part is missing in the current iteration of the website.

[2020-11-12 11:41] debs-obrien commented on #979
can you make a pr to this page to add in what you think needs to be added -

[2020-11-12 21:04] zavvla commented on #548
guides -> features

- [ ] live-preview.md

[2020-11-13 12:08] debs-obrien commented on #970
thanks, this is now fixed

[2020-11-13 12:08] #970 closed

[2020-11-13 12:11] debs-obrien commented on #941
this is now fixed. Thanks for your feedback

[2020-11-13 12:11] #941 closed

[2020-11-13 12:11] debs-obrien commented on #957
link has now been removed and release notes fixed. thanks for your feedback

[2020-11-13 12:11] #957 closed

[2020-11-13 20:39] ilejohn-official commented on #643
I wanted to open an issue but decided to search first.

 The `redirect` function doesn't make the `params` property available on the page that is redirected to. Though the query property is available but I would love the `params` property to be available too.  I encountered this in a middleware.

`redirect({ name: 'slug', params: { slug: mySlug } })`

[2020-11-15 11:35] duurland opened #988 "Broken link"
https://github.com/nuxt/nuxtjs.org/blob/master/content/en/guides/configuration-glossary/configuration-build.md#templates

Returns 404

[2020-11-15 11:35] danielroe commented on #988
This has been fixed in dev branch and not yet merged.

[2020-11-15 12:05] danielroe commented on #988
@debs-obrien would you like me to open a cherry pick PR to master to merge in these fixes?

[2020-11-15 16:24] debs-obrien commented on #988
Thanks @danielroe we will merge everything Monday I believe and then once a week.

[2020-11-16 10:33] Atinux commented on #874
Do you mind trying again?

[2020-11-16 13:52] ilijanovic commented on #874
@Atinux sure.

It seems to work. No erros in console!

[2020-11-16 14:09] dosstx commented on #630
For some reason I never saw this message @debs-obrien , sorry.

To answer your question: No, it doesn't answer what I was asking. I probably was not clear in my attempt to ask the question. What I am looking for is a deployment guide/steps for Firebase Hosting and Nuxt SSR apps: It would go on this page: https://nuxtjs.org/faq/deployment-aws-amplify

P.S> Why is the FAQ page no longer accessible v

[2020-11-17 14:34] #550 closed

[2020-11-17 14:52] debs-obrien commented on #969
Thanks for your thoughts. we are working on a full re-design for our website. The version number for now can be found in the docs link or don't forget to sign up for our newsletter, follow us on twitter or discord where we send out info on new releases when they happen.

[2020-11-17 14:52] #969 closed

[2020-11-17 14:53] debs-obrien commented on #874
great, closing this issue. let us know if it happens again in the future 😃

[2020-11-17 14:54] #874 closed

[2020-11-17 23:24] danielroe commented on #977
Possibly linked? https://github.com/nuxt/nuxt.js/issues/7379 - although the error is different (500) the cause seems to be similar - triggered by inactivity and time.

[2020-11-19 11:12] trastanechora commented on #549
Halo mas @febrihidayan mohon maaf kemarin sempet terhenti progressnya, saya akan melanjutkan untuk menerjemahkan bagian:

i18n configuration
 - [x] i18n block on nuxt.config

📝 guides -> directory structure
 - [x] components.md
 - [ ] content.md

[2020-11-19 13:29] febrihidayan commented on #549
@trastanechora Baik mas tidak apa-apa, saya tunggu kabarnya

[2020-11-19 15:48] danielroe commented on #988
This can now be closed.

[2020-11-19 16:49] #988 closed

[2020-11-21 10:29] kissu opened #1016 "Markdown table not applying"
### Steps to reproduce
On production !

### What is actually happening?
I do like to have a markdown formatter to have properly formatted markdown tables while I code.
![image](https://user-images.githubusercontent.com/5133074/99807981-84274700-2b40-11eb-878e-8e4b6f887d65.png)

Below is the result in my VScode markdown preview. Looking great !
![image](https://user-images.githubusercontent.com/513

[2020-11-23 09:28] debs-obrien commented on #940
closing this issue as banner has been removed

[2020-11-23 09:28] #940 closed

[2020-11-24 18:03] debs-obrien commented on #1016
thanks for reporting @kissu, great find. fix coming soon. issue is in the content module itself, once it is fixed that it will be fixed throughout site.

[2020-11-25 14:25] debs-obrien commented on #1016
this has now been fixed with latest release of content module. 😃

[2020-11-25 14:25] #1016 closed

[2020-11-25 17:40] kissu commented on #1016
Perfect ! 👌🏻

[2020-11-26 12:48] guettli opened #1028 "Step 3: Browser to Browser"
I think this needs some more words to make it easy to understand:

https://nuxtjs.org/docs/2.x/concepts/server-side-rendering

I stumble upon ".... so you don't hit the server again ....".

Imagine I have a CMS with 1000 pages. How should this work? Will the server side rendered page contain all these 1000 pages?

Please update the above page, since I guess other new comers will have the same ques

[2020-11-26 17:18] R1dwanMaulana commented on #549
saya akan menerjemahkan directory structure:

- [ ] middleware.md
- [ ] modules.md
- [ ] nuxt-config.md

[2020-11-27 08:04] febrihidayan commented on #549
@R1dwanMaulana bisakah untuk menerjemahkan berkas:
1. content.md
2. modules.md
3. nuxt-config.md
karena saya sudah menerjemahkan middleware.md, lihat di #898

[2020-11-27 19:20] msmsimondean opened #1036 "Document production Docker setup"
### Is your feature request related to a problem? Please describe.

It's difficult to find an example of how to deploy a nuxt.js app as a Docker container.  It would be great if there was official documentation for this.

It might be worth highlighting in the documentation that hosting a nuxt.js app as a Docker container might not always be an ideal solution.  E.g. Blue/Green deployments can lead

[2020-11-28 14:34] pi0 commented on #1028
Hi @guettli. I think _hit the server again_ would be little bit misleading but in general that's true.

- For a CMS with dynamic pages, we once load dynamic page chunk for let's say `pages/blog/_id.vue`
- During client side navigation to each dynamic page:
  - With `target: 'universal'` => We probably need to make a request to **API** server but no server-rendering happens
  - With `target: 'stati

[2020-11-28 16:21] ryosukemitake opened #1038 "link to Build dir shows 500 error on doc"
when you are on the page [here](https://ja.nuxtjs.org/docs/2.x/configuration-glossary/configuration-build), almost all of link in configuration glossary shows 500 errors

## Reproduction
1. go to https://ja.nuxtjs.org/docs/2.x/configuration-glossary/configuration-build
2. click the link buildDir( or other links in configuration glossary menu) from the link on the bottom of the articles or menu on

[2020-11-28 20:23] debs-obrien commented on #1038
Hi. Thanks for reporting. Loving the Nuxt in pink 😃. Yes this is because translation is still a work in progress so those pages don't exist and that gives a 500 error.

@inouetakuya @aytdm what do you think about adding those missing pages in English to avoid this error and then translate them when you have time as right now there is no fallback to English so if it doesn't exist it will cause an e

[2020-11-28 22:57] R1dwanMaulana commented on #549
ok siap mas

[2020-11-29 02:12] inouetakuya commented on #1038
It sounds good 👍

I will create the pull request 💪

[2020-11-29 02:33] inouetakuya commented on #1038
For example the following page has no translated page and fallback to English content now.  Fallback is good but it has no link on left side menu so it is still a good idea to add missing pages in English to content/ja/ ☺️

https://ja.nuxtjs.org/docs/2.x/configuration-glossary/configuration-router/

[2020-11-29 08:12] aytdm commented on #1038
I've merged the PR (#1041). Thank you for your report and suggestions :)

[2020-11-29 08:12] #1038 closed

[2020-11-30 19:25] florian-lefebvre opened #1049 "Missing command on Commands page"
At [https://nuxtjs.org/docs/2.x/get-started/commands#development-environment](https://nuxtjs.org/docs/2.x/get-started/commands#development-environment), clicking on NPX shows the NPM command and clicking on NPM shows nothing.

[2020-11-30 19:49] debs-obrien commented on #1049
can you refresh and check or show me a screenshot as I am not seeing any NPX command on that page. thanks

[2020-11-30 20:04] florian-lefebvre commented on #1049
Yes it's gone, sorry for the inconvenience.

[2020-11-30 20:04] #1049 closed

[2020-12-01 22:45] hamiltongabriel opened #1053 "[Portuguese-BR] translate new guides #549"
New guides section needs to be translated.

See the readMe for info on how to translate our site: https://github.com/nuxt/nuxtjs.org

Feel free to just take one page and submit a pr. make sure you also tick the box in the list below. Or take on the whole project and just create a draft pr and we will merge it when it is finished.

copy files of the path: "content - en - examples" to "content - pt

[2020-12-03 09:41] hycreeze opened #1058 "An error occurred when requesting the localhost Api Service. What puzzles me is that the value of axios hostname in nuxt is always 10809?"
### version
 - windows:  64-bit Professional
 - nuxt：v2.14.6
 - node：v14.15.1

### Reproduction
I have opened a django api service localhost, but I cannot access it correctly in nuxt.js. The following is the content of my files
-  pages/index.vue
[code]
- nuxt.config.js
[code]

### What actually happened?

http://localhost:8000/demo is a test interface that returns a json string, the following is

[2020-12-03 09:53] hycreeze commented on #1058
I am extremely sorry, I submitted the wrong place, please delete or close this issue

[2020-12-03 09:53] #1058 closed

[2020-12-04 15:40] mrleblanc101 opened #1063 "Yarn add fibers explaination"
The Nuxt Docs has the package `fibers` listed in the `yarn add` when configuring SASS pre-processing.
What worries me is that there is no explaination why this package is included, or even if it's necessary ?
My previous Nuxt project used Node-sass, so we only had to `yarn add -D sass-loader node-sass`.
Now it's `yarn add -D sass sass-loader fibers`.

[2020-12-04 15:46] manniL commented on #1063
Hey 👋
See https://github.com/nuxt/nuxtjs.org/pull/848 for context :)

[2020-12-04 15:49] mrleblanc101 commented on #1063
Alright, thanks. The `fibers` documentation did not help me, but `sass` docs mention this package.
Maybe some explaination of why `fibers` is needed should be added to the Nuxt docs too.

[2020-12-08 06:55] zhangjing007 opened #1068 "Is vue3.0 supported"
The official version of vue3.0 has been released. When can nuxt support the creation of vue3.0 projects?

[2020-12-08 07:25] danielroe commented on #1068
See https://github.com/nuxt/nuxt.js/issues/5708 🙃

[2020-12-08 07:25] #1068 closed

[2020-12-08 21:50] scscgit commented on #54
This issue seems to be getting popular, as there are not enough solutions [[1]](https://stackoverflow.com/questions/48104842/how-can-i-go-back-route-back-on-vue-router) [[2]](https://stackoverflow.com/questions/53788975/vue-router-how-to-get-previous-page-url/53789212); is there any progress, or does anyone have better better alternatives? Using `<a @click="$router.back()">go back</a>` doesn't exp

[2020-12-10 07:33] keremh commented on #560
Hi, i want to work on this issue.

[2020-12-10 07:58] debs-obrien commented on #560
fantastic @keremh that would be great. thanks

[2020-12-10 10:21] HamadaEmpatLima commented on #54
I just use this to solve my problem `<NuxtLink to="./" ></NuxtLink >`

[2020-12-10 11:54] scscgit commented on #54
This doesn't seem to work for me; when there's an incorrect path parameter like `a/b/123`, it seems to create a link to `a/b/` even though such a route doesn't exist. Otherwise the link is to the same page as the current one, which (due to a terrible design choice of router) doesn't do anything, as there's no way to "refresh a current page" without a hard refresh via browser, or by going back-and-

[2020-12-11 07:22] gregg-cbs opened #1073 "Cannot @extend css classes made global in nuxt config"
### Cannot use sass @extend to extend classes which are made global by nuxt config.

**assets**
`assets/styles/$extends.scss`
[code]

**nuxt.config.js**
[code]

**index.vue**
[code]

**error**
[code]

[2020-12-11 07:33] gregg-cbs commented on #1073
@extends works in my vue cli project.

**vue.config.js**
[code]

I am busy porting my vue project to nuxt.

[2020-12-11 07:52] #1073 closed

[2020-12-11 08:13] gregg-cbs commented on #1073
Well im not sure this is their issue.

This is a Vue / Nuxt issue.

I only tried using style-resource-module because I couldnt figure out how to do it in Nuxt.

Vue cli has this capability, im sure Nuxt must have it, but I need guidance from someone smart like you.

[2020-12-14 18:17] keremh commented on #560
@debs-obrien i sent pr and i want to tick my file's box on the list in your first comment. But i can't edited it. How can i do that?

[2020-12-15 02:21] williamli opened #1083 "rename `now-builder` to `vercel-builder` in docs"
In docs, some of the `vercel-builder` is still referenced as `now-builder`.

PR will be provided shortly.

[2020-12-15 10:04] danielroe opened #1084 "clarify purpose of vercel-builder"
Not needed unless SSR (not SSG) is required

https://nuxtjs.org/faq/now-deployment/

Some past issues:
* https://github.com/nuxt/vercel-builder/issues/452
* https://github.com/nuxt/vercel-builder/issues/411

[2020-12-15 13:44] #1083 closed

[2020-12-15 13:44] #1084 closed

[2020-12-19 20:27] hmaesta opened #1091 "Feature request: How to deploy Nuxt SSR on AWS Amplify"
**AWS Amplify** it's a very easy way of deploying web apps (_Netlify-like_).
Since Sep 15 they are supporting **SSR deploy** for Next.js and Nuxt.js

→ [**Amplify blog:** SSR Support for AWS Amplify JavaScript Libraries](https://aws.amazon.com/pt/blogs/mobile/ssr-support-for-aws-amplify-javascript-libraries/)

Currently there is not an easy way of deploying Nuxt SSR on AWS and [packages for server

[2020-12-19 21:53] #1090 closed, assigned to nobody

[2020-12-21 18:49] bencodezen opened #1099 "Cookie banner covers up footer features"
## Summary

The footer currently contains functionality like translations and light/dark mode which are important for users to know about, but if they never clear away the cookie banner, it will never be discovered.

### Bottom of the Page with Banner

<img width="960" alt="footer-before" src="https://user-images.githubusercontent.com/4836334/102792904-1c4e6100-4377-11eb-9d8b-e292d2c8544c.png">

#

[2020-12-21 19:15] #1028 closed

[2020-12-21 19:22] #1099 closed

[2020-12-23 05:18] Saunved opened #1101 "Nuxt SSR with asyncData + axios makes calls on the client-side on route change"
I usually use Nuxt in SPA mode, so I never ran into this issue, but I need to use it in Universal mode now, and I observed asyncData calls showing up in the browser's Network tab.

I am pretty sure I am doing something wrong, but I've spent a long time trying to fix this situation and haven't managed to find any solution or explanation. Please take a look at the [test repository](https://github.co

[2020-12-23 08:44] debs-obrien commented on #1101
Exactly what Daniel said. You can read how it works here. I hope that helps with understanding how Nuxt works

https://nuxtjs.org/docs/2.x/concepts/server-side-rendering/

[2020-12-23 08:57] Saunved commented on #1101
@danielroe @debs-obrien Thank you for shedding light on the situation. The SSR concept doc page clarified a lot of things :smile:

[2020-12-23 08:57] #1101 closed

[2020-12-23 13:46] guettli commented on #1028
thank you for explaining it. Somehow this is all to complicated for me. I guess I will go a completely different way [html-over-the-wire](https://github.com/guettli/html-over-the-wire)

[2020-12-29 09:57] thedb commented on #547
https://github.com/nuxt/nuxtjs.org/pull/1104

I have completed the example part..

[2020-12-29 10:34] thedb commented on #547
My next target:

📝 guides -> concepts

 context-helpers.md
 nuxt-lifecycle.md
 server-side-rendering.md
 static-site-generation.md
 views.md

📝 guides -> get-started

 conclusion.md
 directory-structure.md
 installation.md
 routing.md
 upgrading.md

I will create a new pr to merge

[2021-01-03 09:25] AndreiDetenkov commented on #548
Hi. I want to help you with translation docs to the Russian language if it possible of course. Could we talk about what pages have you already translated and what you translating at the moment? As you already mentioned it will be better to avoid some conflicts.

[2021-01-03 09:58] zavvla commented on #548
Привет, напиши мне в телеграмм @zavvla, я добавлю тебя в чатик, где ребята этим занимаются. 12:26, 3 января 2021 г., AndreiDetenkov <notifications@github.com>:
Hi. I want to help you with translation docs to the Russian language if it possible of course. Could we talk about what pages have you already translated and what you translating at the moment? As you already mentioned it will be better to

[2021-01-03 10:09] zavvla commented on #548
@DreaMinder

[2021-01-03 10:11] DreaMinder commented on #548
@AndreiDetenkov sure, just write me at [Telegram](https://t.me/dreaminder) and we will sort it out

[2021-01-06 09:41] MaxNvk commented on #548
Hi! In PR [#1128](https://github.com/nuxt/nuxtjs.org/pull/1128)

guides -> components glossary
- [ ] pages-fetch.md
- [ ]  pages-head.md
- [ ]  pages-key.md
- [ ]  pages-layout.md
- [ ]  pages-loading.md

[2021-01-07 08:13] #672 closed

[2021-01-07 08:58] #900 closed

[2021-01-07 10:42] Manage-Society commented on #1091
Have a solution ?

[2021-01-07 11:12] debs-obrien commented on #1091
pr welcome if anyone has experience in AWS Amplify

[2021-01-10 14:12] plutach opened #1136 "ERROR: render function or template not defined in component: anonymous"
I'm trying to `npm run start` a nuxt application with a  typescript, but keep getting the following error. Any suggestions?

 ERROR  render function or template not defined in component: anonymous

  at Qi (node_modules/vue-server-renderer/build.prod.js:1:66659)
  at io (node_modules/vue-server-renderer/build.prod.js:1:70532)
  at ro (node_modules/vue-server-renderer/build.prod.js:1:70182)
  at eo

[2021-01-10 22:59] hecktarzuli opened #1137 "Hooks doc renders wrong"
The hooks doc is rendering improperly for some reason (or the latest change wasn't built?)
Page: https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-hooks
Source: https://github.com/nuxt/nuxtjs.org/blob/master/content/en/guides/configuration-glossary/configuration-hooks.md
It's missing the done() function and shows a weird param

![image](https://user-images.githubusercontent.com/2112

[2021-01-11 12:53] #1136 closed

[2021-01-11 18:56] April-Gras opened #1190 "Lack of testing documention for vuex"
Hey, sorry in advance if this is not the right way to submit an issue, it's a first for me
So I've been fiddling with a typed store in Nuxt and got into a whole lot of problems testing it because it's so poorly documented.
So here's what I could gather up on the subject

First off here are the dependencies I needed :
[code]

I then added a `jest.config.js` at the root of the project:
[code]

And a

[2021-01-12 01:43] hecktarzuli commented on #1137
OOF, looks like another old result from the service worker.  This looks fine incogneto and a new computer. (I can never get cache to flush on my local computer - oh well!)

[2021-01-12 01:43] #1137 closed

[2021-01-12 16:43] pi0 opened #1143 "Avoid confusing middleware and serverMiddleware"
(background: [#8626](https://github.com/nuxt/nuxt.js/issues/8626))

If one adds [serverMiddleware](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-servermiddleware) to `middleware/` directory, it will be wrongly picked by nuxt as [middleware](https://nuxtjs.org/docs/2.x/directory-structure/middleware/) which adds wrong dependencies to bundle or generate errors.

It could be nice i

[2021-01-13 11:12] manniL commented on #1143
Linked the issue in Pooya's post ☺️

[2021-01-13 11:58] #1143 closed

[2021-01-14 12:59] snakemastr opened #1151 "Nuxt module extendPlugins function doesn't exist"
Nuxt v2.14.12

I have a custom module for debugging purposes where I would like to define app.i18n.postTranslation handler but app.i18n is undefined when I add my custom plugin in my custom module.
It works when I add the plugin directly to nuxt.config but I want to register it in the module so the functionality is isolated.

According to the documentation https://nuxtjs.org/docs/2.x/internals-glo

[2021-01-14 13:26] mcrapts opened #1147 "Undocumented vue-renderer:context hook"
### Is your feature request related to a problem? Please describe.

Nuxt exposes quite some hooks that can be used. They are document here: https://nuxtjs.org/docs/2.x/internals-glossary/internals-renderer#hooks. As far as I know none of these hooks give me the option to add content to only the ssrContext. Because of this I was wondering how the nuxt/content module works, and I noticed this module

[2021-01-14 15:17] atinux opened #1148 "Move FAQ/Deployment to Docs"
It would be nice to mov the Deployment section of the FAQ to a new book called "Deployment" after "Components Glossary"

I would also merge Amplify and CloudFront to "Deployment / Amazon Web Services (AWS)".

Once done, we shall review the FAQ to move some parts to the docs to remove it at the end.

[2021-01-14 17:48] debs-obrien commented on #1151
ok pr made: https://github.com/nuxt/nuxtjs.org/pull/1152. let me know if ok

[2021-01-14 18:34] #1151 closed

[2021-01-15 01:48] CodeSpent commented on #1091
I am currently working on this, and will offer a write up if I can get it sorted.

[2021-01-15 08:32] 3tew commented on #42
[code]
It works for both assets and static.

[2021-01-15 15:41] hecktarzuli commented on #533
https://github.com/nuxt/nuxtjs.org/pull/1154 @Atinux

[2021-01-15 17:32] Manage-Society commented on #1091
Solution https://www.youtube.com/watch?v=hk1ZmBD7n60

[2021-01-16 22:30] CodeSpent commented on #1091
@cyriaque-ovaga the video there only covers deploying with static assets, but not SSR, unfortunately.

Despite the adoption of SSR for Amplify, their aws-amplify-vue plugin is closed source so I'm really struggling to figure out how to get it working.

As far as I can tell there's no manual way outside the plugin to actually tell Amplify to enable SSR which without this configuration line, Amplify

[2021-01-17 00:18] mcanvar commented on #1091
Looking forward to this for a bit of time. I am really excited!

[2021-01-18 08:36] cyriaque-ovaga commented on #1091
@CodeSpent Hello, I used his walk. In the nuxt.config file remove the target line or put target "server"

[2021-01-18 15:13] DreaMinder commented on #548
@debs-obrien
can you mark these pages as "done"?

📝 guides -> concepts

- [ ] context-helpers.md
- [ ] nuxt-lifecycle.md
- [ ] server-side-rendering.md
- [ ] static-site-generation.md
- [ ] views.md

Also, we noticed only i18n file translation is getting applied on the ru.nuxtjs.org, but the pages are still English. For example, this page has already been translated: https://ru.nuxtjs.org/docs/2.x

[2021-01-18 15:32] patron opened #1162 "Nuxt way to hide api secret and client secret"
Hi everyone! I want to ask Nuxt community if there is way to hide client_secret and client_id? I've seen many different workarounds, but unfortunately i have no luck to get them work :(. I don't know how to debug server middleware using simple console.log. So what do I need? I need server middleware or proxy example which will help me to put two fields (client_secret and client_id) to the POST req

[2021-01-18 15:33] #1162 closed

[2021-01-18 16:54] #580 closed

[2021-01-18 17:36] #1063 closed

[2021-01-18 17:45] #699 closed

[2021-01-18 17:46] #400 closed

[2021-01-18 18:15] #533 closed

[2021-01-19 07:03] Yukixieyuya821 opened #1170 "nuxt background routing jump does not take effect"
Click on page A to jump to open a new window B, and page A will be routed to a transition page C. On this transition page C, time 3S, and then window.location.href change the address (for example: https://www.google .com), in this process, page B is always in the current window. Logically speaking, the C page should jump to https://www.google.com, but it is found that the hook function of the C pa

[2021-01-19 10:18] #979 closed

[2021-01-19 10:19] #966 closed

[2021-01-19 10:20] #499 closed, assigned to debs-obrien, danielroe

[2021-01-19 10:51] debs-obrien opened #1171 "end2end tests failing"
end2end tests are failing since this pr: https://github.com/nuxt/nuxtjs.org/pull/1160/files which includes updating Nuxt to v2.15 using nuxt-edge and adding esm to bundle so crawler works.

Tests are running fine locally but failing in CI. See failing tests here:https://github.com/nuxt/nuxtjs.org/runs/1722868741

Error message:
CypressError: `cy.visit()` failed trying to load:

http://localhost:30

[2021-01-19 10:54] #1170 closed

[2021-01-19 15:25] #1171 closed, assigned to debs-obrien, danielroe

[2021-01-19 18:01] debs-obrien opened #1175 "resources section"
rework resources section to include modules, themes, video courses and faq or tips.
Add new svgs for missing categories

[2021-01-19 18:04] debs-obrien opened #1176 "indicate static deployments"
As per @pi0 request:
Add labels for deployment section for server/static
Add overview page for deployment

Any thoughts/ideas on this would be appreciated cc @Atinux / @alexchopin

[2021-01-19 18:41] #1148 closed, assigned to debs-obrien

[2021-01-21 14:12] #203 closed

[2021-01-22 08:40] #1176 closed, assigned to debs-obrien

[2021-01-26 12:07] #1175 closed, assigned to debs-obrien

[2021-01-27 08:30] deni5n opened #1198 "example (https://nuxtjs.org/docs/2.x/internals-glossary/nuxt-render-and-get-window) return error after launch"
[code example](https://nuxtjs.org/docs/2.x/internals-glossary/nuxt-render-and-get-window) not working for me
error [RequestError: Error: connect ECONNREFUSED 127.0.0.1:3000]

may be need to add some like this after ```const nuxt = new Nuxt(config)```:
[code]

but why Builder was removed in commit 15c59c06a1c6822ec29ffc754b98aaa40ccb06b5 ??

[2021-01-27 09:54] deni5n commented on #1190
i had the same problems testing the store. code above is not working. try this

// module user.js
[code]
// mock if need [file mockuser]
[code]
// spec.js
[code]

[2021-01-27 10:41] kurealkatraz commented on #1190
Hey @deni5n
Mind telling me where my code breaks, I could iron out any issues with it with more context :)

As easy as your solution is I feel it misses the point of letting Nuxt build the store as it would during it's normal runtime
The piece of code works great for really small scale applications with small stores but it will start showing it's cracks for bigger project
- Forces the developer to

[2021-01-28 18:49] Rahma-AlWadhahi commented on #699
Hello 👋
I would like to contribute and work on translating to Arabic.

[2021-01-28 19:08] heithemmoumni commented on #699
We can start, just fork the project and take one of the lists

[2021-01-31 08:47] gkatsanos opened #1210 "One more issue for SSR debugging not working"
Hey guys,

I'd like to contribute to the docs on the topic.  If someone throws some quick info in this thread as I've spent hours and hours trying to get SSR VSCode debugging to work. Specifically there's nothing with regards to sourcemaps.
As it stands, standard starter template is unable to bind to any breakpoints on VSCode for SSR code (`asyncData()` for example)

[2021-01-31 09:03] gkatsanos commented on #1210
Unfortunately not. There are several github issues in the main nuxtjs repo , most of them closed/abandoned/stale. E.g. :
https://github.com/nuxt/nuxt.js/issues/2734
https://github.com/nuxt/nuxt.js/issues/2341
https://github.com/nuxt/nuxt.js/issues/433
https://github.com/nuxt/nuxt.js/issues/2528

"in the wild" theres a couple of articles with obsolete VS launch.json Configurations (their API change

[2021-01-31 09:38] gkatsanos commented on #1210
small update: I was able to breakpoint and sourceMap correctly client-side rendered code. I'm having some trouble mapping server-side files. (generally anything in asyncData/fetch or Vuex server side)

[2021-02-01 13:08] gkatsanos opened #1215 "allow devtool integration with SSR Vuex events"
Committing mutations within a `fetch()` hook results in the mutation not logged in the Vue/Vuex dev tools.
The state is properly updated, the content is there, but the mutation isn't logged in the dev tools.
I assume this is because its SSRed, but I wanted to see if there's workarounds, if this is intended behaviour, and above all, if doing Vuex stuff inside `fetch()` is the recommended practice.

[2021-02-02 06:49] fajarafriansh commented on #549
Halo mas @febrihidayan, saya ingin berkontrusi menerjemahkan dokumentasi, saya ingin menerjemahkan configuration glossary.

📝 guides -> configuration glossary

- [ ]  configuration-alias.md
- [ ] configuration-css.md

[2021-02-06 11:41] jameding opened #1224 "about scrollBehavior.js"
This setup works fine on the computer side, but on the mobile side, JS does not use this method when returning to the previous page

So I can't customize the scroll position when returning to the previous page. Is there any solution?

-- What I want to do is return to the previous page and the page is still where it was, instead of scrolling to the top

[2021-02-10 13:07] pi0 opened #1244 "Component discovery docs"
Currently we have sparse documentation about [nuxt/components](https://github.com/nuxt/components). Since this is an ad-hoc module (built-in feature with independent versioning) i think it would be the best to move and link docs from repo to official website so is easier for users to find all information in single place and avoid content to be stalled.

Goals:

- Adding "Features > Components Disc

[2021-02-10 13:19] Dexalt142 commented on #549
Halo mas @febrihidayan mohon direview. #1245

[2021-02-11 14:06] Flosciante opened #1248 "Refacto footer"
Same links as Nuxtjs.com
![Capture d’écran 2021-02-11 à 15.03.39.png](https://maintainers.s3.fr-par.scw.cloud/Capture_d_ecran_2021_02_11_a_15_03_39_0d36e2b60d.png)

[2021-02-11 14:12] Flosciante opened #1249 "Update Header"
Add Community link between Blog and Video courses

[2021-02-12 11:41] pi0 commented on #1244
Hmm but i'm afraid other hooks aren't in configuration docs. This section would be also extended probably for including tips for unit test setup and internals

Seems good 👍

[2021-02-12 20:36] linqFR opened #1252 "nuxtServerInit accessing server request"
Nuxt documentation [(HERE)](https://nuxtjs.org/docs/2.x/directory-structure/store#the-nuxtserverinit-action) gives an example where we can access request in **nuxtServerInit**.
[code]
but with params in _nuxt.config.js_
[code]
and default mode (so **universal** i suppose).

BUT I can only find _req_ and _res_ in _ssrContext_!!

So, is the example not supposed to be the following instead?

[code]

[2021-02-12 21:11] linqFR commented on #1252
@danielroe so it is not related to mode = 'universal' as doc states?

[2021-02-12 21:15] danielroe commented on #1252
@linqFR The docs are correct - with a universal target that action is called, and receives the context. It just happens that with static target, req is not on the context.

[2021-02-12 21:24] linqFR commented on #1252
But in ssrContext, which is not documented?

That's just fine with me ! just that documentation is not very obvious and crystal clear about **universal** mode.
Is it just : `mode ="universal"` or a mix of
[code]
?

i want a static site, rendered once at first access to website (but with custom config related to user's role and language and to subdomain) and then only data is dynamic (routes, layou

[2021-02-13 02:01] linqFR commented on #1252
I am not sure it is about the `target='static'`
It seems more to be:

#### nuxtServerInit is triggers if nuxt config has  `mode = "universal"` (default value)
| if | in `nuxtServerInit( storeCtx, nuxtCtx )`, we have: |
| :-: | :-- |
| `ssr = true` | request = `nuxtCtx.ssrContext.req` / response = `nuxtCtx.ssrContext.res` |
| `ssr = false` | request = `nuxtCtx.req` / response = `nuxtCtx.res` |

[2021-02-13 05:01] fajarafriansh commented on #549
halo mas @febrihidayan, saya ingin melanjutkan lagi penerjemahan configuration glossary

- [ ] configuration-builddir
- [ ] configuration-dev
- [ ] configuration-env
- [ ] configuration-global-name

[2021-02-13 10:34] pi0 commented on #1244
I would go with a try with internals then :)

[2021-02-13 11:19] linqFR commented on #1252
@danielroe * well after reading nuxt code I am even not sure this is it !

[2021-02-13 13:45] linqFR commented on #1252
what happens with following ?
[code]

[2021-02-13 13:52] danielroe commented on #1252
What I said above.

[2021-02-13 15:02] linqFR commented on #1252
sorry i m just trying to figure out what params do what and the usage of all that !

what is the flow with such params ?
- during build (before webpack/after webpack)
- what kind of server will run and what it can do or cannot do

and the cherish on top : what if some modules are added : like PWA or nuxt/content...

I have started to map things, but i d like to add usage / purpose of config with p

[2021-02-14 14:55] Flosciante opened #1255 "[COMMUNITY PAGE] Create Partners section"
- [ ] Create section
- [ ] Delete partners page

[2021-02-14 14:59] Flosciante opened #1256 "[COMMUNITY PAGE] Create Team section"
- [ ] Remove Nuxtjs team
- [ ] Split community team => Ambassadors / Maintainers
- [ ] Delete Team page

[2021-02-14 15:07] Flosciante opened #1257 "[COMMUNITY PAGE] Create Ressources section"
- [ ] Create section with Design Kit and Ressources content
- [ ] Delete Design Kit and Ressources Content pages

[2021-02-14 15:08] Flosciante opened #1258 "[COMMUNITY PAGE] Create Shop section"
- [ ] Create Shop section
- [ ] Delete Shop page

[2021-02-15 10:49] #1258 closed, assigned to Flosciante

[2021-02-15 10:49] #1257 closed, assigned to Flosciante

[2021-02-15 10:49] #1256 closed, assigned to Flosciante

[2021-02-15 10:50] #1255 closed, assigned to Flosciante

[2021-02-15 10:50] #1249 closed, assigned to Flosciante

[2021-02-15 10:50] #1248 closed, assigned to Flosciante

[2021-02-16 20:53] agnelnieves opened #1268 "New nuxt project throws error: ReferenceError: globalThis is not defined"
This happens when using:

[code]

Doesn't let me serve either.

Details:

OS: Mac OS 10.15.7
Node: v11.10.1

[2021-02-16 20:54] agnelnieves commented on #1268
Was able to nail it down a bit. Issue happens only if I enable  stylelint when creating a project.

[2021-02-16 20:59] agnelnieves commented on #1268
Now I'm getting:
[code]

[2021-02-16 21:11] agnelnieves commented on #1268
Shoot, thanks @danielroe. Can confirm this was indeed my problem. Using NVM gotta make 12.x the default version, will close this thread.

[2021-02-16 21:11] #1268 closed

[2021-02-16 21:16] agnelnieves opened #1269 "Update nuxt prerequisites on doc site"
Hey guys, I just had an issue where wasn't able to properly create a nuxt project.

I opened an [issue](https://github.com/nuxt/nuxtjs.org/issues/1268) on this. Turns out my problem was that I was using node v11, and is not supported. However, on the [docsite](https://nuxtjs.org/docs/2.x/get-started/installation#prerequisites), says `node - at least v10.13` which might be a bit confusing for other

[2021-02-16 21:38] debs-obrien commented on #1269
Sure. Pr welcome 😊

[2021-02-16 23:02] agnelnieves commented on #1269
Awesome, thanks @danielroe & @debs-obrien, might do a PR later tonight

[2021-02-17 10:26] #1198 closed

[2021-02-17 15:10] nimonian opened #1272 "Navigation is broken"
When I click a link on nuxtjs.org the url changes but navigation doesn't occur.

I checked the log and this is the err:

[code]

Also worth mentioning that the tabs to change language don't seem to work right now:

![image](https://user-images.githubusercontent.com/12779491/108223484-c8bb8200-7131-11eb-92b5-fb89613a8ba3.png)

Bug occurs in chrome and firefox

[2021-02-17 19:33] mbraint commented on #1272
I've tried. it didn't help

<img width="1437" alt="Screenshot 2021-02-17 at 22 30 15" src="https://user-images.githubusercontent.com/16642887/108257594-0f2fd180-7170-11eb-97ba-34f14e108db5.png">

[2021-02-17 20:58] emaia commented on #1272
The navigation works if I disable adblock extension.

[2021-02-18 08:13] huebnermarketing opened #1274 "can't access error function on client side"
as mention in Context and Helpers doc it's accessible on server as well as on client, but it's only working on server side.

![image](https://user-images.githubusercontent.com/77531198/108325537-2bbf1e80-71ef-11eb-92cf-739c5134b61e.png)

[2021-02-18 09:34] huebnermarketing commented on #1274
I'm using error function in axios cache block, like this. Correct me if I'm doing anything wrong
![image](https://user-images.githubusercontent.com/77531198/108336857-7f833500-71fa-11eb-9340-27ba3df20051.png)

[2021-02-18 11:55] ImalshaRathnaweera opened #1275 "how to use vuechartkick in nuxt js"
I create vuechartkick plugin in /plugin/vue-chartkick.
[code]
Then I add the file path inside the plugins key of our nuxt.config.js.
[code]
nuxt template

[code]
I received this error
[code]

[2021-02-18 16:50] devictoribero opened #1277 "[NuxtJS Docs] The view is not updated after clicking on a link placed on the left sidebar."
As the title indicates, it was my first visiting Nuxtjs (so I had no files cached) and when navigating through the docs, I've seen that If I click on a link that it's on the left sidebar (navigated across different pages) the UI is not updated even though the URL changes. If I refresh, since the URL was updated, the content is shown properly after loading the page.

**FYI: An error is NOT thrown o

[2021-02-18 17:25] debs-obrien commented on #1277
Thanks @devictoribero we will make sure to test this out. Also if you could keep an eye on it for us and report back in a few days if it is the same behaviour that would also be great. thanks

[2021-02-19 06:44] YasiOnFire opened #1278 "Navigating docs not working with (ad/u)block enabled"
## Steps to reproduce:
- install uBlock in firefox/chrome or install Brave browser
- go to https://nuxtjs.org/docs/2.x/get-started/installation
- try to navigate anywhere or change to dark mode

## What should happen:
- URL is changed and the view changes

## What happens:
- URL is changed but nothing else happens

## Disabling uBlock, or buildin Brave blocking fixes the issue.

I think it's cause

[2021-02-19 09:11] huebnermarketing commented on #1274
Hi, Thanks for replay 👍

I got my answer from here : https://github.com/nuxt/nuxt.js/issues/1073#issuecomment-314671667

[2021-02-19 09:11] #1274 closed

[2021-02-19 13:16] meinenieuwland commented on #1278
![image](https://user-images.githubusercontent.com/3862658/108508891-ccc7db00-72bc-11eb-8202-5867929456f5.png)
Seeing a "Maximum call size exceeded" error. Maybe some recursive function not being able to finish due to the adblockers?

[2021-02-19 13:54] meinenieuwland commented on #1278
I checked out the repository locally and your problem with "Maximum call size exceeded" is caused by [`plugins/adblock.client.js`](https://github.com/nuxt/nuxtjs.org/blob/master/plugins/adblock.client.js)

[2021-02-19 15:15] febrihidayan commented on #1278
@meinenieuwland You are right, I also had the same problem. But on turning off ad blocking it really worked

[2021-02-19 16:47] devictoribero commented on #1277
Since it was working using the incognito mode, I thought that could be an extension-related issue.

For me, the issue is caused by the ad-block https://chrome.google.com/webstore/detail/adblock-%E2%80%94-best-ad-blocker/gighmmpiobklfepjocnamgkkbiglidom

I've paused it for the nuxtjs docs, and looks like it behaves as it should after doing that @debs-obrien .

[2021-02-19 16:53] debs-obrien commented on #1277
ok great to know. Thanks @devictoribero

@Atinux what are your thoughts on this and how we can make Nuxt site work with these types of extensions so people can block adds but still see site?

[2021-02-19 20:14] andynunes commented on #1278
I also found that I had to disable filtering for this domain within the "AdGuard AdBlocker" Chrome extension in order to navigate the docs.

[2021-02-20 09:23] nimonian commented on #1272
Duplicate of ##1278

[2021-02-20 09:23] #1272 closed

[2021-02-20 22:47] JeffreyDotDev commented on #1278
Fixed it in https://github.com/nuxt/nuxtjs.org/pull/1281

[2021-02-20 23:28] #1278 closed

[2021-02-20 23:29] danielroe commented on #1277
Fixed in #1281.

[2021-02-20 23:29] #1277 closed

[2021-02-23 00:04] NickSto opened #1284 "Manual installation instructions not working"
Hi, I wanted to try out the manual installation described [here](https://nuxtjs.org/docs/2.x/get-started/installation), but I got an error at the end instead of a "Hello world!". I think I followed the instructions exactly, but sorry if I missed something.

I'm assuming the instructions are out of sync with the current version of nuxt? I'm pretty new to frontend so I'm not sure what's missing.

##

[2021-02-23 08:02] #1284 closed

[2021-02-23 16:56] oceangravity commented on #1091
Hi guys!

I just deploy my first Nuxt app (SSR) on AWS Amplify using this config:

`
version: 1
frontend:
  phases:
    preBuild:
      commands:
        - yarn install
    build:
      commands:
        - yarn generate
  artifacts:
    # IMPORTANT - Please verify your build output directory
    baseDirectory: dist/
    files:
      - '**/*'
  cache:
    paths:
      - node_modules/**/*
`

I hope

[2021-02-24 21:11] pi0 opened #1290 "edge docs"
There are features that land to nuxt's dev branch and get some time until released. In the meantime, these features are available as nighly-builds by using `nuxt-edge` npm package. Idea is that, instead of pending PRs like #1288, we may push them to corresponding dev branch in nuxtjs.org and publish on https://dev.nuxtjs.org Only point is probably that we might need to show a specific banner for s

[2021-02-24 21:48] manniL commented on #1290
Great idea!

In addition we could generally inform people about `nuxt-edge`. Possibly a blog post?

[2021-02-24 22:01] pi0 commented on #1290
A status page in docs would probably better since it might be updated (as well ass adding refs to nuxt3 in upcoming months 😁)

[2021-02-24 22:11] #1252 closed

[2021-02-26 20:28] NickSto commented on #1284
@danielroe Cool, thanks so much for the pointer! I tried again with the latest version and it's fixed.

[2021-02-28 09:32] #1275 closed

[2021-02-28 12:45] febrihidayan commented on #549
Ayoooo! tinggal 16 berkas lagi yang harus dipersiapkan salah satunya bagian guides -> configuration glossary dan i18n configuration. Akan tetapi untuk bagian i18n configuration akan dilakukan ditahapan akhir. Terimakash kepada teman-teman yang mau bantu selama ini 👏

Catatan: disarankan untuk menyebutkan berkas yang akan diterjemahkan agar tidak terjadi dublikat berkas dan minimal 2 berkas yang di

[2021-02-28 13:08] jefrydco commented on #549
Nanti kalau sudah selesai menerjemahkan dokumentasi Nuxt.js, bisa bantu terjemahin dokumentasi Vue 3 di https://github.com/vuejs-id/docs-next/issues/5

[2021-03-01 01:51] danilhendrasr commented on #549
Halo mas @febrihidayan, saya ingin bantu menerjemahkan configuration glossary.
- [ ] configuration-ignore.md
- [ ] configuration-rootdir.md
- [ ] configuration-mode.md
- [ ] configuration-plugins.md

[2021-03-02 16:22] bradley-varol commented on #1091
I was having issue with a blank screen and it turned out I needed to set up a rewrite rule in Amplify to `200.html` and not `index.html`.

[2021-03-02 20:43] Toliak opened #1299 "[Bug] /cookbook/components: "Edit on github" returns 404"
**Description**

Link [https://typescript.nuxtjs.org/cookbook/components/](https://typescript.nuxtjs.org/cookbook/components/) appeared in console, after I created a project.

On the website page I saw empty code block and I attempted to see, why did that happen
![image](https://user-images.githubusercontent.com/25643405/109712285-e7e5f500-7bb0-11eb-9000-f19fbcca816b.png)

I clicked "Edit on githu

[2021-03-02 22:48] ccleve opened #1300 "Component auto import no longer working in subdirectories"
I have `components: true` in nuxt.config.js and a few .vue files in `/components`. There are a few components in subdirectories below `/components`. Nuxt 2.14.12 was able to find those components in subdirectories and import them automatically without a problem.

I just did a general upgrade of all dependencies in my app, and bumped Nuxt to 2.15.2. Now I get `"Unknown custom element: <MyComponent>

[2021-03-03 09:48] kevinmarrec commented on #1299
@Atinux It seems to be an issue with `@nuxt/content` with some trailing `/`.

Navigating from docs Home to Components page juste work, but refreshing make it buggy (and we can see it doesn't work only when there's trailing `/`)

[2021-03-03 14:14] #1300 closed

[2021-03-04 12:20] Tobeyforce commented on #1091
Isn't generate for static sites?
Do we have any update on this? AWS does indeed mention SSR on their blog but it's puzzling trying to figure out how to do it.
@CodeSpent Did you end up getting a decent answer from AWS?

[2021-03-04 16:22] Saunved opened #1304 "Is it possible to ignore a file only for production?"
Hi, I saw that there is a mechanism to ignore files in Nuxt by adding them to a .nuxtignore file.
This is what I tried:
https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-ignore/
However, this seems to disable the file during development too.

Is there a way to keep a file during development and disable it only for production?

[2021-03-04 19:33] nh0627 commented on #546
Hello, I translated the guide pages before on the previous version of documentation (I updated most of them at that time, and you can see my commits). After a while, I found that my translations are gone as this doc has a new repo. Can I contribute the "DOCS" pages?

[2021-03-07 09:46] jefrydco opened #1313 "bug: Algolia Search Doesn't Worked on Translated Page"
## Actual

On screencapt below I try to search with keyword "page" on Indonesian version of Nuxt docs (https://id.nuxtjs.org), it doesn't show the expected result.

![image](https://user-images.githubusercontent.com/20434351/110235754-5ab1f000-7f64-11eb-8685-47c2fcf29f48.png)

Not only on Indonesian, but also on Espanol and any other translated version as well.

## Expected

Show the expected resu

[2021-03-08 10:46] summertzz opened #1317 "NUXTJS Chinese Documentation-Plugins-Plugins that are only used on the client side-add a "down" word"
### Steps to reproduce
1. open (https://www.nuxtjs.cn/guide/plugins)
![image](https://user-images.githubusercontent.com/27355995/109617281-28be1980-7b71-11eb-8fb4-716de06139bf.png)

[2021-03-08 10:47] summertzz opened #1318 "NUXTJS Chinese Document-Vuex State Number-The option demonstration under the use state number is confused"
### Steps to reproduce
1. open (https://www.nuxtjs.cn/guide/vuex-store)

![image](https://user-images.githubusercontent.com/27355995/109619314-9b2ff900-7b73-11eb-8d1c-de75fc4248bf.png)

[2021-03-09 12:06] Namchee commented on #549
Halo mas @febrihidayan, saya akan membantu untuk menerjemahkan berkas-berkas berikut:

- [ ] `configuration-modern.md`
- [ ] `configuration-modules.md`
- [ ] `configuration-modulesdir.md`

[2021-03-09 23:12] ylesaout opened #1321 "Broken header links on localized versions"
Not sure if this is the right place to notify you, however there are some issues when navigating on nuxtjs.org localized websites.
Indeed, in such website versions, we can not access to the documentation through the links in the header, while it's working with direct links (e.g. https://fr.nuxtjs.org/docs/2.x/get-started/installation). And once we have clicked on the docs link, all the header link

[2021-03-10 04:06] danilhendrasr commented on #549
Halo mas @febrihidayan, saya ingin bantu menerjemahkan configuration glossary.
- [ ] configuration-server.md
- [ ] configuration-loading.md
- [ ] configuration-loading-indicator.md

[2021-03-10 20:38] Saunved commented on #1304
I will try to explain this as concisely as possible.

I want to incorporate Storybooking as part of our dev workflow. I tried using the ```nuxt-storybook``` module, but it's a real mess when trying to get it to work with Tailwind. You have to dig into Webpack and reconfigure things, and there are no good online resources to help with it. After struggling for a few hours, I tried using ```nuxt-stor

[2021-03-10 23:45] danielroe commented on #1304
A current workaround could be to have a folder called `stories` in your folder structure, and then use `extendRoutes()` to automatically add all Vue components in that folder, if in development.

[2021-03-11 06:55] jefrydco commented on #549
Btw saya menemukan nilai padanan dari `Default`, nilai padanannya `Asali`. Tapi `Bawaan` juga seems good.

https://id.wikipedia.org/wiki/Asali_(ilmu_komputer)

[2021-03-11 08:36] Saunved commented on #1304
@danielroe Will this allow us to view each component in isolation (like with nuxt-storybook?)
It's super helpful to be able to do that since it helps with testing in the early stages of the project and developers can keep track of what everyone is working on in a centralized location.

[2021-03-11 15:27] febrihidayan commented on #549
@jefrydco Suatu saat harus menggunakan kata Asali agar terbiasa di dengar, sebab kata tersebut sudah terdaftar di KKBI

https://kbbi.kemdikbud.go.id/entri/asali

[2021-03-11 16:55] gkatsanos commented on #1215
it didnt appear on the Devtools Vuex tab...

[2021-03-12 06:57] geminixandroid opened #1325 "Open Graph Facebook validator"
Facebook open graph validator can't correctly recognize meta tags,  due to
`data-n-head="ssr" data-hid="og:site_name"`
All open grap tags shows in **untreated tags**

Example: [validate nuxt.org](https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fnuxtjs.org%2F)

[2021-03-12 07:57] manniL commented on #1325
Hey 👋

This looks fine through the link you posted

![grafik](https://user-images.githubusercontent.com/640208/110909955-fd75c000-8310-11eb-9656-f6d327570bf6.png)

The "extra attributes" shouldn't hinder any crawler to understand the meta tag AFAIK.

[2021-03-12 11:41] geminixandroid commented on #1325
but it shows
`Based on the raw tags, we constructed the following Open Graph properties`
tags are invalid, but Facebook can recognize it

[2021-03-12 12:28] Namchee commented on #549
Mas @febrihidayan, saya akan melanjutkan penerjemahan untuk berkas

- [ ] `configuration-runtime-config.md`
- [ ] `configuration-ssr.md`

[2021-03-14 12:15] #1321 closed

[2021-03-14 13:45] #1325 closed

[2021-03-15 00:20] danielvouch commented on #1091
@CodeSpent Any update on this?

[2021-03-15 01:20] CodeSpent commented on #1091
I've unfortunately so far only gotten the runaround with basic support & invites to upgrade my support plan for more in-depth help.

I've since moved away from the idea of Amplify until some new information surfaces.

[2021-03-15 03:36] ursuchcute commented on #122
请问解决了问题了吗，路由跳转正常，页面刷新后端接受不到参数

[2021-03-15 09:19] #1299 closed

[2021-03-16 13:47] nokazn opened #1348 "Not found static files in example of Vercel deployment with PWA module"
## Summary

I tried to deploy Nuxt.js app with Vercel following [Service Worker with Nuxt PWA Module](https://nuxtjs.org/docs/2.x/deployment/vercel-deployment#service-worker-with-nuxt-pwa-module) page, but contents in `static` derictory were not found.

Contents in `static` directory such as `favicon.ico` are deployed not under `/_nuxt/static` directory but at document root by vercel-builder.

<im

[2021-03-25 14:07] Soviut opened #1364 "Document that layout/error.vue is a special case"
### Is your feature request related to a problem? Please describe.

We needed to make a custom error page for a special case in our app (something that doesn't fall into the normal bounds of 4xx errors). After reading the docs on layouts, I thought it would be a good idea to create a `layouts/error.vue` layout and apply it with `layout: 'error'` to our custom message.

I thought this would kill tw

[2021-03-27 06:52] davydnorris opened #1366 "Describe static site behaviour better in documentation"
### Is your feature request related to a problem? Please describe.

I am using nuxt in static mode to generate my web site, and recently added a footer to provide cookie usage information. I am using the browser's localStorage to save the user's acceptance and privacy settings, and a v-if to hide the footer if they have accepted the info.

I've added the code into the footer itself, reading and se

[2021-04-03 11:18] kuznickic opened #1383 "Property or method show is not defined"
Trying to follow the samples for Lazy loading but I get a bunch of errors stating property or method is not defined

[2021-04-03 13:49] clemcode opened #1388 "Reference english version of documentation"
## Context

The english doc is always the most up to date. The translations, as a community effort, are sometimes behind. It leads to a lot of confusion as sometimes examples are outdated in a specific language version of the doc.

## Proposal

Include on all pages a warning that the translation is a community effort, and thus can be outdated. Provide a link to the english counterpart of the page.

[2021-04-05 02:11] StackTrac3 commented on #1091
AWS Support  will probably just tell you how to run `nuxt` on AWS `e3`, which you can find guides for.

Amplify supports two types of cli `backends`: `REST` and `GraphQL`.

The alternative is hosting a node app through `amplify add backend`. Yea, that's not supported.

The build file for `amplify add hosting` only uses node to `nuxt generate` a static site - and I think that really confuses a lot

[2021-04-08 12:14] aceol opened #1395 "Conflict with CSP in server response and header"
👋  I don't know if it's a bug or a misunderstanding on my side:

With the CSP feature enabled in SSR I can add custom CSP policies in response header:
✅
[code]

It works ok, but if I enable _addMeta_ it add only the hash script-src policy to the html meta (not the policies). It does conflict with whatever is set in my response header policies.

🛑
[code]
code for the addMeta option:
https://github.

[2021-04-17 07:12] aytdm commented on #544
We've all done 🙌

[2021-04-17 07:13] #544 closed

[2021-04-19 11:29] mhadaily commented on #30
Is this still valid? I'd like to use the whole setup of your website but I couldn't find any license.

[2021-04-21 10:36] Pareder opened #1402 "Wrong module function name in directory-structure/modules Template plugins example"
Currently in documentation for `directory-structure/modules` in Template plugins example there is a mismatch between module function name and plugin purpose (https://github.com/nuxt/nuxtjs.org/blame/main/content/en/guides/directory-structure/modules.md#L331). As plugin is responsible for Google Analytics it is better to name module function something like `nuxtGoogleAnalytics` or `nuxtGoogleAnalyt

[2021-04-29 09:31] thedb commented on #1318
要看中文文档请移步zh.nuxtjs.org，nuxtjs.cn已经没人维护了
https://zh.nuxtjs.org/docs/2.x/get-started/installation

[2021-04-30 16:22] fajarafriansh commented on #549
Halo mas @febrihidayan, saya ingin melanjutkan penerjemahan untuk berkas

📝 guides -> get-started
- [ ] commands.md

[2021-04-30 18:11] rrd108 opened #1413 "node 16 fibers in docs/2.x/features/configuration#pre-processors"
Fibers does not support node v16. I think a note should be added about this in the documentation at docs/2.x/features/configuration#pre-processors

[2021-05-02 06:05] kartikaaekap opened #1415 "Error in all components and layouts: (Module parse failed: Unexpected token (23:62) You may need an appropriate loader to handle this file type)"
# Bug report

Hello, I've tried to make a PWA using NuxtJs. When I tried to build them, I got many error, for example like my following picture :
![image](https://user-images.githubusercontent.com/51069408/116341367-ffd1a200-a80a-11eb-8d6c-03656b8a7455.png)

**What is the current behavior?**
This is my babel plugins configuration :
![image](https://user-images.githubusercontent.com/51069408/116341

[2021-05-03 10:25] math280h opened #1418 "docs: DO App Platform Deployment issues."
When following the [deploying-to-do-app-platform.md](https://github.com/nuxt/nuxtjs.org/blob/main/content/en/guides/deployment/deploying-to-do-app-platform.md) guide - It doesn't specify anything about the HOST env variable. However I've recently noticed that it's required on DO App platform that the application listens on the servers ip and not localhost

This can be solved by adding `HOST=0.0.0.

[2021-05-03 10:54] math280h commented on #1036
We currently deploy applications using docker-compose where we use both nginx as a proxy and a node server. I've added some examples of what we do below, however I've had to remove some information for privacy purposes.

### Production

**Folder Structure**
- docker-compose.yml
- docker
  - nginx
    - templates
      - default.conf.template
  - Dockerfile
  - entrypoint.sh

_docker-compose.yml_
[

[2021-05-04 12:01] Bookman0001 opened #1421 "docs(ja): modify sample description about configuration-srcdir page."
## About
Origin doc is as follows.

https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-srcdir

Japanese doc is as follows.

## Suggesting
src フォルダに移動する → client フォルダに移動する

https://ja.nuxtjs.org/docs/2.x/configuration-glossary/configuration-srcdir

[2021-05-05 09:55] #1421 closed

[2021-05-09 20:55] fajarafriansh commented on #549
Saya juga akan melanjutkan penerjemahan untuk berkas

📝 guides -> configuration glossary
- [ ] configuration-render.md
- [ ] configuration-router.md
- [ ] configuration-server-middleware.md

[2021-05-13 08:43] pi0 opened #1434 "Improve upgrading guide"
Current guide: https://nuxtjs.org/docs/2.x/get-started/upgrading

## Goal 1: Generic upgrade guide

There are common tasks when upgrading nuxt like ensuring lock-file is not stalled, troubleshoot when upgrade goes wrong (clear caches, check node version, downgrade and bug report). I usually explain them per issue but would be nice having an official page explaining this and linking in each release

[2021-05-13 08:44] pi0 commented on #1290
Closing in favor of #1434

[2021-05-13 08:44] #1290 closed

[2021-05-16 10:31] #1402 closed

[2021-05-17 03:52] OsvaldoRino opened #1447 "doc"
hi

[2021-05-17 08:09] #1447 closed

[2021-05-19 07:50] bcs-gbl commented on #1091
Amplify support for Next.js SSR:
https://docs.aws.amazon.com/amplify/latest/userguide/server-side-rendering-amplify.html

I hope Nuxt is coming

[2021-05-19 21:39] DreaMinder commented on #548
This section is finished as well:

**guides -> features**

- [x] configuration.md
- [x] data-fetching.md
- [x] deployment-targets.md
- [x] file-system-routing.md
- [x] live-preview.md
- [x] loading.md
- [x] meta-tags-seo.md
- [x] nuxt-components.md
- [x] rendering-modes.md
- [x] transitions.md

[2021-05-25 07:31] shahbaz17 opened #1457 "Mobile view of blog page is overflown"
I was reading https://nuxtjs.org/blog/creating-blog-with-nuxt-content on my mobile and saw the ```:src="require(`~/assets/images/${article.img}`)"``` is causing the overflow. Can someone confirm this?

![Nuxt Blog code overflow](https://user-images.githubusercontent.com/6962565/119456679-8c16ac80-bd58-11eb-94dc-2d21a3cc29be.png)

This could be fixed by adding `word-break: break-word;` or `word-bre

[2021-05-25 12:56] shahbaz17 commented on #1457
Thanks @danielroe

**This one is from Safari on iPhone 12**👇
![NuxtorgSafarioniPhone12](https://user-images.githubusercontent.com/6962565/119498914-c8133700-bd83-11eb-88cf-73e339036eca.PNG)
**This one is from Chrome on iPhone 12** 👇
![Nuxt orgChromeoniPhone12](https://user-images.githubusercontent.com/6962565/119498924-ccd7eb00-bd83-11eb-8e0e-04a6e02543d4.jpeg)

Steps to reproduce it:
* Visit http

[2021-05-25 13:00] shahbaz17 commented on #1457
PR is ready for review @danielroe

[2021-05-25 22:12] #1457 closed

[2021-05-29 15:59] whwh1233 commented on #547
gogogo,I will continue the Chinese translation work!

[2021-05-30 06:59] ECJ222 commented on #1383
Please could you provide more information on this, like the code sample and the error message?

[2021-05-31 02:57] thedb commented on #547
Thank you for your help. But I have a project this week.
I will talk to you about the current progress when I am free.

[2021-06-02 07:53] winter-ice commented on #1318
中文文档也没有啊，内容都没有翻译

[2021-06-03 10:34] #1348 closed

[2021-06-14 08:10] tobiasdiez opened #1484 "Improve documentation of how to deploy (to azure)"
### Is your feature request related to a problem? Please describe.

The documentation around deployment is rather sparse, especially for azure. For example, it is not even clear which files one need to copy (to azure) for a successful deployment. By trail and error, I found the following:
- `nuxt.config`
- `/nuxt`  (or `/dist` for static build)
- `node_modules` (which then probably results in an e

[2021-06-16 03:37] cabbage9 opened #1488 "Why is the Chinese translation document not displayed on the official website?"
I cloned the project and found that there was a complete Chinese translation, but when I switched zh on the official website, it was still in English. This doesn't happen when I switch to Japanese.
I wanted to try to solve this problem but I didn't know how the official website was constructed. So if any member saw this issue, please help solve the matching problem.
Thank you very much！

[2021-06-16 07:40] clemcode commented on #1488
Hi, we're currently handling a content migration to a more robust system which should be up very soon.

Thank you for the issue, we'll make sure all translations are available on the correct subdomains.

[2021-06-16 09:38] Ali-Nasir-01 commented on #54
It's work for me in Nuxt error layout and It's useful =)))))

[2021-06-18 02:57] hecktarzuli opened #1490 "Debbie is no longer head of learning :("
I believe she's an ambassador now (double check)
https://nuxtjs.org/team

[2021-06-20 07:38] Yarob50 commented on #1091
any update for Nuxt guys?

[2021-06-24 08:52] hughcrt opened #1495 "Open redirect vulnerability"
### Versions

- nuxt: v2.15.3
- node: v12.22.1

### Reproduction
https://github.com/nuxt/nuxtjs.org

### Steps to reproduce
https://nuxtjs.org///google.com redirects to https://google.com.

### What is Expected?
It should redirect to 404.vue

### What is actually happening?
I have the same problem on a Nuxt website, and I fixed it by upgrading Nuxt to 2.15.7. However, I still get errors from Vue-r

[2021-06-24 09:52] #1495 closed

[2021-06-24 13:57] #1488 closed

[2021-06-24 22:45] GoulartNogueira opened #1497 "Minor error on Guide: Async method 'asyncData' has no 'await'"
In the dynamic pages guide [(GitHub Page)](https://github.com/nuxt/nuxtjs.org/blob/main/content/en/guides/directory-structure/pages.md) / [(Nuxt org page)](https://nuxtjs.org/docs/2.x/directory-structure/pages#dynamic-pages) there's this code example:

[code]
When I tried to run it, I got a ESLintError saying `'Async method 'asyncData' has no 'await`
Forgive my limited javascript knowledge, but I

[2021-07-02 18:50] janooosh opened #1510 "RangeError: Maximum call stack size exceeded"
Dear Community,

out of nowhere, the "RangeError Maximum call stack size exceeded" error came up when running yarn dev. I have spent hours on researching the issue but could not find a solution. It never happened before.

I double checked that I am not displaying or logging any large object. I am not using Axios (we use apollo, which worked perfectly fine), and also here I am not working with larg

[2021-07-09 00:06] sidizawi commented on #1490
Hi, I worked on it, and I created a [PR](https://github.com/nuxt/nuxtjs.org/pull/1519)

[2021-07-10 05:49] dreamtank89 commented on #1091
Yeah I would like to know if there is any update for Nuxt

[2021-07-10 19:38] btkostner opened #1522 "bug(preview): Empty title in content causes no title tag"
This is a bug in Docus but the repo isn't public so I'm not sure where I should report it.

## Issue

`content/en/index.md` has no `title` property set, and therefor has no `title` tag being rendered.

## Fix

In `docus` file `core/module.js` has a line like:

[code]

and should be updated to include:

[code]

that way it falls back to the default nuxt title.

You will also want to change the `pag

[2021-07-12 12:04] #1244 closed

[2021-07-12 23:21] ImpossibleReality opened #1526 "Pnpm/Pnpx Docs"
The package manager [pnpm](https://pnpm.io/) is slowly getting more popular, and it would be convenient if the docs added support for it, in addition to yarn and npm.

[2021-07-14 06:12] beliolfa opened #1533 "[Preview] Missing Sponsor"
64 Robots logo is missing on the partners' carousel.

It is also missing on the sidebar inside Docs and Examples pages.

I'm assuming it's missing everywhere due to the recent incorporation .

Thanks!

[2021-07-14 18:41] alejandrocolman opened #1535 "Doc examples on how to access publicRuntimeConfig from different places"
Is it possible to add examples on how to access `publicRuntimeConfig` values from the `store` or JS helper classes?
I only found mentions that this is possible but no code examples on how to do this.

What i'm trying to do is to have a helper JS class for logging to application insights, and read the `appInsightsInstrumentationKey` from `publicRuntimeConfig`. Then I can just import it and have acc

[2021-07-15 08:48] clemcode commented on #1533
Hi @beliolfa

Indeed due to the parallel development of the new website, the logo was not integrated, thanks for notifying us.

We'll add it today, sorry for the inconvenience.

[2021-07-15 16:03] beliolfa commented on #1533
Thank you!

[2021-07-17 22:39] damiothar commented on #54
I use `<a href="" @click.prevent="$router.back()">Go Back</a>`
Leave the href empty to preserve style and use `.prevent` on the click event to avoid redirection.

[2021-07-17 23:26] damiothar commented on #54
@scscgit You could create a component "GoBackLink"
`
<template>
  <NuxtLink :to="path"> Go Back {{ this.$route.path }}</NuxtLink>
</template>

<script>
export default {
  data() {
    return {
      path: '/',
    };
  },
  created() {
    if (this.$nuxt.context.from.path) this.path = this.$nuxt.context.from.path;
  },
};
</script>
`

[2021-07-27 06:57] rowild opened #1584 "[Docs] "head" should mention that also links can be defined"
Here:
https://github.com/nuxt/nuxtjs.org/blob/main/content/en/guides/components-glossary/pages-head.md

the "head" option is discussed. Being new to Nuxt.js, I would believe that this is it. But from what I see in projects and in Debbie's videos, it also allows to define links. This should be discussed or at least mentioned somehow (with a link to a place where "links" are discussed in more detail

[2021-07-28 09:04] Nik96i opened #1589 "Advanced data filter and pretty URL for static websites"
Hi, I'm using NuxtJS + Strapi and I have a big problem with the filtering page. I have a shop page and thousands of products. all of my website's data lives in Strapi. now, I want to create a shop page with a lot of filters for products, like color, size, price, brand, etc. my filters are so many like 20 or 30 filters + pagination and sorting. I'm using pretty URLs and everything is ok without fil

[2021-07-29 09:47] manojap opened #1592 "component auto import not working on custome src"
Nuxt component auto import fail on custom srcDir ....

[2021-07-29 10:06] #1592 closed

[2021-08-04 23:20] VagnerDomingues commented on #1304
so how it was @Saunved? were you able to use the extendRoutes()?

[2021-08-21 21:21] rsornellas commented on #1091
any update?

[2021-08-23 11:45] hmaesta commented on #1091
Amplify ~still sucks~ is kind of a mistery and support for everything except static websites are very unknown.
Even for Next, that they have an official tutorial, support is too simple for a real-world SSR application.

You can notice by previous comments on this issue that _a lot_ of people tried (and failed) to deploy SSR on Amplify.

---

My personal advise:
- If you must deploy on **AWS**: ~hi

[2021-08-24 20:10] valentinoli opened #1636 "Heroku offers static deployment"
Hello,
I noticed that the Deployment section states only deployment for `target: server` is possible via Heroku. Actually, static deployment is possible using [`heroku-buildpack-static`](https://github.com/heroku/heroku-buildpack-static) in conjunction with the Heroku buildpack for Node.js.

The order of buildpacks is this:

![image](https://user-images.githubusercontent.com/23453691/130682052-f25

[2021-08-25 05:59] valentinoli commented on #1636
Yes, sure, I can do that

[2021-08-25 09:24] bradley-varol commented on #1091
Agree and for anyone interested, Digital Ocean's App Platform has worked well for me. Vercel was good but I had [500 errors from Lambda ](https://github.com/aws/aws-sdk-js/issues/3591)- not sure if that's been fixed yet.

[2021-08-30 08:21] renovate[bot] opened #1646 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits and start over, click on a checkbox.

 - [ ] [chore(deps): update devdependency husky to v7](../pull/1506)

## Open

These updates have

[2021-08-31 10:31] doox911 opened #1650 "Why did you add package-lock.json to .gitignore?"
[code]

[2021-08-31 20:04] #1650 closed

[2021-09-02 00:25] artmarydotir commented on #555
Hi,
these translations are for directory-structure
check #1654

📝 guides -> directory-structure

- [x]  assets.md
- [x] nuxt.md

There is somthin that i wanted to mention:
direction of the pre tag and code tag must be LTR.
and only the pre tags are ltr. since we have a lot of code tag in the markdown , **code** direction must be in LTR too.

I attached 2 file that the second file direction is corr

[2021-09-05 14:03] bart commented on #1091
Any updates on this? As far as I can see problem is running the `npm run start` on a serverless environment, right? But how does Next.js do it? I mean SSR should be the same approach for every single framework. We need at least one node instance that is running the code somehow.

[2021-09-09 13:49] StackTrac3 commented on #1091
https://aws.amazon.com/blogs/mobile/host-a-next-js-ssr-app-with-real-time-data-on-aws-amplify/

[2021-09-10 05:49] nicoagp commented on #100
Hi, some time ago I had the same issue and ended replacing all @extend .class which was annoying.

My undertanding is that using style-resources-module is only to be used to make scss files with variales, mixins, etc (but not actual classes) available across the nuxt project.

I think If I add a class (which I would like to extend) into style resources will work but it's absolutetly not recommende

[2021-09-10 15:18] belov38 opened #1675 "Broken link in contribution-guide.md"
[contribution-guide.md](https://github.com/nuxt/nuxtjs.org/blob/main/content/en/_archives/guide/contribution-guide.md) has  broken link to https://cmty.nuxtjs.org/

Have no idea what should be instead.

[2021-09-10 16:08] ramezanidev opened #1676 "error on start nuxt app"
Console Error:
`
workbox-core.prod.js:1 Uncaught (in promise) TypeError: Failed to execute 'put' on 'Cache': Vary header contains *
    at Object.put (workbox-core.prod.js:1)
put	@	workbox-core.prod.js:1
`

[2021-09-14 00:13] foundryspatial-duncan opened #1679 "DigitalOcean App Platform deployment docs are missing HOST=0.0.0.0"
The documentation for launching a Nuxt app on Digital Ocean App Platform are missing a crucial step to set the `HOST` environment variable to `0.0.0.0`. If you don't set that, it will only listen on `localhost` and the app will fail to deploy when the initial healthcheck times out.

The page I'm referring to is: https://nuxtjs.org/docs/2.x/deployment/deploying-to-do-app-platform

[2021-09-14 19:12] djennadhamza opened #1687 "[Arabic (العربية)] translation"
Hi every one,

I starte to translate nuxtjs.org to arabic language,
please feel free to evaluate my translation or improve it

https://github.com/djennadhamza/nuxtjs.org

i finished the configuration files

**i18n configuration**

 :heavy_check_mark: i18n file
:heavy_check_mark:  i18n block on nuxt.config

i still not finished the other files.

[2021-09-15 15:07] Oxonyum opened #1695 "Text Display Error - UltraWide Monitor"
Hi,

There is an issue on my ultrawide monitor to display one title (white on white).

Resolution: 2560*1080
Browser: Mozilla / Chrome

Thanks !

![Capture12](https://user-images.githubusercontent.com/18609568/133459582-a0150fde-fc76-45c2-ac16-a56e54408219.PNG)

[2021-09-15 16:08] nejat-njonjo opened #1697 "Website is down, some pages are not working on /docs/2.x/features"
`GET https://nuxtjs.org/docs/2.x/features/nuxt-components/ 404`
`TypeError: Cannot read properties of undefined (reading 'AppLayout')`
`TypeError: Cannot read properties of undefined (reading 'aside')`

[2021-09-15 17:16] joshwcorbett opened #1701 "Nuxt Contribution Pages... blank pages and broken links"
- [ ] https://nuxtjs.org/guide/contribution-guide/ is completely blank
- [ ] [Link](https://github.com/nuxt/nuxtjs.org/blob/main/content/en/_archives/guide/contribution-guide.md) in website footer for contributing leads to missing Github ReadME

[2021-09-15 17:40] #1697 closed

[2021-09-15 17:50] bitsnaps commented on #1701
As well as many other links (e.g. [configuration-target](https://go.nuxtjs.dev/config-target)...)

[2021-09-15 19:14] ThibaultVlacich opened #1704 "All links from a Google search are broken (404)"
With the launch of the new website, looks like you changed the URL pattern of the documentation, meaning that when searching something on Google, all results from the Nuxt doc are now 404 :/

Example of a search: https://www.google.com/search?q=nuxt+asyncdata

Top results are 404

[2021-09-15 19:22] CodyBontecou opened #1705 "Navigating off of the https://nuxtjs.org/v3/ errors with certain nav options"
Learn → Docs or Examples errors out with the following error:

`404 (/_nuxt/_docus/5b8349c3/data:docus:navigation.json)`

[2021-09-15 19:23] CodyBontecou commented on #1705
This happens when clicking on the nav link (and not going to a new tab)

[2021-09-16 05:33] ctwhome commented on #1705
also pages like this https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-build/

[2021-09-16 05:33] ctwhome commented on #1704
another example: https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-build/

[2021-09-16 05:48] aptiko opened #1708 "No mention of GitHub discussions in nuxtjs.org"
I was referred to github discussions some time ago by Pooya Parsa, whom I met in an unrelated meeting. Today I had forgotten where exactly this discussion place was and I had trouble finding it. I couldn't find any mention of it in nuxtjs.org. Eventually I remembered it had something to do with github, so I typed "github nuxt" in the browser's URL bar and it found the URL in its history.

[2021-09-16 06:59] ydcjeff opened #1709 "Contribute link in footer not found"
Contribute link: https://github.com/nuxt/nuxtjs.org/blob/main/content/en/_archives/guide/contribution-guide.md in the footer not found.

[2021-09-16 09:06] firepolo opened #1723 "Corrupted links"
### Versions
- nuxt: v2.15.7
- node: v16.4.0

### Reproduction
- install a new nuxt project with npm ```npm init nuxt-app <project-name>```
- open file *nuxt.config.js*
- click on links in comment (the links redirect to 404 page)
- https://nuxtjs.org/guides/configuration-glossary/configuration-target

### Exemples
[code]

### Details
#### Link : https://go.nuxtjs.dev/ssr-mode
- 404 : https://nuxtj

[2021-09-16 09:15] medabde opened #1714 "Site not working properly"
Search functionnality doesn't work , and accessing an old link from google gives 404 error

[2021-09-16 09:59] Oxonyum commented on #1695
Thanks !

[2021-09-16 10:20] jameswragg commented on #1704
The entire Internals & Components Glossary sections are currently broken/missing and some of the Configuration Glossary is missing on the new docs site.

**Configuration Glossary**
"The server Property" down is all broken/missing, e.g.
https://nuxtjs.org/docs/configuration-glossary/configuration-server
https://nuxtjs.org/docs/configuration-glossary/configuration-servermiddleware
https://nuxtjs.org

[2021-09-16 10:22] athulanilthomas commented on #1704
@jameswragg These links are working for me,

[2021-09-16 10:32] ctwhome commented on #1704
These things happen all the time, I think that after rushing the team to give updates, the minimum for us is to bring constructive feedback. Also, the links starting to look good again

[2021-09-16 10:34] jameswragg commented on #1704
@athulanilthomas You're night, I hard-refreshed & its working now.

I still had a tab open on the docs (without refreshing) so was able to record the behaviour:
![Screen Recording 2021-09-16 at 11 27 23 am](https://user-images.githubusercontent.com/204175/133597039-e9177b5f-a64d-4849-8b35-147ab3848060.gif)

Guess it was an issue with deploy?

[2021-09-16 11:11] Uninen commented on #1704
Possibly related, some of the shortened URLs in generated `nuxt.config.js` are returning a 404. For example: https://go.nuxtjs.dev/config-build -> https://nuxtjs.org/guides/configuration-glossary/configuration-build -> 404

[2021-09-16 11:45] dolbex opened #1719 "Blog returning 404 error after redeployment"
I noticed the main story was returning a 404 when clicking off the index. Was told by the Nuxt team that this is due to an error at redeployment / regeneration

<img width="1678" alt="Screen Shot 2021-09-15 at 7 31 26 PM" src="https://user-images.githubusercontent.com/954095/133606397-e11144b2-41e2-4673-b815-a21fffde5d3e.png">

[2021-09-16 12:02] tomatebg commented on #1704
The new documentation is much smaller than the previous one, it was difficult to recommend content for some students after the update. It would be respectful of the devs and project continuity to keep previous documentations up and running.

[2021-09-16 14:24] Triloworld opened #1726 "Theme page is not available"
Page is not available (404)
Navigate: Explore (in main men)u -> Themes
Link: https://nuxtjs.org/themes

Response:
[code]
Solution: Hide link or add some information that is on going development

[2021-09-16 15:01] #1705 closed, assigned to nobody

[2021-09-16 16:22] mrleblanc101 opened #1729 "Algolia search not working in `Docs`"
All Query return "No results".
![Capture d’écran, le 2021-09-16 à 12 22 39](https://user-images.githubusercontent.com/17392251/133649164-eca484dc-fadb-4ff5-91d5-359c34979abc.png)

[2021-09-17 09:10] spirico opened #1731 "Nuxt deployment on DigitalOcean app platform documentation suggestion"
Greetings!

First of all, thanks a lot to everyone who works on such a great tool and documentation for that!

In the article about the Nuxt to DO deployment, the main points are described well (https://nuxtjs.org/integrations/deployments/digital-ocean/).

However, I faced the issue of the universal app deployment during the "health check" stage (and, during issue research, I saw that many other p

[2021-09-17 09:25] mshalmanov opened #1733 "Translate to russian"
How i can help translate website and documentation  to russian language ?

[2021-09-17 09:53] mshalmanov opened #1734 "Link is broken"
Hello.

In the README.md file link https://nuxtjs.org/guide/installation is broken.

[2021-09-17 13:41] JiLiZART commented on #1734
Alo broken all links from allover README's files from generated nuxt app like https://nuxtjs.org/guide/plugins

[2021-09-17 20:23] Pooreffects commented on #656
Check out Debbie's YT channel, it contains a fascinating series of Nuxt concepts and workarounds.
https://youtu.be/0ioT7Q7kkVc {layout config}

[2021-09-17 21:35] BrendonHenrique commented on #1053
hey buddy ! I can help !

[2021-09-17 23:56] BrendonHenrique opened #1741 "[Portuguese] translate new guides"
Hey everyone !
I want to help translating doc guides to portuguese, how can I help ?

[2021-09-18 09:13] HZooly opened #1743 "EditOnGithub link is wrong"
Every links calculated at https://github.com/nuxt/nuxtjs.org/blob/main/components/molecules/EditOnGithub.vue#L58 are wrong and lead to a 404 page.

[2021-09-19 17:46] rajmondburgaj commented on #1743
@HZooly does this line of code generate nuxt.config.js links or is it related to sth else ? I am asking because I wanted to create a bug ticket for nuxt.config.js wrong links but wanted to make sure to not create duplicates.

[2021-09-19 19:51] HZooly commented on #1743
@rajmondburgaj maybe it's related for every links in the documentation, but I've noted that only on `EditOnGithub` component.

[2021-09-20 07:05] mochi-sann opened #1746 "Nuxtjs doc Japanese Page Bug:"
Hi

There is a problem that when you visit https://nuxtjs.org/ja/ and reload the page, the title and other information will be displayed as white on white and you will not be able to read the text.

<img width="1463" alt="screenshot 2021-09-20 15 51 22" src="https://user-images.githubusercontent.com/44772513/133965693-221f7b71-de56-452b-b690-bc58c0b5fbf3.png">

OS:Mac OS Big sur
Browser: Chrome 93

[2021-09-20 07:10] mochi-sann commented on #1746
https://user-images.githubusercontent.com/44772513/133966890-5f2c59ae-2e14-4aa0-b8e7-7c3c8b361997.mov

As you can see in this video, I can read it in light mode, but not in dark mode

[2021-09-20 17:47] #1743 closed

[2021-09-21 10:16] kazupon commented on #1746
Thank you for your reporting!

I seem that `.text-sky-black` don't apply to Japanese page text. 🤔
https://user-images.githubusercontent.com/72989/134153298-ae59ff51-49d6-4a29-a54e-a093c0d442c5.mov

I will try to fix it.

[2021-09-21 11:12] #1729 closed

[2021-09-21 14:06] #1723 closed

[2021-09-21 14:07] #1709 closed

[2021-09-21 15:06] danielroe commented on #1490
Thanks for spotting! Now updated [in new site](https://nuxtjs.org/teams).

[2021-09-21 15:06] #1490 closed

[2021-09-21 15:53] #1734 closed

[2021-09-21 16:32] Atinux commented on #1704
Thanks for the update, most of the links should be fixed thanks to #1756

What do you mean by much smaller than the previous one @tomatebg ?

PS, the old documentation is available on https://old.nuxtjs.org for the moment

[2021-09-21 16:33] pi0 commented on #1731
As a quick fix (without nitro), it would be a nice to at least directly linking the article in a banner on DO page.

Also /cc @Dawntraoz I know she made two nice articles about app platform. (https://dev.to/dawntraoz/deploy-potatizer-to-digitalocean-1681)

[2021-09-21 16:35] #1676 closed

[2021-09-21 16:46] #1701 closed

[2021-09-21 17:01] smarroufin opened #1758 "French translations"
Missing translations:

- [x] https://nuxtjs.org/fr/integrations/deployments/layer0
- [x] https://nuxtjs.org/fr/integrations/deployments/cloudflare
- [x] https://nuxtjs.org/fr/integrations/deployments/dokku
- [x] https://nuxtjs.org/fr/integrations/deployments/fume
- [ ] https://nuxtjs.org/fr/integrations/deployments/github-pages
- [ ] https://nuxtjs.org/fr/integrations/deployments/google-appengine

[2021-09-22 09:59] #1533 closed

[2021-09-22 10:12] #1675 closed

[2021-09-22 13:01] #1731 closed

[2021-09-22 13:35] #1695 closed

[2021-09-22 14:19] smarroufin opened #1768 "Modules are blinking when reloading the page"
Page: [nuxtjs.org/modules](http://nuxtjs.org/modules)

Description:
When server rendered, the modules page delivers all the modules then they blink (probably a refetch client side)

[2021-09-22 21:44] BrendonHenrique commented on #1741
hey @smarroufin  !
thanks for clearify this for me, would be a honor to help out with this amazing tool !

[2021-09-23 13:37] smarroufin opened #1775 "Search modal UI needs improvements"
- Rework borders

![CleanShot 2021-09-23 at 15.23.29.png](https://volta.s3.fr-par.scw.cloud/Clean_Shot_2021_09_23_at_15_23_29_6e3fcac449.png)

[2021-09-23 15:00] smarroufin opened #1777 "[Guide] How to translate"
Hi guys,

Here is a guide to help you contribute to translations. We will try to keep it updated so stay tuned to this issue!

### :warning: New Language Integration :warning:
For any new language, one that does not exist yet in the `content` folder, we will require a Lead Translator in order to accept the initial Pull Request.
A Lead Translator is someone that will actively review any content rel

[2021-09-23 16:42] #1687 closed

[2021-09-24 14:05] #1704 closed

[2021-09-25 14:41] atinux opened #1783 "Improve Showcases page on mobile"
I believe this is taking too much space, we shall see at least one showcase in the viewport:
![C0DBC1F7-B0B6-42EC-BA53-0FA66F565CFA.png](https://volta.s3.fr-par.scw.cloud/C0_DBC_1_F7_B0_B6_42_EC_BA_53_0_FA_66_F565_CFA_0414e8a671.png)

- [x] The title can be higher.
- [x] The text for VT can only have a link to the website into the VueTelescope name, no need the url.
- [ ] I would remove the senten

[2021-09-26 01:51] harrischen opened #1786 "The homepage module level is incorrect, so the title cannot be copied"
for example:
Visit: https://nuxtjs.org/

You need to adjust the z-index of this module to be relatively high, so that you can choose "The Intuitive Vue
Framework》
![image](https://user-images.githubusercontent.com/8149304/134790458-72e65a4a-c4ea-4e34-a478-8f271c613fcd.png)

[2021-09-27 02:03] harrischen commented on #1786
Hi @Geminii
When I need to tell others what Nuxt does, then I need to copy this information.

[2021-09-27 12:51] zcqno1 opened #1793 ".nuxtignore in features/configuration is different from the configuration glossary"
`.nuxtignore` in features/configuration demonstrates the `*` with slash, but without slash in configuration glossary.

However, the slash version is not working.

https://nuxtjs.org/docs/features/configuration#nuxtignore
![image](https://user-images.githubusercontent.com/11766057/134911236-74bbd575-c70d-460c-b038-8103e7ba2651.png)

https://nuxtjs.org/docs/configuration-glossary/configuration-ignor

[2021-09-27 12:55] #1741 closed

[2021-09-27 13:10] #1383 closed

[2021-09-27 13:22] #1313 closed

[2021-09-27 13:29] #1224 closed

[2021-09-27 13:39] #1775 closed, assigned to smarroufin

[2021-09-27 13:52] hecktarzuli opened #1794 "Footer Social Icon is Broken"
A social icon on the footer is broken
https://nuxtjs.org/v3

Tested with both Safari and Chrome on a Mac, both show it broken.

![image](https://user-images.githubusercontent.com/2112282/134922017-7ef54124-ed9e-4249-b244-09c914b7109e.png)

[2021-09-27 13:54] atinux opened #1795 "Add Nuxt Nitro workshop by Daniel on VueJS Live"
https://vuejslive.com/workshops-3h

![Screenshot 2021-09-27 at 15.52.58.png](https://volta.s3.fr-par.scw.cloud/Screenshot_2021_09_27_at_15_52_58_6cc9806a0a.png)

[2021-09-27 13:54] smarroufin opened #1796 "Improve Home buttons"
- A `Get started` button that links to the documentation: https://nuxtjs.org/docs/get-started/installation/
- Reorder the buttons?

![CleanShot 2021-09-15 at 16.58.20@2x.png](https://volta.s3.fr-par.scw.cloud/Clean_Shot_2021_09_15_at_16_58_20_2x_073edb32a1.png)

[2021-09-27 14:11] atinux opened #1797 "Events improvements"
I think we should clearly see a timeline with the upcoming and past events (sorting by recent first)

I would choose the same layout as https://nuxtjs.org/modules/ but for the filters label on the left, I can see the Month + Year:
Ex:
- November
- October
- May
- ...
- Sep 2020,
- August 2020,
- ...

We shall group the events per month, this way we can display them with a title (with an anchor lik

[2021-09-27 14:29] #1794 closed

[2021-09-28 10:01] heygambo commented on #1091
I'm also interested in getting this to work with Amplify, but I couldn't figure it out so far.

Currently, I'm working on a custom solution that might be interesting for other people here.

It's possible to put a docker container on ECR, then have it run on Fargate.
From there, you can add a load balancer and auto-scaling.

If you would like to cache particular pages, you can add a CloudFront dist

[2021-09-28 10:49] eliutgon opened #1803 "Text is not fully visible in widescreen"
![image](https://user-images.githubusercontent.com/63687573/135073399-683c0c37-7e3e-4985-acfa-d35e9b1db45e.png)

[2021-09-28 11:08] #1783 closed, assigned to smarroufin

[2021-09-28 12:45] clemcode opened #1805 "[Partners] User flow V2"
As we rollout the new Partnership program, some adjustments must be made to offer a better showcasing experience for them.

# Partner page

- [ ] Partner page V2 integration (Design comp : https://www.figma.com/file/UrEzk0IVlDFFaDAfcwQZfl/NuxtJS-nuxtjs.org?node-id=1830%3A29918)

# Partners list

- [ ] Split Technology and Agency partners with anchor to each section

# Homepage

- [ ] Replace Partn

[2021-09-28 14:37] #1786 closed

[2021-09-28 14:37] #1796 closed, assigned to Flosciante, smarroufin

[2021-09-28 16:13] #1803 closed

[2021-10-01 13:11] Dooxe59 opened #1817 "fix(docs): On firefox, the link to go to the concepts books is broken"
Hi,

While browsing the doc I encountered a little bug :)

Reproduce steps:
Go to this page on Firefox browser

https://nuxtjs.org/docs/get-started/conclusion/

Click on the first button "Check out the Concepts book"

Result: 404 - Page not found

[2021-10-01 13:15] Dooxe59 commented on #1817
PR https://github.com/nuxt/nuxtjs.org/pull/1818

[2021-10-02 10:19] #1817 closed

[2021-10-02 16:36] thomasbnt opened #1893 "Create a RSS Feed on https://nuxtjs.org/releases"
### Is your feature request related to a problem? Please describe.
I [asked on Twitter](https://twitter.com/Thomasbnt_/status/1444331134985330694) if the website as have an RSS Feed for [https://nuxtjs.org/releases](https://nuxtjs.org/releases).

### Describe the solution you'd like

Having an RSS Feed at this URL can be cool for following updates anywhere.

### Describe alternatives you've consid

[2021-10-03 21:41] Atinux opened #1820 "Issue/PR Templates"
We shall add issue and pull request templates in order to easily embrace community contribution 😊

[2021-10-04 15:00] #1758 closed, assigned to Geminii

[2021-10-04 15:13] #1768 closed, assigned to smarroufin

[2021-10-04 15:59] r9mp opened #1826 "Adding a "modules maintainers page""
Hey there!

I would like to develop a "modules maintainers page" if it's ok with you, to put forward maintainers (maybe not a good idea if you want to keep this site as simple as possible). Don't hesitate to say no.

I'm creating this issue to define the scope of my/our development. I was thinking about:
- Basic link in header, footer and on click on the number of maintainers.
- Dedicated page wit

[2021-10-04 16:01] pi0 commented on #1826
Hi @r9mp and thanks for the suggestion. I've moved this to the website repo because we are working on a new home for modules listing and I know it is planned to have a maintainers page. Maybe adding a list of avatars in a new section in https://nuxtjs.org/teams ? /cc @Atinux @danielroe

[2021-10-04 16:54] r9mp commented on #1826
@pi0 I may be able to help on the new home for modules too. Keep me in touch.

[2021-10-06 07:58] samehdoush opened #1830 "problem on https://nuxtjs.org/modules"
### Steps to reproduce
visit page :
https://nuxtjs.org/modules

Scroll down
All data will be gone

Browser: Microsoft edge Version  94.0.992.38
Browser: chrome Version 94.0.4606.71
Screen size : 2560 * 1440

![image](https://user-images.githubusercontent.com/48515888/136162892-b59af049-cb13-4ad3-bc51-7b3c43042686.png)

[2021-10-07 12:16] djennadhamza opened #1834 "[docus] error when trying Yarn dev"
Hi ,
I tried to run
[code]
but i get this error:

✖ Nuxt Fatal Error                                                                             │
   │                                                                                                  │
   │   Error: Cannot find module 'pathe'                                                              │
   │   Require stack:

[2021-10-07 12:56] djennadhamza commented on #1834
Yes i tried this on `main` ,
How to know `yarn.lock` has affected.

[2021-10-07 16:00] darrenchiu commented on #1091
please help to upvote here:
https://github.com/aws-amplify/amplify-console/issues/1860

[2021-10-09 06:50] dandanXO commented on #1834
I think is OS problem.

I use Windows have same issue.

but mac and linux is fine.
@djennadhamza

[2021-10-09 06:57] dandanXO commented on #547
HI I want to translate traditional Chinese.
Do I need  new Folder ?

因為只有看到簡體中文 不知道繁體中文 需要創立新的資料夾嗎？

@thedb  @debs-obrien

[2021-10-09 08:30] samehdoush opened #1838 "Error: Cannot find module 'pathe'"
I wanted to contribute to the translation and addition of the Arabic language
I do the following steps:

npm install

npm run dev

 FATAL  Cannot find module 'pathe'
Require stack:
- D:\nuxt\nuxtjs.org\node_modules\@docus\theme\node_modules\@nuxt\kit\dist\index.mjs

How can I solve this problem?

[2021-10-09 08:33] #1838 closed

[2021-10-10 03:41] eramosr16 opened #1840 "Default nuxt init app had vulnerabilities"
Steps to reproduce:
1. https://nuxtjs.org/docs/get-started/installation
2. Create a new app
3. Run npm install

Expect to see:
No vulnerabilities

Actually see
![Screenshot from 2021-10-09 23-40-18](https://user-images.githubusercontent.com/17813469/136680891-76796dcf-5fd9-406b-ba6a-818d0225c989.png)
:

[2021-10-12 17:12] davidblnc opened #1852 "The gem on Nuxt 3's homepage can be dragged out of view"
Hi! First of all, congratulations for releasing Nuxt 3 😃

When I visited the website, I noticed you can "drag" the gem out of view by right clicking on it and moving the mouse without releasing. The same can be done on mobile using two fingers and dragging.

I've not been able to locate the code to submit the PR, but I'm pretty sure you are using the OrbitControls from ThreeJS, and you didn't set

[2021-10-15 05:59] MoonJuhan commented on #546
@debs-obrien I would like to contribute to the Korean translation of the recently released nuxt3 document. Is this issue in charge of the nuxt3 translation project?

[2021-10-15 09:56] quanghm27 opened #1858 "Wrong order of nuxt lifecycle"
Hello, Nuxt community,

I think it's a mistake in the document [Nuxt lifecycle - client]( https://nuxtjs.org/docs/concepts/nuxt-lifecycle#client)

The docs said running order: `middleware` then `client plugins`
My source code used `ssr: false` but the order is: `plugins` then `middleware`

<img width="1404" alt="Screen Shot 2021-10-15 at 16 55 51" src="https://user-images.githubusercontent.com/280

[2021-10-17 03:36] hereje opened #1863 "Missing translations for spanish [es-ES]"
There are some missing translations for spanish, as you can see on file [es-ES.js](https://github.com/nuxt/nuxtjs.org/blob/main/i18n/es-ES.js); lines:

* 303 to 314
* 319
* 334 to 349

[2021-10-19 10:25] smarroufin opened #1868 "Translated page warning"
We want to display on top of a translated page (non-english/non-original page) a ~~light~~ soft warning to tell users to read the original page if anything seems wrong or deprecated.

- [x] Design
- [x] Code

[2021-10-20 02:23] finnbuster opened #1900 "items disappear when scrolling to the bottom"
The list of modules disappears when I get near the bottom of the list

[2021-10-21 13:56] #1868 closed, assigned to smarroufin, R-mooon

[2021-10-22 16:08] serpi90 opened #1887 "docs/features/loading has a broken image link"
https://github.com/nuxt/nuxtjs.org/blob/51dc49c83c9b62e8e1423e968af42d668b5baa07/content/en/docs/3.features/7.loading.md?plain=1#L100

References to a non existing gif image.

[2021-10-22 16:11] serpi90 opened #1888 "Data fetching mentions activated hook, but there's no documentation about the hook"
https://github.com/nuxt/nuxtjs.org/blob/51dc49c83c9b62e8e1423e968af42d668b5baa07/content/en/docs/3.features/4.data-fetching.md?plain=1#L195

Couldn't find anything about that hook in nuxt, or vue, at least explain when does it trigger.

[2021-10-24 12:26] slim-python opened #1890 "Can't use nuxt 3"
when i enter the command `npx nuxi init nuxt3-app`
i get this error
[code]

[2021-10-25 10:51] #1887 closed, assigned to smarroufin

[2021-10-25 14:24] rowild opened #1894 "[docu] plugins' ssr mode deprecated?"
Here the docu talks about the ssr option of a plugin definition:
https://nuxtjs.org/docs/configuration-glossary/configuration-plugins

It say:
[code]

From other places I know that `mode` is deprecated and instead `ssr` shall be used. Why is this different with plugins? Or is this just a wrong formulation?

Also, it would be great to mention if this configuration also works with node modules and i

[2021-10-26 13:17] #1890 closed, assigned to nobody

[2021-10-26 15:56] kareemsalah227 opened #1898 "[Bug] All documentation is not available"
I'm not sure if this is the right place for this.

The whole documentation is not accessible, getting 404 for pretty much all pages.

Example: https://nuxtjs.org/docs/concepts/views
![Screenshot 2021-10-26 at 17 56 12](https://user-images.githubusercontent.com/39412850/138916212-b7def4f6-b663-431c-89d8-49add0428dc2.png)

[2021-10-26 17:32] boulderwebdev opened #1899 "Search returns no results on https://nuxtjs.org/modules"
### Bug
If I search with the query `markdown` on `https://nuxtjs.org/modules?q=markdown` I get empty results. In addition, refreshing also is broken, giving no results. If I use the [same query](https://modules.nuxtjs.org/?q=markdown&orderBy=desc) on the old modules page, I'm given two results.

### Environments used
* Firefox 90.0 (64-bit) on Ubuntu 21.10
* Chromium Version 95 (Official Build) sn

[2021-10-27 09:37] #1898 closed, assigned to nobody

[2021-10-27 13:00] danielroe opened #1902 "client-side navigation issues"
- [ ] showcases stays in loading mode on client-side nav
- [ ] testimonials are empty (error: `Error: can't access property "id", activeTab is undefined`)
- [ ] sponsors are empty
- [ ] teams - mismatch (framework is under community, community doesn't exist)
- [ ] `404 - Page not found`
  - [ ] case studies
  - [ ] tutorials
  - [ ] deployments
  - [ ] announcements
  - [ ] events
  - [ ] releases

[2021-10-27 13:20] #1902 closed, assigned to nobody

[2021-11-03 11:11] Mikaleb opened #1915 "[Doc] Add info about Vuex store"
Hi,

I just saw something that is not documented at all in the doc at https://nuxtjs.org/docs/directory-structure/store/ :

When a file is in a folder's module, it's going to be interpreted as part of the store.

Example : create a file called whatever.js, instantiate your index.js normally : your new module state has the key whatever in it !

(The only problem I had was that i was including this

[2021-11-11 10:01] bcs-gbl commented on #1091
just Next.js supported

[2021-11-13 01:30] Capricair opened #1927 "How to render a component by user agent"
Hello

I want render a mobile web page by user agent, I added a module in my project and rewrite renderRoute function, like this

[code]
it didn't work, what should I do, I need some help, thanks a lot!

I know next.js has a renderToHTML function can do this
[code]
Does nuxt have the same method?

PS: For some reasons, I can’t do this by redirect to a new url

[2021-11-17 17:02] sandro-git opened #1936 "Display bug on docs"
i don't know if you're aware but there is weird link or image in the botton of this page https://nuxtjs.org/fr/docs/configuration-glossary/configuration-dev
<img width="1512" alt="Capture d’écran 2021-11-17 à 17 58 19" src="https://user-images.githubusercontent.com/17152022/142246959-ed49b9e5-cde6-45b1-9748-771fca04218a.png">

[2021-11-17 17:05] sandro-git commented on #1936
i just check on other pages it's the same.

[2021-11-17 17:28] larbish opened #1937 "Contributors images are not loaded"
Here for example: https://nuxtjs.org/docs/internals-glossary/context/

![image](https://user-images.githubusercontent.com/7290030/142251234-d9f50c07-29bb-4462-ae53-12d69e67470f.png)

[2021-11-17 17:39] smarroufin commented on #1937
Duplicate of #1936

[2021-11-17 17:39] #1937 closed

[2021-11-17 17:41] smarroufin commented on #1936
Thanks for the report :green_heart:

[2021-11-17 17:48] larbish opened #1939 "Docus syntax is not interpreted"
Last block of this page should be a warning card: https://nuxtjs.org/fr/docs/directory-structure/modules/

![image](https://user-images.githubusercontent.com/7290030/142254519-9a61bcc6-0116-418b-8573-da8cca447025.png)

Also, there is both english and french trad here: https://nuxtjs.org/fr/docs/directory-structure/modules/#%C3%A9mettre-des-ressources

![image](https://user-images.githubusercontent

[2021-11-17 23:19] sandro-git commented on #1936
You’re welcome I try to solve it too make a pull request but it’s not my skill level I guess 😉👍🏽

[2021-11-18 04:26] chleeab opened #1941 "Link in Doc die"
When I try to https://nuxtjs.org/docs/directory-structure/store through the navigation bar, it return below

![圖片](https://user-images.githubusercontent.com/88308388/142351525-b88e9827-2032-4ff3-9110-5031e1db5129.png)

But I can access it directly.

[2021-11-18 10:11] smarroufin commented on #1941
Hi @chleeab thanks for the report.
Can you confirm me that if you refresh your page, it loads properly?
This should be related to #1726

[2021-11-18 11:09] #1936 closed

[2021-11-18 11:18] #1939 closed

[2021-11-18 14:43] chleeab commented on #1941
I believe is same issue. Sorry for opening new issue.
It work perfectly now.

[2021-11-18 14:43] #1941 closed

[2021-11-22 20:32] #1852 closed

[2021-11-24 00:06] harlan-zw opened #1947 "[SEO] Missing meta tags for i18n"
I was taking a look at some of the sites HTML and noticed that on non-english pages the meta wasn't accurate for the locale.

These are important as they help Google understand which page a user should see depending on what their language preference is and avoid duplicate content penalties. They can also be used to automatically redirect the user to the page they should be seeing (see nuxt-i18n).

[2021-11-24 01:39] harlan-zw opened #1948 "[SEO] Leading slash redirect"
Another small issue I thought is worth flagging, all of the relative links on the site seem to be without a leading slash, which is okay and it works. However, if you reload a visited relative link without the leading slash you'll notice a redirect.

For search engines, it means they'll be crawling the links without the forward-slash and then hitting the redirect. This wastes the "crawling budget"

[2021-11-24 11:20] dreitzner opened #1949 "Improve preview docs"
nuxtjs.org/content/en/docs/3.features/11.live-preview.md

It would be nice for the docs to include the types for:

- enablePreview
- $preview

I would also appreciate a guide on how to write the preview client in typescript :)

[2021-12-05 16:12] iamarpitpatidar commented on #1947
@harlan-zw I think you're checking i1n legacy coz the new plugin have all the features mentioned above.. https://i18n.nuxtjs.org/seo

[2021-12-06 01:04] harlan-zw commented on #1947
@iamarpitpatidar The nuxtjs.org site doesn't even use that module from what I can see.

Take a look at view-source:https://nuxtjs.org/fr/ and you'll see the problem in the opening HTML block

[2021-12-16 13:43] mauriceoegerli opened #1967 "[Doc] Algolia search not working in docs"
When searching for any term, the search results return "No results". This is the case on both nuxtjs.org and v3.nuxtjs.org.
![image](https://user-images.githubusercontent.com/15955392/146382871-9871dbcb-fd7f-4054-8a20-62a609d6fa6d.png)

[2021-12-16 13:54] smarroufin commented on #1967
Hi @mauriceoegerli, thanks for the report.
We are aware of this and it will hopefully be fixed very soon.

[2021-12-16 13:56] smarroufin commented on #1967
Related issue: https://github.com/algolia/docsearch-configs/issues/4953

[2021-12-16 19:58] #1967 closed

[2021-12-17 03:51] MrHBS opened #1968 "What is the double colon syntax in the markdown pages?"
What is the double colon syntax used in the pages? Eg ::alert{type="next"}

[2021-12-17 09:44] smarroufin commented on #1968
Hi @MrHBS
This is the MDC (MarkDown Component) syntax. An homemade syntax for Docus allowing to declare Vue components in an md file.
Currently I cannot link you any docs or repo since all of this is private, but you will surely be able to check this out in a while!

[2021-12-17 20:56] MrHBS commented on #1968
@smarroufin I really love this syntax and I want to us it in my upcoming blog. Too bad it is private 🙁

[2021-12-20 14:26] danimajo commented on #1584
checked the ticket, link is now a 404, seems like the guides are gone

https://github.com/nuxt/nuxtjs.org/tree/main/content/en

Is this issue still relevant?

[2021-12-20 14:35] rowild commented on #1584
No, I guess this issue can be closed. Thanks you for your feedback!

[2021-12-20 14:35] #1584 closed

[2022-01-02 10:00] oyedejioyewole opened #1971 "Context conflict from nuxt generate"
Using windows 10

Steps to reproduce:
1. yarn
2. yarn build (works the first time)
3. yarn build (Context conflict)

It doesn't build instead I get Context conflict.

[2022-01-04 08:37] xnng opened #1973 "error when yarn dev"
![image](https://user-images.githubusercontent.com/38936252/148032204-09dca564-3ff7-450b-bf7c-157eda743e30.png)

[2022-01-04 08:45] xnng commented on #1973
After reinstalling the dependency, it will be normal

[2022-01-04 08:45] #1973 closed

[2022-01-04 10:36] #1968 closed

[2022-01-04 12:57] smarroufin commented on #1971
@danielroe

[2022-01-04 15:16] danielroe commented on #1971
@OyewoleOyedeji Is this something you're experiencing with the nuxt/nuxtjs.org repository, or is this a more general issue you're facing?

[2022-01-04 15:42] OyewoleOyedeji commented on #1971
Only with this repository

[2022-01-05 10:02] smarroufin commented on #1971
My bad, I thought this was about a general issue.

Actually, I reproduced it on my Mac. As you said, 2 `yarn build` in a row.
[code]

@danielroe This reminds me it already happened to me to have some deploys (of nuxtjs.org) failing due to this kind of blurry error (`Context conflict`) and my only solution was to "Clear cache and redeploy".

[2022-01-05 15:38] OyewoleOyedeji commented on #1971
@smarroufin where can I find the build cache

[2022-01-05 15:50] smarroufin commented on #1971
@OyewoleOyedeji
I would suggest `rm -rf node_modules ; yarn ; yarn build` as workaround for now, it does the trick.
It might be caused by docus node_modules cache :shrug: not sure what is going on

[2022-01-05 16:48] OyewoleOyedeji commented on #1971
Thanks

[2022-01-06 21:31] felipesuri opened #1975 "[Translation] Translation to Portuguese (Brazil)"
Hi everyone!

Today I've started hard work to translate the website to Portuguese, helping Nuxt to be better understood by the Brazilian and Portuguese community.

@smarroufin I feel dedicated and want to actively contribute to Portuguese translations.

Obs.: This is my first PR on open-source projects.

[2022-01-09 13:46] Kolobok12309 opened #1977 "[Doc] `watchParam` component property"
No one word about `watchParam` feature from this PR nuxt/nuxt.js#6244, in all languages

This caused issue nuxt/nuxt.js#10139

[2022-01-10 14:09] smarroufin commented on #1899
This page no longer exists.

[2022-01-10 14:09] #1899 closed

[2022-01-10 14:14] smarroufin commented on #1975
Hey @felipesuri !
Glad to hear that :blush:
Feel free to make PRs and current portuguese contibutors will be able to certify your good work! :green_heart:
PS: I don't know if this was supposed to be a PR but it is an issue

[2022-01-10 17:39] felipesuri commented on #1975
@smarroufin This is an issue, I will create a PR when finish.

[2022-01-11 19:31] nazarepiedady commented on #1975
Before you starting translating the documentation you should open a issue to ask there are some more people translating the documentation to coordinate the tasks thus avoiding conflicts in process. You worked on the folder I was working and I will need send all my work to trash.

I and [Brendon Henrique](https://www.linkedin.com/in/brendon-henrique-s-s-3b5219156/), we divided the tasks and you com

[2022-01-12 11:32] smarroufin commented on #1975
Hi @nazarepiedady

I'm not sure to understand your comment clearly, but you seem to complain about him not "warning", but he just did by this issue and you apparently read it, so I think we are all good here.

I might have missed your issue warning about your current work or your draft PR, but there is none. So how could he knows about it?

Please feel free to make it public so more contributors l

[2022-01-12 14:52] nazarepiedady commented on #1975
Hi, @smarroufin, sorry to bother you with this situation.

@BrendonHenrique call for my help when he did the first pull request with first documents translated, after that we combined to divide the efforts where I could that folders (`pt/deployments/`, `pt/docs/03-features` and `pt/docs/4-directory-structure`) where I am working now, and @BrendonHenrique should take the next folders inside `docs`

[2022-01-12 15:00] smarroufin commented on #1975
No worries :ok_hand: as long as every wanting to contribute can do it :slightly_smiling_face:

Can't wait to see all your work guys! :green_heart:

[2022-01-12 16:33] nazarepiedady opened #1984 "[Translation] Portuguese Translation Planning"
**I did create this issue to:**

- To organize the process of translating all website to Portuguese
- To gather all information about the state of translation of all website to Portuguese
- To track all voluntary translators (to know which part of the site they are translating, to avoid conflicts during all process).

I would like to ask to: @alexchopin, @Atinux, @smarroufin or someone that is mai

[2022-01-12 16:40] nazarepiedady commented on #1984
I am translating the following directories:

- `pt/docs/deployments`
- `pt/docs/3-features`
- `pt/docs/4-directory-structure`

Next I intend to translate the `pt/docs/examples`, but if someone want to translate it it's only warning.

[2022-01-13 10:34] smarroufin commented on #1975
I close this issue and let you guys organize yourselves in #1984 :slightly_smiling_face:

[2022-01-13 10:34] #1975 closed

[2022-01-13 17:13] Agusnez opened #1986 "Static folder in Nuxt 3"
Hi! I noticed that on the [oficial documentation](https://nuxtjs.org/docs/directory-structure/static/) it says that `/static` is the default static folder for Nuxt similar to the `/assets` directory for Webpack. (also available in Nuxt, by the way). But since Nuxt uses Vite, the [documentation of Vite](https://vitejs.dev/guide/assets.html#the-public-directory) says that it uses `/public` as the st

[2022-01-13 19:36] felipesuri commented on #1984
I can help with this Issue or not?

[2022-01-14 03:10] nazarepiedady commented on #1984
@felipesuri I believe to maintain the things organized it's okay to create two version of portuguese, to not make you struggle with the existing differences, so you can make a PR of your `pt-br`, and will continue work upon pt translation.

Make sure to do the necessary changes in configurations files to make two routes being generated one for `pt` website other for `pt-br`. lets make a good job a

[2022-01-14 09:58] smarroufin commented on #1986
Hi @Agusnez
I think you got the wrong documentation. For Nuxt v3, you have to refer to https://v3.nuxtjs.org/docs/
And it says to use `/public`: https://v3.nuxtjs.org/docs/directory-structure/public

[2022-01-14 14:40] felipesuri commented on #1984
@nazarepiedady All right, I will be translating `pt-br`, everything is configured so that the route is `/pt-br` from the start.

@smarroufin I'll create another issue so I ask you to pin this, please!

[2022-01-14 14:59] felipesuri opened #1987 "[Translation] Guide Translation to Portuguese Brasil (pt-br)"
This question will be used to

a. Organize the process of translating the entire website to `pt-br`.
b. To gather all the information about the status of the translation of the whole website to `pt-br`.
c. Track all-volunteer translators (to know which part of the website they are translating, to avoid conflicts during the whole process).

If you would like to volunteer, you can comment below on w

[2022-01-14 19:27] Agusnez commented on #1986
@smarroufin You are right. I got it completely wrong 🤦‍♂️. Thanks for clarifying it.

[2022-01-14 19:27] #1986 closed

[2022-01-16 11:44] Dexalt142 opened #1989 "CSS not loaded in local environment"
Hello, I forked this repo and cloned it into my computer and ran `yarn install`. All deps installed and `yarn.lock` hasn't been affected.
After all the deps are installed I ran `yarn dev`. Files built, development started with no errors.

The issue is every time I opened `localhost:4000` in my browser the CSS is not loaded. Are there any steps that I missed? Thanks.
![image](https://user-images.gi

[2022-01-18 11:06] smarroufin commented on #1989
Hi @Dexalt142
I can't reproduce it and have never experienced that.
Are you on `main` branch and are you sure you have no changes? I would suggest removing `node_modules/`, `.nuxt/` and retrying `yarn ; yarn dev` :shrug:

Anyone else having this issue?

[2022-01-19 13:52] felipesuri commented on #1989
Hi @Dexalt142
Can you tell us more about your development environment?

- Which browser were you using and the version
- Node/npm and yarn version
- What operating system are you using
- Does your browser have any extensions that you suspect are blocking CSS?
- Your terminal doesn't show any error?

[2022-01-19 14:12] felipesuri commented on #1947
@iamarpitpatidar Apparently this is a limitation of Docus. You can open an issue [here](https://github.com/docusgen/issues/issues).

[2022-01-19 17:07] Dexalt142 commented on #1989
Yes I'm on `main` branch and I have no changes. Already tried removing `node_modules/`, `.nuxt/` and ran `yarn install`, `yarn dev` several times but still no luck.

[2022-01-19 17:17] Dexalt142 commented on #1989
- Google Chrome 97.0.4692.71 and Microsoft Edge 97.0.1072.62
- Node 14.17.4 and Yarn 1.22.17
- Windows 10 21H1
- Nope
- No warnings and no errors

[2022-01-20 00:18] felipesuri commented on #1989
@Dexalt142 try upgrading your node version to LTS.

[2022-01-22 08:00] PMLS3 opened #1992 "Nuxt build and deploy"
We are trying to get PWA to work on nuxt3 - repo https://github.com/ctwhome/top-nuxt3

When built locally and running nuxt start, everything is working 100%.

but once build on deployment (google cloud, netlify) the build doesn't create a crucial file: /usr/src/app/.output/server/chunks/client.manifest.mjs

Does anyone know why it will build locally and not in cloud?

We have a open issue on this

[2022-01-22 14:56] Dexalt142 commented on #1989
@felipesuri Node upgraded to LTS version, installed the deps using `npm install` instead of `yarn install`. Unfortunately, I still got the same issue.

[2022-01-23 12:44] felipesuri commented on #1989
@Dexalt142 With the LTS version, exclude the folder and clone again, and install dependencies with `yarn`.

[2022-01-24 10:57] smarroufin commented on #1992
@danielroe Related to Nuxt 3, to move to nuxt/framework

[2022-01-24 13:09] danielroe commented on #1992
@PMLS3 Would you create an issue with a reproduction via https://github.com/nuxt/framework/issues/new/choose?

[2022-01-24 13:09] #1992 closed

[2022-01-25 23:29] vovsemenv opened #1998 "Depricated syntax in Emit assets section"
https://github.com/nuxt/nuxtjs.org/blob/main/content/en/docs/4.directory-structure/8.modules.md#emit-assets
this webpack plugin  usage depreaction error

<img width="999" alt="изображение" src="https://user-images.githubusercontent.com/20096510/151077013-88ed5ae6-8023-436e-8656-17dc654d2c69.png">

[2022-01-26 10:11] kuznickic commented on #1383
My apologies.  I set the wrong column to use as a feature.  Issue is resolved.

[2022-01-26 11:17] #1805 closed

[2022-01-26 23:17] felipesuri commented on #1987
@smarroufin Please, Can you add labels to this issue?

Like:
- Portuguese
- Translations

Please!

[2022-01-27 07:43] Dexalt142 commented on #1989
@felipesuri Cloned the repository, I installed the dependencies both with `npm install` and `yarn install`, and the issue is still there. I also tried repeating the same process on the other machine and I still got the same issue 😕

[2022-01-27 11:53] felipesuri commented on #1989
@Dexalt142 This is so strange. When you run `yarn dev` and open the site in your browser, see what is on the console and send a screenshot, please.

[2022-01-27 12:10] smarroufin commented on #1989
@Dexalt142 I actually thought of something. Do you have an `.env` file, copied from `.env.example`?
If not, please create it. The missing `RECAPTCHA_SITE_KEY` variable breaks partners pages.

But I guess this is not your issue. I re-cloned the repo and did not have any issues :disappointed:

[2022-01-27 12:19] felipesuri commented on #1989
@smarroufin `.env` file is not the problem, because I tried here and worked without `.env`. I made the same steps from the description and worked.

Maybe the problem is with Windows, I really don't know.

[2022-01-27 12:35] Dexalt142 commented on #1989
@smarroufin Yes, I have an `.env` file.

@felipesuri Yeah I tried this on 2 Windows machines and got the same result, Windows might be the problem.
And here is the screenshot of the browser console.
![image](https://user-images.githubusercontent.com/31777261/151359807-a79bfaee-d59d-4fec-b54e-4ec704a53e49.png)

[2022-01-27 12:50] felipesuri commented on #1989
@Dexalt142 Can you try running the app on Firefox Browser?

[2022-01-27 14:50] kevinmarrec commented on #1989
@Dexalt142  Everything works fine for me on Windows 11 with WSL2.
I'm using Brave Browser wich is chromium-based.

Furthermore, I have exactly same outputs in my browser.

Could you inspect an element (`Right click` => `Inspect`) that should be style and check `Styles` panel ?

When it's working it says that the CSS classes are defined within a `<style>` tag, you can click on it and it jumps in th

[2022-01-28 18:16] Dexalt142 commented on #1989
@felipesuri Firefox gives the same result

@kevinmarrec I compared local and nuxtjs.org version, and here are the results:
local
![image](https://user-images.githubusercontent.com/31777261/151599276-7105a652-0bd9-4d56-a0de-d03ce588f4e1.png)

nuxtjs.org
![image](https://user-images.githubusercontent.com/31777261/151599356-fe9862b0-8c73-433e-bd68-bd39a8cede1b.png)

[2022-01-31 02:25] nazarepiedady commented on #1984
Good, I have already seen your commits, continue doing a great job together we will make Portuguese community even stronger.

[2022-01-31 02:33] nazarepiedady commented on #1984
@smarroufin is there a problem in sending a huge PR?

Since, I am the only person working on `pt` folder now, I would like to make a commit with all translated files.

[2022-01-31 09:40] smarroufin commented on #1984
@nazarepiedady Sure, every PR is welcome! And if this is a huge one, even if this takes time, we will handle it!

[2022-02-05 14:32] niceplugin opened #2009 "Do it have a guide for translation?"
I want to add a new language.
No guidelines found.
Can I just write and make a pull request?

[2022-02-05 14:39] #2009 closed

[2022-02-06 12:59] soroushCoder commented on #555
I have translated the directory structure

guides -> directory structure
 content.md

https://github.com/nuxt/nuxtjs.org/pull/2011

[2022-02-07 07:54] smarroufin commented on #2009
Hi @niceplugin !
Sure you can make a pull request, all translations are welcome!
If you didn't find the guide :point_right: #1777

[2022-02-09 10:34] SEMilfred opened #2012 "[Doc] Refer to or explain the `validate` method on the "Pages directory" page"
On [/docs/directory-structure/pages/](https://nuxtjs.org/docs/directory-structure/pages/) the `validate` method is only ever so briefly mentioned under the "The watchQuery property".

It would make sense to mention it as it's own section or at least as part of the "Dynamic pages" section and make sure to link to [/docs/components-glossary/validate/](https://nuxtjs.org/docs/components-glossary/vali

[2022-02-16 06:27] Baiyuetribe opened #2015 "How to extract header embedded styles into separate css files in Nuxt3?"
I have completed naive-ui to support nuxt3, there is an unimportant problem, that is, it is currently impossible to extract the header file as a separate css, please help https://github.com/Baiyuetribe/nuxt3-naive-ui-starter/issues/4
![](https://user-images.githubusercontent.com/43716063/154205964-178cfe08-0719-42c8-8108-c7f3e96538ff.png)

Mini DEOM: https://stackblitz.com/github/Baiyuetribe/nuxt3

[2022-02-16 11:24] smarroufin commented on #2015
Hi @Baiyuetribe
I invite you to post on nuxt/framework repository for any Nuxt 3 related question :slightly_smiling_face:
@danielroe Could you transfer it please?

[2022-02-17 13:56] trizotti commented on #1987
You guys are doing an amazing job translating to pt-BR! Can I help somehow? 😄

[2022-02-17 22:03] felipesuri commented on #1987
Welcome, @trizotti. Actually I'm translating the docs/3.features. You can help me with this? This section is so big.

However, in case you don't want to help me with docs/3.features, you can translate any other section, I only ask to you say what are you doing.

[2022-02-18 09:37] artrayd opened #2018 "Can't load MP3 file at latest NuxtJS 2.15.8"
Just installed fresh NuxtJS 2.15 and wanted to load MP3 file

`// index.vue`
`new Audio(require("@/assets/created.mp3"));`

According to [documentation](https://nuxtjs.org/docs/features/configuration/#extend-webpack-to-load-audio-files) should work like this:

[code]

But it doesn't work! I get this error:
[code]

Also reproduced the problem at Codesandbox

https://codesandbox.io/s/xenodochial-san

[2022-02-18 17:56] trizotti commented on #1987
Sure I can help with the 'docs' page! @felipesuri , any suggestion on how I could help with the 'docs' page? Is there any specific section you'd like to recommend for some parallel work?

[2022-02-18 18:01] trizotti commented on #1987
## Examples
I'm currently working on this page translations, and as it gets done I'll update the following list:
- [x] 1.routing
- [x] 2.data-fetching
- [x] 3.assets-management
- [x] 4.transitions
- [x] 5.seo
- [x] 6.loading
- [x] 7.miscellaneous
- [ ] 8.middlewares
- [ ] 9.plugins
- [ ] 10.modules

[2022-02-18 18:39] artrayd commented on #2018
That's me stupid, I had empty "build: {}" just few lines below, the second one overrides my settings

[2022-02-18 18:39] #2018 closed

[2022-02-18 19:35] felipesuri commented on #1987
I don't understand the 'Examples' above, but, the pages on `docs/3.features` is:

- [x] 1.rendering-modes
- [x] 2.deployment-targets
- [x] 3.file-system-routing
- [ ] 4.data-fetching *WIP*
- [ ] 5.meta-tags-seo `*`
- [ ] 6.configuration `*`
- [ ] 7.loading `*`
- [ ] 8.nuxt-components `*`
- [ ] 9.component-discovery `'`
- [ ] 10.transitions `'`
- [ ] 11.live-preview `'`
- [x] index

The pages with

[2022-02-18 19:49] felipesuri commented on #1987
@trizotti I must recommend that you translate the `docs/4.directory-structure` docs section.

Here are some tips to get a better translation:

- Add i18n config in the `nuxt.config` file, like this: **But never commit it, because this is for better work of the site in development, we can't push this change**
[code]
- Disable any lint extension like `markdownlint` because it can break the site, I'v

[2022-02-21 13:56] Aybee5 commented on #297
Any workaround for this while using Vue 2?

[2022-02-21 20:00] trizotti commented on #1987
Hello! I've finished the translation for the 'Examples' page, but I'm a little bit confused on how to define the replacements for the titles highlighted with green boxes:
![menu-titles](https://user-images.githubusercontent.com/26180773/155018545-c66b8f77-3c23-4f24-8c61-ecb7ea9b9b82.png)

[2022-02-21 22:28] felipesuri commented on #1987
@trizotti for this, you'll need to translate the title on each `index.md` file.

Ex.:

[code]

This code is on the `examples/1.routing/index.md` file.

[2022-03-03 13:26] SKYduclm opened #2023 "How to get the param on URL and call an API from it, before any other request ?"

[2022-03-03 14:35] danielroe commented on #2023
Would love to help but don't have enough information. Check out https://discord.nuxtjs.org, or open a discussion at https://github.com/nuxt/nuxt.js/ (for Nuxt 2) or https://github.com/nuxt/framework (for Nuxt Bridge or Nuxt 3). 🙏

[2022-03-03 14:35] #2023 closed

[2022-03-04 13:01] gregg-cbs opened #2024 "useAsyncData returning data nested in _rawValue"
In all the docs iv read about useAsyncData and useFetch ... none of them talk about this strange object structure I am getting.

I am confused why in the docs it makes the return from the above to methods seem flat but when using it, it is nesting the data inside `_rawValue`, any ideas?:

My request:
[code]

either way i get:
[code]

[2022-03-09 03:42] nazarepiedady commented on #1984
@smarroufin could you merge my pull request?

[2022-03-24 15:46] Adetutu777 commented on #54
This work for me. Thanks

[2022-03-25 12:51] gr-imm opened #2041 "Small typo in https://nuxtjs.org/examples/middlewares/named"
![image](https://user-images.githubusercontent.com/88435018/160123910-354cdac2-a1ad-4051-a87e-064b2eee885d.png)
"`store/auth.js` sets the the user..."

[2022-04-01 10:23] #2041 closed

[2022-04-01 20:31] brianmykietkaecra commented on #1091
Hi everyone, any updates on this?

[2022-04-02 06:05] handreistoicescu opened #2049 "ESLint warning on code resulted from Get Started step"
After creating the `fun.vue` file in the pages directory (as instructed [here](https://github.com/nuxt/nuxtjs.org/blob/db54788e8149fe8bf9fd11a22f60e9014e71b670/content/en/docs/1.get-started/1.installation.md?plain=1#L196)) and subsequently adding some code to it, the user will be presented with an ESLint warning because of the rule `vue/multi-word-component-names`.

I'm not sure if it's intended f

[2022-04-03 03:02] didaputraa opened #2051 "Error installation"
![IMG_20220403_094525_978](https://user-images.githubusercontent.com/56321046/161409405-9b3779f7-2a67-47e9-9a0a-7911d3ded511.jpg)

Nodejs version: 16

[2022-04-04 12:12] smarroufin commented on #2051
Hi @didaputraa,
If I'm not mistaken, you did a `yarn generate`.
I experienced issues due to the `node_modules/.cache`. Try removing `node_modules/.cache` or even the whole `node_modules` folder and `yarn generate` again.
Let me know if it helps :crossed_fingers:

[2022-04-11 11:38] smarroufin commented on #2051
I'll try to have some help from Content experts :sweat_smile:
In the meantime, can you give me context of this issue? Your branch. Any local changes?

[2022-04-11 12:17] Tahul commented on #2051
Hello!

@smarroufin reached me out about this issue.

I just ran a build locally, and it went well.

Here is a [complete log](https://gist.github.com/Tahul/5a243ef60e4181130b93e831866a34e4) of the command.

I would recommend trying the following things:
- Delete `node_modules`, `.nuxt`
- Run `yarn` at project root
- Retry running `yarn build`

If this doesn't work, then I might suspect the fact th

[2022-04-12 10:07] didaputraa commented on #2051
@smarroufin  not yet :(

[2022-04-12 10:08] didaputraa commented on #2051
@Tahul  are you using wsl for this documentation nuxtjs ?

[2022-04-12 10:09] didaputraa commented on #2051
i'am using windows 11

[2022-04-25 04:07] yalin28 opened #2067 "installation error"
When I run npm install I get the following error which prevents me from installing the project：

* screenshot：
<img width="2298" alt="image" src="https://user-images.githubusercontent.com/32334581/165018592-0928bc3d-3e45-4d99-9eb8-21eb452e7e18.png">

* text:
[code]

* some environment：

nodejs : `v16.14.2`
npm : `8.5.0`
OS : `macOS Big Sur 11.6.4`

I don't know why the installation went wrong, I h

[2022-04-25 09:23] smarroufin commented on #1984
Hi @nazarepiedady @felipesuri
If one of you guys could translate `content/pt/_collections/navigations/*` that would be awesome :green_heart:
Then I should be able to enable PT langugage on production!

[2022-04-25 09:44] smarroufin commented on #2067
Hi @yalin28
It seems your node_modules installation fails on `sharp`. This node module needs to build a binary, and it looks like your setup cannot make it.

- I would suggest trying with yarn: `rm -rf node_modules ; yarn install`, see if it changes anything.
- Since the build is made with Xcode binaries, you may want to check if you have any updates of Xcode through MacOS Software Updates.

[2022-04-25 10:08] yalin28 commented on #2067
Thanks for your reply, without any changes in the environment, according to your suggestion, I tried to install it with yarn and it was successful. The project works perfectly !  ✌️✌️✌️

[2022-04-25 10:37] smarroufin commented on #2067
Glad to hear it!
If by any chance you find out why npm fails, keep me posted :blush:

[2022-04-26 02:36] nazarepiedady commented on #1984
I already did the translation for this folder, and now I only waiting the approve of the `content/pt/docs` to send other folders that are ready to be reviewed and applied to the main branch.

[2022-04-26 09:59] #1998 closed

[2022-04-27 09:20] smarroufin commented on #2067
Thank you @lovell for the report!
I guess I didn't encounter it since I'm using npm 6 :roll_eyes:

Thanks @metawrap-dev Nice to have a workaround for npm users

[2022-04-27 09:26] metawrap-dev commented on #2067
The cause of the issue for me was having a `:` character in the file path. Looks like something deep in the toolchain is not escaping/unescaping properly.

[2022-05-04 11:51] gkatsanos commented on #1215
Hello to everyone, is there some update on this one in terms of Nuxt 3 / Documentation? still not possible to see Mutations on SSR with Vue Dev tools.

[2022-05-04 12:15] gkatsanos commented on #1215
PS: what I tried:
1)  into one vuex module
2) imported `import { createLogger } from 'vuex'`
3) exported `export const plugins = [createLogger()]`
4) added `    commit(MUTATIONS.SET_FAVOURITES_COUNT, count, { ssr: process.server })` to one of the commits

[2022-05-24 20:09] nikolas-psaroudakis-rokoko commented on #1091
A plugin worked for me that e.g injects $Auth to context and to "this".

[code]

[2022-05-25 00:45] bradley-varol commented on #1091
I have my entire stack in AWS besides my frontend which is in DO App Platform because I need SSR and don't want to go with Serverless SSR. Fume allows you to host with SSR in AWS but honestly it's far too expensive. I hope Amplify can be an option soon.

[2022-05-25 15:23] cmpere opened #2083 "Docs website is down: 404 (/_nuxt/_docus/b9f8f8b4/content:en:docs:4.directory-structure:6.layouts.md.json) We couldn't find the page you are looking for."
All links starting with views Url are down.

404 (/_nuxt/_docus/b9f8f8b4/content:en:docs:2.concepts:1.views.md.json)
We couldn't find the page you are looking for.

404 (/_nuxt/_docus/b9f8f8b4/content:en:docs:4.directory-structure:6.layouts.md.json)
We couldn't find the page you are looking for.

404 (/_nuxt/_docus/b9f8f8b4/content:en:docs:7.components-glossary:10.watchquery.md.json)

[2022-05-27 08:04] saitam1 opened #2084 "Side navigation broken"
After clicking on `Get started` and being directed to `https://next.vuetifyjs.com/en/getting-started/installation/` it is not possible to click any of the menu options from the left side navigation.

![Screenshot from 2022-05-27 10-03-46](https://user-images.githubusercontent.com/23245678/170657973-8fdd737e-a137-45ce-ba8f-4e63e258cdac.png)

[2022-05-27 08:05] #2084 closed

[2022-05-28 09:00] saifobeidat opened #2085 "The website is very slow and sometimes can't be reached"
Hello, I have been facing this issue since a long time..  sometimes the website can't be reached or it takes too much time to respond ..

example:
![image](https://user-images.githubusercontent.com/24841143/170818546-2747bf50-9f71-4494-9508-8e3e2e7b29f9.png)

https://typescript.nuxtjs.org/cookbook/store/
https://nuxtjs.org/docs/directory-structure/store/

Am I the only one who is facing this issue

[2022-06-03 10:46] YusufcanY commented on #560
i want to work on this issue, how can i contribute?

[2022-06-06 15:56] MonicaFidalgo commented on #1987
Awesome work everyone!! I would love to contribute as well! :)
Is there something that I can help with? Translating some missing page/docs or helping review prs?
Thanks!

[2022-06-08 15:28] MonicaFidalgo commented on #1984
Hi @smarroufin @nazarepiedady @felipesuri I guess I already showed up late, but if happy help is needed, I can also help with PT translations (pt-br not much since I speak portuguese not pt-br :) )

[2022-06-09 01:18] nazarepiedady commented on #1984
@MonicaFidalgo nice to ear it from you, I think your would be very useful when start to touch in NuxtJS 3 website, We will remember your availability.

The translations that already did is good but not perfect, and I personally believe that a effort to turn the sentences more clear and correct any grammatical issue would be great.

[2022-06-09 09:57] MonicaFidalgo commented on #1984
@nazarepiedady that would be awesome! I have been trying Nuxt3 and I'm loving it. And one of the best ways to learn even better would be to help with translations! I will be waiting then! Please don't forget about me :)

[2022-06-10 01:41] nazarepiedady commented on #1984
@MonicaFidalgo of course, when the project starts you will be there.

[2022-06-14 00:05] mrleblanc101 opened #2097 "Algolia Search return results in all languages"
Algolia Search should only return search results in the language the website has been loading.
Currently, almost every time I do a search in english, the first result is for the spanish translation.
Very annoying !

[2022-06-15 14:21] Venegrad opened #2098 "ERROR Server.js Cannot read properties of undefined (reading 'error')"
[code]
How i can debug this? or what is this error?

[2022-06-18 13:38] tsotnesharvadze commented on #1091
any update?

[2022-06-22 16:54] clicktodev opened #2100 "Copy button not visible enough in light mode"
I changed it by applying `background-color: rgba(228,228,231,var(--tw-bg-opacity));` (which is equivalent to the `d-code-group-header-bg` class) to the `button` element and setting the stroke to `stroke: rgb(82, 82, 91);`

Before:
![image](https://user-images.githubusercontent.com/34947993/175092632-c7da7df1-c66d-480e-9b0f-61a89760ca2c.png)

After:
![image](https://user-images.githubusercontent.co

[2022-06-23 15:03] iamandrewluca commented on #2097
https://user-images.githubusercontent.com/1881266/175330916-624951a9-eb5a-40b9-8237-792e33866ebe.mp4

[2022-06-29 07:03] czqn8 opened #2103 "FATAL Cannot set properties of undefined (setting 'github')"
FATAL  Cannot set properties of undefined (setting 'github')

[2022-06-30 16:10] vhoyer commented on #2097
Very annoying indeed, I am native Brazilian and speak fluently Portuguese (the site is displaying Portuguese, not Spanish), nevertheless I prefer to read stuff in English and this is detrimental to my (and everyone else's) experience.

Before seen your issue here, I assumed nuxt.org was getting the default language based on location, and was ready to complain here that the better approach is to al

[2022-06-30 20:56] Gold-angel opened #2104 "Nuxt - renovate"
https://github.com/nuxt/renovate-config-nuxt

[2022-07-07 08:38] hagemann commented on #2024
https://github.com/nuxt/framework/discussions/2189#discussioncomment-1715049

[2022-07-11 08:29] #2100 closed, assigned to nobody

[2022-07-11 14:37] smarroufin commented on #2097
Hello guys!
This has been fixed and should be good now. It was about our config of Algolia Crawler.
Really sorry about the delay and the inconvenience!

Feel free to comment/reopen if anything goes wrong with the search.

[2022-07-11 14:40] mrleblanc101 commented on #2097
🙌

[2022-07-20 21:14] hichemfantar opened #2110 "Docus extension link dead"
The [link](https://marketplace.visualstudio.com/items?itemName=NuxtLabs.docus) in the README for the docus extension leads to 404.

[2022-07-20 22:13] hichemfantar opened #2111 "Client side rendering fails to load images"
Building the project in `ssr: false` mode breaks images. For some reason the build process prepends `_ipx` before each link.
`http://localhost:4000/_ipx/blog/nuxt3-beta/main.jpg?s=864_378`
instead of `http://localhost:4000/blog/nuxt3-beta/main.jpg?s=864_378`

[2022-07-21 14:52] didaputraa opened #2112 "error generate"
node version: 16.15.0
run generate

```WARN  [@vue/compiler-sfc] the >>> and /deep/ combinators have been deprecated. Use :deep() instead.```
[code]

[2022-07-24 04:18] qq406601626 commented on #1989
I have the same problem😅

[2022-07-25 13:26] #2110 closed

[2022-08-01 08:24] davinma commented on #547
Maybe we can add two more files to `i18n` folder, `zh-hans.js` for simple Chinese, and `zh-hant.js` for traditional Chinese.  `zh-ZH.js` looks older than `en-US.js` now.

[2022-08-01 08:45] davinma commented on #547
@dandanXO

You can copy the `content/en` [folder](https://github.com/nuxt/nuxtjs.org/tree/main/content/en) folder, rename the `content/en` to `content/tw`. Copy the `i18n/zh-ZH.js` and rename to `i18n/zh-TW.js`. And, then modify `nuxt.config.ts` like this:

[code]

Finally, run `yarn dev` start the development server.

[2022-08-07 08:29] asheroto opened #2118 "CodeSandbox fails on examples, StackBlitz okay"
I was browsing the examples on the website and kept getting a failed problem on CodeSandbox. All is well with StackBlitz.

Here's the error...

![image](https://user-images.githubusercontent.com/49938263/183282236-5a06bdc4-2124-4de4-87bf-26755db21396.png)

Occurs at least on useAsyncData, useFetch, Universal Router, I believe some more.

[2022-08-14 10:44] brylie commented on #2083
Still getting a "failed to fetch" error on the docs page in August.

![image](https://user-images.githubusercontent.com/17307/184533137-5cefc2e5-d7b6-47f0-a483-cf904e32c237.png)

I write the following in good faith. When a project has a missing documentation page (apparently for several months), it doesn't reflect well on the project stewardship process.

[2022-08-16 07:40] salv0 commented on #1091
Do we have to conclude this is basically never happening? :(

[2022-08-16 08:10] bcs-gbl commented on #1091
Maybe they're waiting for Nuxt 3 release, so it will be another 1 year.
(or the big companies behind React / Angular / Flutter / so on.. pays better)

[2022-08-22 15:23] duderion opened #2123 "After yarn install i get an error about pinia.mjs"
Hi,

in the error message i see that the folder is wrong.

is:  node_modules/pinia/dist/pinia.mjs/dist/pinia.mjs
should be:  node_modules/pinia/dist/pinia.mjs

 ERROR  Rollup error: Could not load /Users/adriangier/Sites/fring/node_modules/pinia/dist/pinia.mjs/dist/pinia.mjs (imported by .nuxt/dist/server/server.mjs): ENOTDIR: not a directory, open '/Users/adriangier/Sites/fring/node_modules/pinia

[2022-08-24 23:37] bart commented on #1091
I lost all hope on that and switched from Nuxt 3 to Vitesse for new projects. In combination with Amplify Studio it's a good catch for full stack applications

[2022-08-26 07:09] passion123 opened #2126 "after running yarn dev getting an error that nuxt is not the external or internal command"
As the steps by  the Set UP in the readme.md

git clone https://github.com/nuxt/nuxtjs.org.git
cd nuxtjs.org/
npm install

after the yarn dev:
get the errror  that nuxt is not the external or internal command
tips: yarn v1.22.19

[2022-08-28 17:10] typeoneerror commented on #1268
@danielroe how about with Node 16?

[code]

[2022-09-21 02:31] miclgael opened #2135 "Releases page appears to be broken."
https://nuxtjs.org/releases/

## Screenshots

**Desktop**

![CleanShot 2022-09-21 at 11 37 05](https://user-images.githubusercontent.com/4301358/191394800-0dbf9842-3003-44fa-bc6c-745b7e210431.png)

**Mobile (WiFi)**

![IMG_00474D935D42-1](https://user-images.githubusercontent.com/4301358/191400917-6b9fbec6-b7b5-4039-8c88-b20c88a7b4fb.jpeg)

**Mobile (4G)**

![IMG_859C3FC6478B-1](https://user-image

[2022-09-24 16:18] fadamakis opened #2138 "Design kit is missing"
The design kit (external link to Figma) is not available - https://nuxtjs.org/design

[2022-09-26 09:25] KareemDa opened #2139 "V3 Website is DOWN"
https://v3.nuxtjs.org/

![image](https://user-images.githubusercontent.com/42810389/192241749-790b483a-68f2-44e2-91ca-136046057a10.png)

[2022-09-26 23:27] JoseChavez98 opened #2140 "Example in Docs is not working (Sandbox)"
[This Sandbox](https://codesandbox.io/s/github/nuxtlabs/examples/tree/master/data-fetching/async-data-hook?from-embed=&file=/pages/index.vue) has an error when starting. This is part of this [docs example](https://nuxtjs.org/examples/data-fetching/async-data)

[2022-10-10 10:10] ozum opened #2142 "Error 500 on v3.nuxtjs.org"
Hi,

I'm getting following page when I go to https://v3.nuxtjs.org. I see the normal page in a split second, but then the following.

Best Regards,

![image](https://user-images.githubusercontent.com/1497060/194843049-0a583490-6be2-49cf-a8ab-70767cc6c4fe.png)

[2022-10-10 10:19] danielroe commented on #2142
If you force refresh, to clear your cache, does this issue resolve?

[2022-10-10 10:23] ozum commented on #2142
Yes, it is solved. Thanks,

[2022-10-10 10:24] #2142 closed

[2022-10-23 16:38] francisashley opened #2151 "Nuxt2 documentation?"
The documentation for Nuxt 2 appears to have been replaced by Nuxt 3. Can the old documentation still be viewed anywhere?

[2022-10-23 16:41] #2151 closed

[2022-11-08 02:44] Disolm opened #2156 "COPY --from=builder /app . invalid from flag value builder"
Previously, the Dockerfile was as specified here https://nuxtjs.org/deployments/koyeb/ worked fine. After updating node changed the code. And the error began to appear.

`FROM node:16.16.0

WORKDIR /app

COPY . .

RUN npm install \
  --prefer-offline \
  --frozen-lockfile \
  --non-interactive \
  --production=false

RUN npm run build

RUN rm -rf node_modules && \
  NODE_ENV=production npm install

[2022-11-09 14:03] engrpeters commented on #1888
Yes. This could be closed

[2022-11-16 05:38] #2156 closed

[2022-11-16 05:43] Aoi-Yuito opened #2160 "Site is continuously refreshing."
Few days ago, I cloned nuxtjs.org on my gitpod server to do some contributions but after running the server (installed as instructed in the README.md file) the server is continuously refreshing. Not just the home page, every page is refreshing again and again.
Note: I haven't changed any files or added anything in the cloned repo but why it's refreshing like this? How to fix it and pls, a little h

[2022-11-16 22:27] taigrr opened #2163 "v3 announcement link is bad."
![image](https://user-images.githubusercontent.com/8261498/202307848-51be1823-49b4-4670-8125-9a9523877897.png)

The component for the NuxtLink automatically prepends a slash to the link, but the link in the app went from being a relative resource to an absolute one on a new domain.

Clicking on the component sends you to [this page](https://nuxtjs.org/https:/nuxt.com/v3), a 404.

![image](https://

[2022-11-16 22:28] taigrr commented on #2163
credit to @jscottsf for noticing the 404

[2022-11-17 05:42] taigrr commented on #2163
This is closed, but the issue is not solved. Code has been merged but it is not deployed to production.

[2022-11-17 08:16] danielroe commented on #2163
yes, your fix was good but there was a deployment issue which we'll resolve shortly

[2022-11-17 10:29] clemcode commented on #2163
We had a deployment issue indeed, it is now deployed, thank you!

https://nuxtjs.org/

[2022-11-17 10:29] #2163 closed

[2022-11-23 10:38] iamfauzi16 opened #2169 "I have problem nuxt js on windows 10."
Hi, there.

i have problem nuxt js on windows 10 i not able  install nuxt js on my system operations. please there can you help me for this issue.

this my issue
![image](https://user-images.githubusercontent.com/53123172/203526132-08d874a8-e78c-4380-a39b-090dd810ec14.png)

[2022-11-23 10:40] iamfauzi16 commented on #2169
![image](https://user-images.githubusercontent.com/53123172/203526532-5116d796-90b3-40b8-aa9d-4dfccfa97f04.png)